<!-- ====================== about their section start ======================== -->
<section class="py-120 bg-main-two-600">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-7">
                <div class="d-flex align-items-center tw-gap-2 tw-mb-3">
                    <span class="tw-text-9 text-green-600">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-white">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h2 class="fw-medium text-white">
                    what’s our clients says about their visa & services
                </h2>
                <div class="swiper about-their-two-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="tw-mt-10">
                                <p
                                 class="fw-medium text-white tw-line-height-50-px tw-text-6">
                                    Climb the mountain not to plant your flag but to embrace the ways challenge, enjoy the air, and behold the. Climb it see the world, not so the world can see you. This is due to excellent service competitive pricing their 
                                </p>
                                <span class="max-w-690-px w-100 tw-h-px bg-white-15-persent tw-my-10"></span>
                                <div class="d-flex align-items-center tw-gap-10 flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="fw-bold tw-text-505 text-white">
                                            Robert J. Hare/
                                        </span>
                                        <span class="fw-medium tw-text-305 text-white">
                                            Graphics Designer
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-7">
                                        <button type="button" id="about-two-button-prev" class="tw-w-12 tw-h-12 bg-white d-flex align-items-center justify-content-center tw-text-5 text-black hover-bg-main-600 hover-text-white tw-duration-300 rounded-circle" >
                                            <i class="ph-bold ph-arrow-left"></i>
                                        </button>
                                        <button type="button" id="about-two-button-next" class="tw-w-12 tw-h-12 bg-white d-flex align-items-center justify-content-center tw-text-5 text-black hover-bg-main-600 hover-text-white tw-duration-300 rounded-circle">
                                            <i class="ph-bold ph-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tw-mt-10">
                                <p
                                 class="fw-medium text-white tw-line-height-50-px tw-text-6">
                                    Climb the mountain not to plant your flag but to embrace the ways challenge, enjoy the air, and behold the. Climb it see the world, not so the world can see you. This is due to excellent service competitive pricing their 
                                </p>
                                <span class="max-w-690-px w-100 tw-h-px bg-white-15-persent tw-my-10"></span>
                                <div class="d-flex align-items-center tw-gap-10 flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="fw-bold tw-text-505 text-white">
                                            Robert J. Hare/
                                        </span>
                                        <span class="fw-medium tw-text-305 text-white">
                                            Graphics Designer
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-7">
                                        <button type="button" id="about-two-button-two-prev" class="tw-w-12 tw-h-12 bg-white d-flex align-items-center justify-content-center tw-text-5 text-black hover-bg-main-600 hover-text-white tw-duration-300 rounded-circle" >
                                            <i class="ph-bold ph-arrow-left"></i>
                                        </button>
                                        <button type="button" id="about-two-button-two-next" class="tw-w-12 tw-h-12 bg-white d-flex align-items-center justify-content-center tw-text-5 text-black hover-bg-main-600 hover-text-white tw-duration-300 rounded-circle">
                                            <i class="ph-bold ph-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="position-relative">
                    <img src="assets/images/bg/about-their-two-bg-img1.png" alt="bg" class="position-absolute bottom-0 tw-start-0 w-100">
                    <span class="w-100 d-flex align-items-center justify-content-center">
                        <img src="assets/images/thumbs/about-their-two-img1.png" alt="img" class="w-100">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== about their section end ======================== -->