<!-- ====================== about their section start ======================== -->
<section class="bg-main-two-600">
    <div class="container max-w-1400-px">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="py-120 ">
                    <div class="d-flex align-items-center tw-gap-2 tw-mb-3">
                        <span class="tw-text-xl text-green-600 d-flex">
                            <i class="ph-bold ph-paper-plane-tilt"></i>
                        </span>
                        <span class="fw-medium tw-text-405 text-white">
                            Study, Work, or Settle Abroad with 100% Legal Support
                        </span>
                    </div>
                    <h2 class="fw-medium text-white">
                        what's our clients says about their visa & services
                    </h2>
                    <div class="swiper about-their-two-slider tw-mt-10">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="bg-white-06 tw-py-11 tw-px-8 tw-rounded-2xl position-relative">
                                    <span class="d-block text-white text-uppercase tw-text-xl fw-semibold tw-mb-6">“GREAT VISA SERVICES”</span>
                                    <ul class="d-flex align-items-center tw-gap-1 tw-mb-4">
                                        <li class="tw-text-lg text-warning-500">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-lg text-warning-500">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-lg text-warning-500">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-lg text-warning-500">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-lg text-warning-500">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                    </ul>
                                    <p class="fw-medium text-white tw-line-height-50-px tw-text-6">
                                        The entire team at Sutcliffe Construction filled me with confidence and the project
                                        ran smoothly from start to finish. The site team were proficient.”
                                    </p>
                                    <div class="tw-mt-12 d-flex align-items-center tw-gap-4">
                                        <span class="tw-w-12 tw-h-12 rounded-circle overflow-hidden">
                                            <img src="assets/images/thumbs/team-details-img1.png" alt="">
                                        </span>
                                        <div class="">
                                            <span class="fw-bold d-block tw-text-505 text-white">
                                                Robert J. Hare
                                            </span>
                                            <span class="fw-medium d-block tw-text-305 text-white">
                                                Graphics Designer
                                            </span>
                                        </div>
                                    </div>
                                    <span class="position-absolute tw-end-0 bottom-0 tw-pb-10 tw-pe-10">
                                        <img src="assets/images/icon/quote-icon-two.png" alt="Quote Icon Two">
                                    </span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="bg-white-06 tw-py-11 tw-px-8 tw-rounded-2xl position-relative">
                                    <span class="d-block text-white text-uppercase tw-text-xl fw-semibold tw-mb-6">“GREAT VISA SERVICES”</span>
                                    <ul class="d-flex align-items-center tw-gap-1 tw-mb-4">
                                        <li class="tw-text-lg text-warning-500">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-lg text-warning-500">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-lg text-warning-500">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-lg text-warning-500">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-lg text-warning-500">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                    </ul>
                                    <p class="fw-medium text-white tw-line-height-50-px tw-text-6">
                                        The entire team at Sutcliffe Construction filled me with confidence and the project
                                        ran smoothly from start to finish. The site team were proficient.”
                                    </p>
                                    <div class="tw-mt-12 d-flex align-items-center tw-gap-4">
                                        <span class="tw-w-12 tw-h-12 rounded-circle overflow-hidden">
                                            <img src="assets/images/thumbs/team-details-img1.png" alt="">
                                        </span>
                                        <div class="">
                                            <span class="fw-bold d-block tw-text-505 text-white">
                                                Robert J. Hare
                                            </span>
                                            <span class="fw-medium d-block tw-text-305 text-white">
                                                Graphics Designer
                                            </span>
                                        </div>
                                    </div>
                                    <span class="position-absolute tw-end-0 bottom-0 tw-pb-10 tw-pe-10">
                                        <img src="assets/images/icon/quote-icon-two.png" alt="Quote Icon Two">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-lg-block d-none">
                <div class="position-relative text-center h-100 d-flex align-items-end">
                    <span class="w-100 text-end">
                        <img src="assets/images/thumbs/about-their-two-img1.png" alt="img" class="w-100 max-w-580-px">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== about their section end ======================== -->