<!-- =================== appy now section start =================== -->
<div class="tw-mt--120-px">
    <div class="container">
        <div class="bg-main-600 tw-py-7 tw-px-7 tw-rounded-xl d-flex align-items-center tw-gap-5 flex-lg-nowrap flex-wrap">
            <span class="max-w-500-px w-100">
                <img src="assets/images/thumbs/appy-now-img1.png" alt="img" class="w-100 max-w-500-px">
            </span>
            <div>
                <div class="d-flex align-items-center tw-gap-2 tw-mb-3" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-text-2xl text-green-600 fw-medium d-flex">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-white">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h2 class="fw-medium text-white tw-mb-3" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    Student & express love us 100% succes rate
                </h2>
                <a href="javascript:void(0)" class="fw-medium tw-text-405 text-white d-flex align-items-center tw-gap-2 hover-underline tw-duration-300"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    Appy now
                    <span>
                        <i class="ph-bold ph-caret-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- =================== appy now section end =================== -->