<!-- ===================== banner two section start ==================== -->
<section class="pt-90 bg-neutral-50 pb-484-px position-relative">
    <img src="assets/images/bg/banner-two-bg-img1.png" alt="bg" class="position-absolute bottom-0 tw-start-0 translate-middle-x tw-start-50">
    <img src="assets/images/shape/banner-two-shape2.png" alt="shape" class="position-absolute bottom-0 tw-start-0 d-xl-block d-none">
    <img src="assets/images/shape/banner-two-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-me-10 tw-mt-170-px animation-upDown d-xl-block d-none">

    <div class="container">
        <div class="position-relative">
            <div class="d-flex justify-content-center">
                <div class="max-w-900-px w-100 text-center">
                    <div class="d-flex align-items-center tw-gap-2 tw-mb-4 justify-content-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-text-9 text-green-600 fw-medium tw-text-405">
                            <i class="ph-bold ph-paper-plane-tilt"></i>
                        </span>
                        <span class="fw-medium tw-text-405 text-black">
                            Study, Work, or Settle Abroad with 100% Legal Support
                        </span>
                    </div>
                    <h1 class="fw-medium text-neutral-900 tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        Smart Solutions for Student Visa Journey
                    </h1>
                    <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 rounded-pill" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <span class="button__flair"></span>
                        <span class="button__label">Book free Consultation</span>
                        <span class="text-white tw-text-xl group-hover-text-white tw-duration-500 position-relative">
                            <i class="ph-bold ph-caret-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===================== banner two section end ==================== -->