<!-- ======================== banner section start ========================= -->
<section style="background-image: url(assets/images/bg/banner-three-bg-img1.png);" class="bg-img position-relative">
    <img src="assets/images/thumbs/banner-three-img1.png" alt="flag" class="position-absolute bottom-0 tw-end-0 d-xl-block d-none">
    <div class="tw-py-158-240-px bg-gradient-banner-three">
        <div class="container max-w-1400-px">
            <div class="max-w-870-px w-100">
                <div class="d-flex align-items-center tw-gap-2 tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="text-green-600 tw-text-7">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-white">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h1 class="fw-medium text-white tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    Trusted Immigration & <span class="fw-normal">Visa Experts..</span>
                </h1>
                <p class="fw-medium tw-text-405 text-white tw-mb-10 max-w-630-px" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    Electric is where early adopters and innovation seekers find lively imaginative tech before it hits the mainstream. emand for 
                </p>
                <a href="booking.html" class="btn btn-main-two hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <span class="button__flair"></span>
                    <span class="button__label">Book free Consultation</span>
                    <span class="text-white tw-text-xl group-hover-text-white tw-duration-500 position-relative">
                        <i class="ph-bold ph-caret-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ======================== banner section end ========================= -->