<!-- ======================== banner section start ========================= -->
<section class="bg-dark-navy-blue position-relative">
    <div class="py-120 bg-gradient-banner-three">
        <div class="container max-w-1650-px">
            <div class="banner-three-content w-100">
                <div class="d-flex align-items-center tw-gap-2 tw-mb-5" data-aos="fade-up" data-aos-duration="800"
                    data-aos-delay="100">
                    <span class="text-green-600 tw-text-2xl">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-white">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h1 class="fw-normal text-white tw-mb-6 tw-leading-none text-uppercase" data-aos="fade-up"
                    data-aos-duration="800" data-aos-delay="200">
                    Trusted, <span class="fw-bold d-inline"> easy and simple </span> Immigration services
                </h1>
                <div class="tw-mt-12 tw-mb-90-px d-flex align-items-center tw-gap-11 flex-sm-nowrap flex-wrap">
                    <div class="d-inline-block position-relative flex-shrink-0">
                        <img src="assets/images/shape/rotation-text.png" alt="Rotate Text"
                            class="animation-rotate-right">
                        <span class="tw-w-12 tw-h-12 d-flex justify-content-center align-items-center text-white tw-text-lg bg-white-08 rounded-circle position-absolute top-50 start-50 translate-middle">
                            <i class="ph ph-arrow-up-right"></i>
                        </span>
                    </div>
                    <p class="fw-medium tw-text-405 text-white max-w-460-px" data-aos="fade-up" data-aos-duration="800"
                        data-aos-delay="300">
                        Our goal is to propel your business forward using world-class cybersecurity and technology
                        solutions. We provide expertise, service, and guidance
                    </p>
                </div>
                <div class="d-flex align-items-center tw-gap-56-px flex-wrap">
                    <div
                        class="d-inline-flex align-items-center tw-gap-3 ">
                        <span
                            class="tw-w-6 tw-h-6 bg-green-600 rounded-circle d-flex align-items-center justify-content-center text-white tw-text-xs group-hover-bg-green-600 group-hover-text-white tw-duration-300">
                            <i class="ph-bold ph-check"></i>
                        </span>
                        <span class="fw-medium tw-text-4 text-white">
                            Study, Work, and PR Visa
                        </span>
                    </div>
                    <div
                        class="d-inline-flex align-items-center tw-gap-3 ">
                        <span
                            class="tw-w-6 tw-h-6 bg-green-600 rounded-circle d-flex align-items-center justify-content-center text-white tw-text-xs group-hover-bg-green-600 group-hover-text-white tw-duration-300">
                            <i class="ph-bold ph-check"></i>
                        </span>
                        <span class="fw-medium tw-text-4 text-white">
                            Study, Work, and PR Visa
                        </span>
                    </div>
                </div>
            </div>
            <div class="banner-three-img d-lg-block d-none">
                <img src="assets/images/thumbs/banner-three-img.png" alt="Thumbnail" class="tw-rounded-xl w-100 h-100 object-fit-cover">
            </div>
        </div>
    </div>
</section>
<!-- ======================== banner section end ========================= -->