<!-- ========================== blog section start ========================== -->
<section class="tw-pt-170-px tw-pb-220-px">
    <div class="container">
        <div class="text-center tw-mb-11">
            <h2 class="fw-medium text-neutral-900 tw-mb-4">
                How to book online?
            </h2>
            <p class="fw-medium tw-text-4 text-paragraph-300">
                We specialize in providing high-quality plumbing solutions for your home or <br>
                business. Our experienced team is committed to resolving
            </p>
        </div>
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="bg-white tw-p-10 tw-rounded-2xl animation-item h-100">
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-7">
                        <span class="tw-py-1 tw-px-4 rounded-pill text-neutral-900 bg-neutral-200">
                            02 Apr 2021
                        </span>
                        <span class="fw-medium tw-text-4 text-neutral-950">
                            Comments (03)
                        </span>
                    </div>
                    <h2 class="h4 tw-mb-7">
                        <a href="javascript:void(0)" class="fw-medium text-neutral-950 hover-underline tw-duration-300 hover-text-neutral-950 line-clamp-3 max-w-500-px">
                            eal stories from the road where every journey leaves a mark
                        </a>
                    </h2>
                    <a href="javascript:void(0)" class="fw-medium tw-text-4 text-neutral-950 d-flex align-items-center tw-gap-2 hover-underline tw-duration-300 hover-text-neutral-950 tw-mb-11">
                        Read More
                        <span class="tw-w-705 tw-h-705 tw-border-blog-two rounded-circle tw-text-3 d-flex align-items-center justify-content-center text-neutral-950">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                    <span class="w-100 overflow-hidden tw-rounded-3xl">
                        <img src="assets/images/thumbs/blog-visa-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-white tw-px-7 tw-py-8 tw-rounded-2xl animation-item d-flex align-items-center tw-gap-4 flex-sm-nowrap flex-wrap tw-mb-7">
                    <span class="overflow-hidden tw-rounded-3xl max-w-210-px w-100">
                        <img src="assets/images/thumbs/blog-visa-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                    <div>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-5">
                            <span class="tw-py-1 tw-px-4 rounded-pill text-neutral-900 bg-neutral-200">
                                02 Apr 2021
                            </span>
                            <span class="fw-medium tw-text-4 text-neutral-950">
                                Comments (03)
                            </span>
                        </div>
                        <h2 class="h4 tw-mb-6">
                            <a href="javascript:void(0)" class="fw-medium text-neutral-950 hover-underline tw-duration-300 hover-text-neutral-950 line-clamp-2">
                                eal stories from the road where every journey...
                            </a>
                        </h2>
                        <a href="javascript:void(0)" class="fw-medium tw-text-4 text-neutral-950 d-flex align-items-center tw-gap-2 hover-underline tw-duration-300 hover-text-neutral-950 tw-mb-10">
                            Read More
                            <span class="tw-w-705 tw-h-705 tw-border-blog-two rounded-circle tw-text-3 d-flex align-items-center justify-content-center text-neutral-950">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="bg-white tw-px-7 tw-py-8 tw-rounded-2xl animation-item d-flex align-items-center tw-gap-4 flex-sm-nowrap flex-wrap">
                    <span class="overflow-hidden tw-rounded-3xl max-w-210-px w-100">
                        <img src="assets/images/thumbs/blog-visa-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                    <div>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-5">
                            <span class="tw-py-1 tw-px-4 rounded-pill text-neutral-900 bg-neutral-200">
                                02 Apr 2021
                            </span>
                            <span class="fw-medium tw-text-4 text-neutral-950">
                                Comments (03)
                            </span>
                        </div>
                        <h2 class="h4 tw-mb-6">
                            <a href="javascript:void(0)" class="fw-medium text-neutral-950 hover-underline tw-duration-300 hover-text-neutral-950 line-clamp-2">
                                eal stories from the road where every journey...
                            </a>
                        </h2>
                        <a href="javascript:void(0)" class="fw-medium tw-text-4 text-neutral-950 d-flex align-items-center tw-gap-2 hover-underline tw-duration-300 hover-text-neutral-950 tw-mb-10">
                            Read More
                            <span class="tw-w-705 tw-h-705 tw-border-blog-two rounded-circle tw-text-3 d-flex align-items-center justify-content-center text-neutral-950">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== blog section end ========================== -->