<!-- ================== booking section start ==================== -->
<div class="tw-pt-75-px tw-pb-190-px">
    <div class="container max-w-1400-px">
        <div class="row gy-4">
            <div class="col-xl-8">
                <div class="d-flex align-items-center tw-gap-4 flex-wrap justify-content-between tw-mb-6">
                    <h5 class="tw-text-24-px fw-semibold text-black">
                        Review Your Booking
                    </h5>
                    <ul class="d-flex align-items-center tw-gap-4 flex-wrap">
                        <li>
                            <a href="javascript:void(0)" class="fw-medium tw-text-4 text-neutral-400 d-flex align-items-center tw-gap-4 hover-text-black tw-duration-300">
                                Flight Selection
                                <span>
                                    <i class="ph-bold ph-caret-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="fw-medium tw-text-4 text-neutral-400 d-flex align-items-center tw-gap-4 hover-text-black tw-duration-300">
                                Booking
                                <span>
                                    <i class="ph-bold ph-caret-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="fw-medium tw-text-4 text-neutral-400 d-flex align-items-center tw-gap-4 hover-text-black tw-duration-300">
                                Payment
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bg-white tw-rounded-xl tw-px-6 tw-pt-6 tw-pb-8 tw-mb-10">
                    <span class="tw-px-205 tw-py-1 text-white bg-green-600 fw-semibold tw-text-4 tw-rounded-md tw-mb-3">
                        One way
                    </span>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-4">
                        <span>
                            <img src="assets/images/thumbs/visa-dashboard-img2.png" alt="img">
                        </span>
                        <span class="fw-medium tw-text-4 text-neutral-500">
                            Biman Bangladesh Airlines
                        </span>
                    </div>
                    <h6 class="d-flex align-items-center tw-gap-4 text-black tw-mb-4">
                        Dubai (DXB)
                        <span>
                            <i class="ph-bold ph-arrows-left-right"></i>
                        </span>
                        New York (USA)
                    </h6>
                    <span class="fw-medium tw-text-4 text-neutral-400">
                        16 Jun 2022
                    </span>

                    <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap tw-mt-8 tw-mb-9">
                        <div>
                            <h5 class="fw-medium text-black d-block tw-mb-4"> 
                                09:45 PM
                            </h5>
                            <h6 class="tw-text-4 fw-medium text-neutral-400">
                                Dubai (DXB)
                            </h6>
                        </div>
                        <div class="max-w-460-px w-100">
                            <div class="slider">
                                <div class="progressbar"></div>
                            </div>
                            <div class="range-input">
                                <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                                <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                            </div>
                            <div class="tw-mt-6 d-flex align-items-center justify-content-center">
                                <div class="price-input d-flex align-items-center tw-gap-1">
                                    <div class="field">
                                        <input type="number" class="border-0 focus-outline-0 tw-w-11 text-neutral-600 input-min" value="2500">
                                    </div>
                                    <span class="">-</span>
                                    <div class="field">
                                        <input type="number" class="border-0 focus-outline-0 tw-w-11 text-neutral-600 input-max" value="7500">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                09:45 PM
                            </h5>
                            <h6 class="tw-text-4 fw-medium text-neutral-400">
                                new york(NYC)
                            </h6>
                        </div>
                    </div>

                    <a href="javascript:void(0)" class="fw-semibold tw-text-4 text-green-600 d-flex align-items-center tw-gap-2 hover-text-green-600 hover-underline tw-duration-300">
                        Flight Details
                        <span>
                            <i class="ph-bold ph-caret-right"></i>
                        </span>
                    </a>
                </div>
                <div class="tw-mb-10">
                    <h5 class="tw-text-24-px fw-semibold text-black tw-mb-6">
                        Enter Traveller Details
                    </h5>
                    <div class="bg-white tw-px-6 tw-pt-5 tw-pb-10 tw-rounded-xl">
                        <div class="d-flex align-items-center tw-gap-3">
                            <h6 class="fw-medium text-black"> 
                                Traveler 1
                            </h6>
                            <span class="tw-px-205 tw-py-1 text-white bg-green-600 fw-semibold tw-text-4 rounded-pill">
                                Adult
                            </span>
                        </div>
                        <span class="w-100 tw-h-px bg-neutral-300 tw-my-405"></span>
                        <h6 class="fw-medium tw-text-4 text-black tw-mb-4">
                            Select from 'Traveler List'
                        </h6>
                        <select class="tw-py-4 form-select tw-px-5 border-neutral-300 border w-100 tw-rounded-lg fw-medium tw-text-405 text-neutral-600 tw-mb-9">
                            <option value="1">Couple</option>
                            <option value="1">Family</option>
                            <option value="1">Friends Group</option>
                            <option value="1">Business Traveler</option>
                            <option value="1">Student Traveler</option>
                        </select>
                        <h5 class="tw-text-24-px fw-medium text-black tw-mb-3"> 
                            Personal Details
                        </h5>
                        <p class="fw-normal tw-text-4 text-neutral-500 tw-mb-10">
                            As mentioned on your passport or government approved IDs
                        </p>

                        <form action="#">
                            <span class="fw-normal tw-text-4 text-neutral-500 tw-mb-3">
                                Select Title
                            </span>
                            <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-7">
                                <label for="mr" class="tw-p-5 fw-medium tw-text-405 text-black border-neutral-300 border tw-rounded-xl">
                                    MR.
                                </label>
                                <label for="ms" class="tw-p-5 fw-medium tw-text-405 text-black border-neutral-300 border tw-rounded-xl">
                                   MS.
                                </label>
                                <label for="mrs" class="tw-p-5 fw-medium tw-text-405 text-black border-neutral-300 border tw-rounded-xl">
                                    MRS.
                                </label>
                            </div>
                            <div class="row gy-4">
                                <div class="col-12">
                                    <span class="fw-medium tw-text-4 text-neutral-500 tw-mb-3">
                                        Given Name / First Name
                                    </span>
                                    <input type="text" id="mr" placeholder="MR." class="w-100 tw-py-305 tw-px-5 border-neutral-300 border tw-rounded-lg focus-border-green-600 focus-outline-0 fw-medium tw-text-4 text-black">
                                </div>
                                <div class="col-12">
                                    <span class="fw-medium tw-text-4 text-neutral-500 tw-mb-3">
                                       Surename/last name
                                    </span>
                                    <input type="text" id="ms" placeholder="MR." class="w-100 tw-py-305 tw-px-5 border-neutral-300 border tw-rounded-lg focus-border-green-600 focus-outline-0 fw-medium tw-text-4 text-black">
                                </div>
                                <div class="col-sm-6">
                                    <span class="fw-medium tw-text-4 text-neutral-500 tw-mb-3">
                                       Nationality
                                    </span>
                                    <input type="text" id="mrs" placeholder="Bangladeshi" class="w-100 tw-py-305 tw-px-5 border-neutral-300 border tw-rounded-lg focus-border-green-600 focus-outline-0 fw-medium tw-text-4 text-black">
                                </div>
                                <div class="col-sm-6">
                                    <label for="frequent" class="fw-medium tw-text-4 text-neutral-500 tw-mb-3">
                                       Frequent Flyer Number (Optional)
                                    </label>
                                    <input type="text" id="frequent" placeholder="Bangladeshi" class="w-100 tw-py-305 tw-px-5 border-neutral-300 border tw-rounded-lg focus-border-green-600 focus-outline-0 fw-medium tw-text-4 text-black">
                                </div>
                            </div>
                            <div class="form-check tw-mt-15 d-flex align-items-center tw-gap-105 tw-ps-0">
                                <input class="form-check-input mt-0 rounded-circle tw-mb-1 tw-w-4 tw-h-4" type="checkbox" value="" id="checkDefault">
                                <label class="form-check-label" for="checkDefault">
                                    Default checkbox
                                </label>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="bg-white tw-px-6 tw-pt-5 tw-pb-10 tw-rounded-xl">
                    <h5 class="tw-text-24-px fw-medium text-black tw-mb-3"> 
                        Contact Details
                    </h5>
                    <p class="fw-normal tw-text-4 text-neutral-500 tw-mb-12">
                        Receive booking confirmation & updates
                    </p>
                    <form action="#">
                        <div class="row gy-4">
                            <div class="col-12">
                                <label for="contact" class="fw-medium tw-text-4 text-neutral-500 tw-mb-3">
                                    Primary Contact
                                </label>
                                <select id="contact" class="tw-py-4 form-select tw-px-5 border-neutral-300 border w-100 tw-rounded-lg fw-medium tw-text-405 text-neutral-600">
                                    <option value="1">Father</option>
                                    <option value="1">Mother</option>
                                    <option value="1">Brother</option>
                                    <option value="1">Sister</option>
                                    <option value="1">Guardian</option>
                                    <option value="1">Spouse</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="Number" class="fw-medium tw-text-4 text-neutral-500 tw-mb-3">
                                    Phone Number
                                </label>
                                <input type="text" id="Number" placeholder="1XXX  XXXXXX   XXXX" class="w-100 tw-py-305 tw-px-5 border-neutral-300 border tw-rounded-lg focus-border-green-600 focus-outline-0 fw-medium tw-text-4 text-black">
                            </div>
                            <div class="col-sm-6">
                                <label for="Email" class="fw-medium tw-text-4 text-neutral-500 tw-mb-3">
                                    Email
                                </label>
                                <input type="email" id="Email" placeholder="Enter Email Address" class="w-100 tw-py-305 tw-px-5 border-neutral-300 border tw-rounded-lg focus-border-green-600 focus-outline-0 fw-medium tw-text-4 text-black">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="bg-white tw-rounded-xl tw-py-6 tw-px-5">
                    <span class="tw-px-205 tw-py-1 text-white bg-green-600 fw-semibold tw-text-4 tw-rounded-md tw-mb-3">
                        One way
                    </span>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-4">
                        <span>
                            <img src="assets/images/thumbs/visa-dashboard-img2.png" alt="img">
                        </span>
                        <span class="fw-medium tw-text-4 text-neutral-500">
                            Biman Bangladesh Airlines
                        </span>
                    </div>
                    <h6 class="d-flex align-items-center tw-gap-4 text-black tw-mb-4">
                        Dubai (DXB)
                        <span>
                            <i class="ph-bold ph-arrows-left-right"></i>
                        </span>
                        New York (USA)
                    </h6>
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="fw-medium tw-text-4 text-neutral-400">
                            16 Jun 2022
                        </span>
                        <span class="fw-medium tw-text-4 text-neutral-400">
                            07:30 - 08:35 (1h 5m, Non Stop)
                        </span>
                    </div>
                    <span class="w-100 tw-h-px bg-neutral-300 tw-my-4"></span>
                    <div>
                        <h6 class="fw-semibold tw-text-405 text-black tw-mb-5">
                            Fare Summary
                        </h6>
                        <div class="d-flex align-items-end tw-gap-3 flex-wrap justify-content-between">
                            <div class="d-flex flex-column tw-gap-2">
                                <span class="fw-medium tw-text-4 text-neutral-400">
                                    Adult (1 traveler)
                                </span>
                                <span class="fw-medium tw-text-4 text-neutral-400">
                                    Base Fare
                                </span>
                                <span class="fw-medium tw-text-4 text-neutral-400">
                                   Tax
                                </span>
                            </div>
                            <div class="d-flex flex-column tw-gap-3">
                                <span class="fw-semibold tw-text-4 text-black">
                                    Bdt 4,024
                                </span>
                                <span class="fw-semibold tw-text-4 text-black">
                                    Bdt 1,175
                                </span>
                            </div>
                        </div>
                    </div>
                    <span class="w-100 tw-h-px bg-neutral-300 tw-mt-7 tw-mb-3"></span>
                    <div class="tw-mb-8">
                        <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3 tw-mb-2">
                            <span class="fw-medium tw-text-4 text-neutral-400">
                                Sub-Total
                            </span>
                            <span class="fw-semibold tw-text-4 text-black">
                                Bdt 5,199
                            </span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap tw-mb-2">
                            <div class="d-flex align-items-center tw-gap-1">
                                <span class="fw-medium tw-text-4 text-neutral-400">
                                    Hot Deals
                                </span>
                                <span class="fw-medium tw-text-305 text-main-600 bg-main-50 tw-px-2 tw-py-1 tw-rounded-sm"> 
                                    BORENNO25
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2 group">
                                <span class="tw-text-6 text-neutral-400 group-hover-text-black tw-duration-300">
                                    <i class="ph-fill ph-plus-circle"></i>
                                </span>
                                <span class="fw-semibold tw-text-4 text-neutral-500 group-hover-text-green-600 tw-duration-300">
                                    Bdt 281
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap ">
                            <span class="fw-medium tw-text-4 text-neutral-400">
                                Convenience Charge
                            </span>
                            <div class="d-flex align-items-center tw-gap-2 group">
                                <span class="tw-text-6 text-neutral-400 group-hover-text-black tw-duration-300">
                                    <i class="ph-fill ph-plus-circle"></i>
                                </span>
                                <span class="fw-semibold tw-text-4 text-neutral-500 group-hover-text-green-600 tw-duration-300">
                                    Bdt 104
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-paragraph-05 tw-rounded-xl tw-py-5 tw-px-3">
                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-2">
                            <span class="fw-medium tw-text-405 text-neutral-400">
                                <strong class="fw-bold text-black">
                                    You Pay
                                </strong>(for 1 Traveler)
                            </span>
                            <span class="fw-semibold tw-text-4 text-black">
                                Bdt 5,199
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                            <span class="fw-medium tw-text-405 text-green-600">
                                You Save
                            </span>
                            <span class="fw-medium tw-text-405 text-green-600">
                                BDT 281
                            </span>
                        </div>
                    </div>
                </div>
                <a href="booking.html" class="btn btn-main-two hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 tw-rounded-lg w-100 tw-mt-4" data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">Booking now</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- ================== booking section end ==================== -->