<!-- ======================== brand section start ======================== -->
<div class="pt-120 tw-bg-gradient pb-120">
    <div class="container">
        <span class="fw-medium tw-text-405 text-black tw-mb-10 d-flex justify-content-center">
            Study, Work, or Settle Abroad with 100% Legal Support
        </span>
        <div class="d-flex align-items-center tw-gap-8 justify-content-between tw-border-black-15-persent flex-wrap tw-mb-18-px">
            <img src="assets/images/thumbs/brand-img1.png" alt="images">
            <span class="tw-h-200-px tw-w-px bg-black-15-persent d-xl-block d-none"></span>
            <img src="assets/images/thumbs/brand-img2.png" alt="images">
            <span class="tw-h-200-px tw-w-px bg-black-15-persent d-xl-block d-none"></span>
            <img src="assets/images/thumbs/brand-img3.png" alt="images">
            <span class="tw-h-200-px tw-w-px bg-black-15-persent d-xl-block d-none"></span>
            <img src="assets/images/thumbs/brand-img4.png" alt="images">
            <span class="tw-h-200-px tw-w-px bg-black-15-persent d-xl-block d-none"></span>
            <img src="assets/images/thumbs/brand-img5.png" alt="images">
            <span class="tw-h-200-px tw-w-px bg-black-15-persent d-xl-block d-none"></span>
            <img src="assets/images/thumbs/brand-img6.png" alt="images">
        </div>
        <div class="d-flex align-items-center tw-gap-8 justify-content-between flex-wrap tw-mb-17">
            <img src="assets/images/thumbs/brand-img7.png" alt="images">
            <span class="tw-h-200-px tw-w-px bg-black-15-persent d-xl-block d-none"></span>
            <img src="assets/images/thumbs/brand-img8.png" alt="images">
            <span class="tw-h-200-px tw-w-px bg-black-15-persent d-xl-block d-none"></span>
            <img src="assets/images/thumbs/brand-img9.png" alt="images">
            <span class="tw-h-200-px tw-w-px bg-black-15-persent d-xl-block d-none"></span>
            <img src="assets/images/thumbs/brand-img10.png" alt="images">
            <span class="tw-h-200-px tw-w-px bg-black-15-persent d-xl-block d-none"></span>
            <img src="assets/images/thumbs/brand-img11.png" alt="images">
            <span class="tw-h-200-px tw-w-px bg-black-15-persent d-xl-block d-none"></span>
            <img src="assets/images/thumbs/brand-img12.png" alt="images">
        </div>
        <div class="row gy-4 align-items-center">
            <div class="col-lg-5">
                <div class="d-flex align-items-center justify-content-end flex-wrap">
                    <img src="assets/images/thumbs/brand-bottom-img1.png" alt="img">
                    <span class="tw-w-110-px tw-h-110-px border-green-500 border rounded-circle"></span>
                    <span class="tw-w-110-px tw-h-110-px border-green-500 border rounded-circle"></span>
                </div>
                <div class="d-flex align-items-center justify-content-end flex-wrap">
                    <img src="assets/images/thumbs/brand-bottom-img2.png" alt="img">
                    <img src="assets/images/thumbs/brand-bottom-img3.png" alt="img">
                    <img src="assets/images/thumbs/brand-bottom-img4.png" alt="img">
                    <img src="assets/images/thumbs/brand-bottom-img5.png" alt="img">
                </div>
                <div class="d-flex align-items-center justify-content-end flex-wrap">
                    <span class="tw-w-110-px tw-h-110-px border-green-500 border rounded-circle"></span>
                    <span class="tw-w-110-px tw-h-110-px border-green-500 border rounded-circle"></span>
                    <img src="assets/images/thumbs/brand-bottom-img6.png" alt="img">
                    <span class="tw-w-110-px tw-h-110-px border-green-500 border rounded-circle"></span>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="swiper brand-bottom-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="bg-white tw-pt-15 tw-pb-7 tw-ps-12 tw-pe-5 tw-rounded-3xl">
                                <ul class="d-flex align-items-center tw-gap-1 tw-mb-8">
                                    <li class="tw-text-4 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-4 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-4 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-4 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-4 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                </ul>
                                <h5 class="fw-medium text-neutral-950 tw-line-height-50-px">
                                    Climb the mountain not to plant your flag but to embrace
            the ways challenge, enjoy the air, and behold the. Climb it
            see the world, not so the world can see you. This is due to
            their excellent service competitive pricing
                                </h5>
                                <span class="w-100 tw-h-px tw-bg-neutral-15-persent tw-mt-15 tw-mb-5"></span>
                                <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between">
                                    <div class="d-flex align-items-end flex-wrap">
                                        <h6 class="tw-text-505 fw-bold text-black ">
                                            Robert J. Hare/
                                        </h6>
                                        <span class="fw-normal tw-text-305 text-paragraph-600">
                                            Graphics Designer
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-3">
                                        <button type="button" id="swiper-button-prev" class="tw-w-12 tw-h-12 d-flex align-items-center justify-content-center tw-text-5 text-black bg-white tw-shadow-neutral-4-persent rounded-circle hover-bg-main-600 hover-text-white tw-duration-300">
                                            <i class="ph-bold ph-arrow-left"></i>
                                        </button>
                                        <button type="button" id="swiper-button-next" class="tw-w-12 tw-h-12 d-flex align-items-center justify-content-center tw-text-5 text-black bg-white tw-shadow-neutral-4-persent rounded-circle hover-bg-main-600 hover-text-white tw-duration-300">
                                            <i class="ph-bold ph-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="bg-white tw-pt-15 tw-pb-7 tw-ps-12 tw-pe-5 tw-rounded-3xl">
                                <ul class="d-flex align-items-center tw-gap-1 tw-mb-8">
                                    <li class="tw-text-4 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-4 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-4 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-4 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-4 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                </ul>
                                <h5 class="fw-medium text-neutral-950 tw-line-height-50-px">
                                    Climb the mountain not to plant your flag but to embrace
            the ways challenge, enjoy the air, and behold the. Climb it
            see the world, not so the world can see you. This is due to
            their excellent service competitive pricing
                                </h5>
                                <span class="w-100 tw-h-px tw-bg-neutral-15-persent tw-mt-15 tw-mb-5"></span>
                                <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between">
                                    <div class="d-flex align-items-end flex-wrap">
                                        <h6 class="tw-text-505 fw-bold text-black ">
                                            Robert J. Hare/
                                        </h6>
                                        <span class="fw-normal tw-text-305 text-paragraph-600">
                                            Graphics Designer
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-3">
                                        <button type="button" id="swiper-button-two-prev" class="tw-w-12 tw-h-12 d-flex align-items-center justify-content-center tw-text-5 text-black bg-white tw-shadow-neutral-4-persent rounded-circle hover-bg-main-600 hover-text-white tw-duration-300">
                                            <i class="ph-bold ph-arrow-left"></i>
                                        </button>
                                        <button type="button" id="swiper-button-two-next" class="tw-w-12 tw-h-12 d-flex align-items-center justify-content-center tw-text-5 text-black bg-white tw-shadow-neutral-4-persent rounded-circle hover-bg-main-600 hover-text-white tw-duration-300">
                                            <i class="ph-bold ph-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======================== brand section end ======================== -->