<!-- ======================== brand section start ======================== -->
<div class="pt-120 tw-bg-gradient">
    <div class="container">
        <span class="fw-medium tw-text-405 text-black tw-mb-10 d-flex justify-content-center">
            Study, Work, or Settle Abroad with 100% Legal Support
        </span>

        <!-- Brand start -->
        <div class="d-lg-block d-none">
            <div class="brand-grid-wrapper position-relative">
                <div class="brand-grid__item tw-px-4">
                    <img src="assets/images/thumbs/brand-img1.png" alt="images">
                </div>
                <div class="brand-grid__item tw-px-4">
                    <img src="assets/images/thumbs/brand-img2.png" alt="images">
                </div>
                <div class="brand-grid__item tw-px-4">
                    <img src="assets/images/thumbs/brand-img3.png" alt="images">
                </div>
                <div class="brand-grid__item tw-px-4">
                    <img src="assets/images/thumbs/brand-img4.png" alt="images">
                </div>
                <div class="brand-grid__item tw-px-4">
                    <img src="assets/images/thumbs/brand-img5.png" alt="images">
                </div>
                <div class="brand-grid__item tw-px-4">
                    <img src="assets/images/thumbs/brand-img6.png" alt="images">
                </div>
                <div class="brand-grid__item tw-px-4">
                    <img src="assets/images/thumbs/brand-img7.png" alt="images">
                </div>
                <div class="brand-grid__item tw-px-4">
                    <img src="assets/images/thumbs/brand-img8.png" alt="images">
                </div>
                <div class="brand-grid__item tw-px-4">
                    <img src="assets/images/thumbs/brand-img9.png" alt="images">
                </div>
                <div class="brand-grid__item tw-px-4">
                    <img src="assets/images/thumbs/brand-img10.png" alt="images">
                </div>
                <div class="brand-grid__item tw-px-4">
                    <img src="assets/images/thumbs/brand-img11.png" alt="images">
                </div>
                <div class="brand-grid__item tw-px-4">
                    <img src="assets/images/thumbs/brand-img12.png" alt="images">
                </div>
            </div>
        </div>

        <div class="d-lg-none d-block">
            <div class="swiper brand-slider left-right-gradient gradient-start-white">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="100">
                            <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
                                <img src="assets/images/thumbs/brand-three-img1.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="200">
                            <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
                                <img src="assets/images/thumbs/brand-three-img2.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="300">
                            <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
                                <img src="assets/images/thumbs/brand-three-img3.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="400">
                            <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
                                <img src="assets/images/thumbs/brand-three-img4.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="500">
                            <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
                                <img src="assets/images/thumbs/brand-three-img5.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="600">
                            <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
                                <img src="assets/images/thumbs/brand-three-img6.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="300">
                            <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
                                <img src="assets/images/thumbs/brand-three-img3.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand End -->

        @@include('../partials/_testimonials-one.html')
       
    </div>
</div>
<!-- ======================== brand section end ======================== -->