<!-- ========================= brand section start ========================== -->
<div class="py-110 bg-neutral-50">
  <div class="container max-w-1650-px">
    <span class="fw-medium tw-text-4 text-heading text-center text-capitalize d-flex justify-content-center tw-mb-15">
      Companies who rely our expertise
    </span>
    <div class="swiper brand-slider left-right-gradient gradient-width-200">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
            <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
              <img src="assets/images/thumbs/brand-three-img1.png" alt="Logo">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
            <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
              <img src="assets/images/thumbs/brand-three-img2.png" alt="Logo">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
            <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
              <img src="assets/images/thumbs/brand-three-img3.png" alt="Logo">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
            <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
              <img src="assets/images/thumbs/brand-three-img4.png" alt="Logo">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
            <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
              <img src="assets/images/thumbs/brand-three-img5.png" alt="Logo">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
            <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
              <img src="assets/images/thumbs/brand-three-img6.png" alt="Logo">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="element-double-animation" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
            <div class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300">
              <img src="assets/images/thumbs/brand-three-img3.png" alt="Logo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ========================= brand section end ========================== -->