<!-- ============================== brand section start ========================= -->
<div class="bg-white py-90">
    <div class="container max-w-1400-px">
        <span class="fw-medium tw-text-405 text-black text-center d-flex align-items-center justify-content-center tw-mb-10">
            Study, Work, or Settle Abroad with 100% Legal Support
        </span>
        <div class="d-flex align-items-center tw-gap-4 justify-content-center flex-wrap">
            <div class="bg-white max-w-330-px w-100 tw-border-blog-bottom-two tw-h-150-px tw-rounded-xl hover-bg-paragraph-50 tw-duration-300 d-flex justify-content-center align-items-center">
                <img src="assets/images/thumbs/brand-img1.png" alt="Brand Image">
            </div>
            <div class="bg-white max-w-330-px w-100 tw-border-blog-bottom-two tw-h-150-px tw-rounded-xl hover-bg-paragraph-50 tw-duration-300 d-flex justify-content-center align-items-center">
                <img src="assets/images/thumbs/brand-img2.png" alt="Brand Image">
            </div>
            <div class="bg-white max-w-330-px w-100 tw-border-blog-bottom-two tw-h-150-px tw-rounded-xl hover-bg-paragraph-50 tw-duration-300 d-flex justify-content-center align-items-center">
                <img src="assets/images/thumbs/brand-img3.png" alt="Brand Image">
            </div>
            <div class="bg-white max-w-330-px w-100 tw-border-blog-bottom-two tw-h-150-px tw-rounded-xl hover-bg-paragraph-50 tw-duration-300 d-flex justify-content-center align-items-center">
                <img src="assets/images/thumbs/brand-img4.png" alt="Brand Image">
            </div>
            <div class="bg-white max-w-330-px w-100 tw-border-blog-bottom-two tw-h-150-px tw-rounded-xl hover-bg-paragraph-50 tw-duration-300 d-flex justify-content-center align-items-center">
                <img src="assets/images/thumbs/brand-img5.png" alt="Brand Image">
            </div>
            <div class="bg-white max-w-330-px w-100 tw-border-blog-bottom-two tw-h-150-px tw-rounded-xl hover-bg-paragraph-50 tw-duration-300 d-flex justify-content-center align-items-center">
                <img src="assets/images/thumbs/brand-img6.png" alt="Brand Image">
            </div>
            <div class="bg-white max-w-330-px w-100 tw-border-blog-bottom-two tw-h-150-px tw-rounded-xl hover-bg-paragraph-50 tw-duration-300 d-flex justify-content-center align-items-center">
                <img src="assets/images/thumbs/brand-img7.png" alt="Brand Image">
            </div>
        </div>
    </div>
</div>
<!-- ============================== brand section end ========================= -->