<!-- ==================== Breadcrumb Start Here ==================== -->
<section class="breadcrumb-section">
    <div class="container max-w-1760-px">
        <div style="background-image: url(assets/images/bg/breadcrunb-bg-img.png);" class="breadcrumb bg-img tw-py-180-px tw-rounded-3xl">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div>
                            <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                                <span class="tw-text-7 text-green-600 d-flex">
                                    <i class="ph-bold ph-paper-plane-tilt"></i>
                                </span>
                                <span class="fw-medium tw-text-405 text-black">
                                    Study, Work, or Settle Abroad with 100% Legal Support
                                </span>
                            </div>
                            <h2 class="tw-mt-2 text-paragraph-950 fw-medium tw-text-90-px"> @@breadcrumbText</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Breadcrumb End Here ==================== -->