<!-- =================== coaching details section start ====================== -->
<section class="py-140">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap tw-mb-10">
            <h2 class="fw-bold text-paragraph-900 max-w-600-px w-100">
                Visa consultancy tips & waiting for visa
            </h2>
            <p class="fw-normal tw-text-405 text-paragraph-750 max-w-530-px">
                Rorem ipsum dolor sit ametconsectetur adipiscing elit,tempor Rorem ipsum dolor sit ametconsectetur adipiscing elit, sed do eiusmod temporRorem ipsum dolor
            </p>
        </div>
        <div class="position-relative tw-mb-13">
            <span class="w-100">
                <img src="assets/images/thumbs/coaching-details-img1.png" alt="img" class="w-100">
            </span>
            <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button tw-h-150-px tw-w-150-px bg-white rounded-circle d-flex justify-content-center align-items-center position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle">
                <span class="text-center">
                    <span class="tw-text-5 text-black d-block tw-mb-1">
                        <i class="ph ph-play"></i>
                    </span>
                    <span class="fw-semibold tw-text-4 text-black d-block">
                        play video
                    </span>
                </span>
            </a>
        </div>
        <div class="row gy-4">
            <div class="col-xl-8">
                <h4 class="fw-medium text-paragraph-800 tw-mb-3">
                    Description
                </h4>
                <p class="fw-medium tw-text-4 text-paragraph-500 tw-line-height-30-px tw-mb-15">
                    UX design refers to the term “user experience design”, while UI stands for “user interface design”. Both elements are crucial to a product and work closely together. But despite their professional relationship, the roles themselves are quite different, referring to very different aspects of the product development process and the design discipline.
                </p>
                <p class="fw-medium tw-text-4 text-paragraph-500 tw-line-height-30-px tw-mb-17">
                    In relation to websites and apps, UI design considers the look, feel, and interactivity of the product. It’s all about making sure that the user interface of a product is as intuitive as possible, and that means carefully considering each and every visual, interactive element the user might encounter.
                </p>
                <h4 class="fw-medium text-paragraph-800 tw-mb-10">
                    Description
                </h4>
                <div class="d-flex align-items-center tw-gap-7 flex-sm-nowrap flex-wrap flex-wrap-reverse tw-mb-15">
                    <div>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                            <h4 class="fw-medium text-neutral-10">
                                01
                            </h4>
                            <span class="fw-medium tw-text-405 text-paragraph-800">
                                Creative Analysis 
                            </span>
                        </div>
                        <p class="fw-medium tw-text-4 text-paragraph-500 tw-line-height-30-px tw-mb-17">
                            Creative analysis is important. It is common for marketers to measure campaign performance at a superficial level. But to fully understand it, 
                        </p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                            <h4 class="fw-medium text-neutral-10">
                                02
                            </h4>
                            <span class="fw-medium tw-text-405 text-paragraph-800">
                                Design & Scatches
                            </span>
                        </div>
                        <p class="fw-medium tw-text-4 text-paragraph-500 tw-line-height-30-px tw-mb-17">
                           A design sketch is a graphical sketched representation of a design plan. A design sketch, see example figure, is a visualization 
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-center tw-gap-7 flex-sm-nowrap flex-wrap flex-wrap-reverse tw-mb-90-px">
                    <div>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                            <h4 class="fw-medium text-neutral-10">
                                03
                            </h4>
                            <span class="fw-medium tw-text-405 text-paragraph-800">
                                Prototype & Wireframing 
                            </span>
                        </div>
                        <p class="fw-medium tw-text-4 text-paragraph-500 tw-line-height-30-px tw-mb-17">
                            A prototype is a barebones, relatively simple working model of an app or webpage. They are typically the next step in the product design. 
                        </p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                            <h4 class="fw-medium text-neutral-10">
                                04
                            </h4>
                            <span class="fw-medium tw-text-405 text-paragraph-800">
                               Delivery & Deploy 
                            </span>
                        </div>
                        <p class="fw-medium tw-text-4 text-paragraph-500 tw-line-height-30-px tw-mb-17">
                           Continuous delivery is an extension of continuous integration since it automatically deploys all to a testing and/or production 
                        </p>
                    </div>
                </div>
                <h4 class="fw-medium text-paragraph-800 tw-mb-6">
                    Service Outcome
                </h4>
                <div class="tw-mb-17">
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                        <span class="tw-text-5 text-aesh-600">
                            <i class="ph-bold ph-check"></i>
                        </span>
                        <span class="fw-normal tw-text-405 text-paragraph-500">
                            Excepteur sint occaecat cupidatat a deserunt mollit anim id est laborum. 
                        </span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                        <span class="tw-text-5 text-aesh-600">
                            <i class="ph-bold ph-check"></i>
                        </span>
                        <span class="fw-normal tw-text-405 text-paragraph-500">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. 
                        </span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                        <span class="tw-text-5 text-aesh-600">
                            <i class="ph-bold ph-check"></i>
                        </span>
                        <span class="fw-normal tw-text-405 text-paragraph-500">
                           accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
                        </span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                        <span class="tw-text-5 text-aesh-600">
                            <i class="ph-bold ph-check"></i>
                        </span>
                        <span class="fw-normal tw-text-405 text-paragraph-500">
                           inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                        </span>
                    </div>
                </div>
                <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-13">
                    <span>
                        <img src="assets/images/thumbs/coaching-details-img2.png" alt="img">
                    </span>
                    <span>
                        <img src="assets/images/thumbs/coaching-details-img3.png" alt="img">
                    </span>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item accordion-item-three tw-mb-5">
                        <button class="accordion-button tw-py-5 tw-ps-8 tw-pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            2. What kind of marketing efforts do you specialize ?
                        </button>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body tw-ps-8 tw-pe-5">
                                Ne summo dictas pertinacia nam. Illum cetero vocent ei vim, case regione signifer
                                umque vim te. Ex mea quem munere lobortis. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item accordion-item-three tw-mb-5">
                        <button class="accordion-button collapsed tw-py-5 tw-ps-8 tw-pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Can I use the demos made by Ewebot?
                        </button>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body tw-ps-8 tw-pe-5">
                                Ne summo dictas pertinacia nam. Illum cetero vocent ei vim, case regione signifer
                                umque vim te. Ex mea quem munere lobortis. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item accordion-item-three tw-mb-5">
                        <button class="accordion-button collapsed tw-py-5 tw-ps-8 tw-pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            1. Do you offer marketing contracts or relationships?
                        </button>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body tw-ps-8 tw-pe-5">
                                Ne summo dictas pertinacia nam. Illum cetero vocent ei vim, case regione signifer
                                umque vim te. Ex mea quem munere lobortis. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item accordion-item-three tw-mb-5">
                        <button class="accordion-button collapsed tw-py-5 tw-ps-8 tw-pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            What everybody ought to know about digital marketing?
                        </button>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body tw-ps-8 tw-pe-5">
                                Ne summo dictas pertinacia nam. Illum cetero vocent ei vim, case regione signifer
                                umque vim te. Ex mea quem munere lobortis. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="tw-py-13 tw-ps-8 tw-pe-12 tw-bg-neutral-09 tw-rounded-lg tw-mb-10">
                    <h5 class="tw-text-24-px fw-medium text-paragraph-800">
                        More Services
                    </h5>
                    <span class="tw-w-100-px tw-h-px tw-bg-lite-green tw-mt-2 tw-mb-7"></span>
                    <a href="javascript:void(0)" class="d-flex align-items-center tw-gap-3 justify-content-between group-item group tw-mb-5">
                        <span class="group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            Initial eligibility assessment
                        </span>
                        <span class="group-hover-item-d-none tw-display-block group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <span class="group-hover-item-d-block tw-display-none group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            <i class="ph-bold ph-arrow-down"></i>
                        </span>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center tw-gap-3 justify-content-between group-item group tw-mb-5">
                        <span class="group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            Student visa processing
                        </span>
                        <span class="group-hover-item-d-none tw-display-block group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <span class="group-hover-item-d-block tw-display-none group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            <i class="ph-bold ph-arrow-down"></i>
                        </span>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center tw-gap-3 justify-content-between group-item group tw-mb-5">
                        <span class="group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            work visa applications
                        </span>
                        <span class="group-hover-item-d-none tw-display-block group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <span class="group-hover-item-d-block tw-display-none group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            <i class="ph-bold ph-arrow-down"></i>
                        </span>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center tw-gap-3 justify-content-between group-item group tw-mb-5">
                        <span class="group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            partner visa applications
                        </span>
                        <span class="group-hover-item-d-none tw-display-block group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <span class="group-hover-item-d-block tw-display-none group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            <i class="ph-bold ph-arrow-down"></i>
                        </span>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center tw-gap-3 justify-content-between group-item group tw-mb-5">
                        <span class="group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            Student visa processing
                        </span>
                        <span class="group-hover-item-d-none tw-display-block group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <span class="group-hover-item-d-block tw-display-none group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            <i class="ph-bold ph-arrow-down"></i>
                        </span>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center tw-gap-3 justify-content-between group-item group tw-mb-5">
                        <span class="group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            Police clearance certificate
                        </span>
                        <span class="group-hover-item-d-none tw-display-block group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <span class="group-hover-item-d-block tw-display-none group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            <i class="ph-bold ph-arrow-down"></i>
                        </span>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center tw-gap-3 justify-content-between group-item group">
                        <span class="group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            partner visa applications
                        </span>
                        <span class="group-hover-item-d-none tw-display-block group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                        <span class="group-hover-item-d-block tw-display-none group-hover-text-purple-600 fw-medium tw-text-405 text-paragraph-800 tw-duration-300">
                            <i class="ph-bold ph-arrow-down"></i>
                        </span>
                    </a>
                </div>
                <div class="tw-pt-10 tw-pb-5 tw-ps-10 tw-pe-10 tw-bg-neutral-09 tw-rounded-lg tw-mb-6">
                    <h5 class="tw-text-24-px fw-medium text-paragraph-800 tw-mb-10">
                        Downloads
                    </h5>
                    <div class="bg-white tw-ps-3 tw-pe-5 tw-py-4 d-flex align-items-center tw-gap-4 flex-wrap tw-rounded-lg tw-mb-4">
                        <span>
                            <img src="assets/images/thumbs/coaching-details-img4.png" alt="img">
                        </span>
                        <div>
                            <span class="fw-medium tw-text-405 text-paragraph-800 d-block tw-mb-1">
                                TOEFL Application form
                            </span>
                            <span class="fw-medium tw-text-4 text-neutral-400">
                                3.9 KB
                            </span>
                        </div>
                    </div>
                    <div class="bg-white tw-ps-3 tw-pe-5 tw-py-4 d-flex align-items-center tw-gap-4 flex-wrap tw-rounded-lg tw-mb-4">
                        <span>
                            <img src="assets/images/thumbs/coaching-details-img5.png" alt="img">
                        </span>
                        <div>
                            <span class="fw-medium tw-text-405 text-paragraph-800 d-block tw-mb-1">
                                TOEFL Application form
                            </span>
                            <span class="fw-medium tw-text-4 text-neutral-400">
                                3.9 KB
                            </span>
                        </div>
                    </div>
                    <div class="bg-white tw-ps-3 tw-pe-5 tw-py-4 d-flex align-items-center tw-gap-4 flex-wrap tw-rounded-lg tw-mb-4">
                        <span>
                            <img src="assets/images/thumbs/coaching-details-img6.png" alt="img">
                        </span>
                        <div>
                            <span class="fw-medium tw-text-405 text-paragraph-800 d-block tw-mb-1">
                                TOEFL Application form
                            </span>
                            <span class="fw-medium tw-text-4 text-neutral-400">
                                3.9 KB
                            </span>
                        </div>
                    </div>
                </div>
                <div class="tw-pt-10 tw-pb-17 tw-ps-6 tw-pe-12 tw-bg-neutral-09 tw-rounded-lg">
                    <h5 class="tw-text-24-px fw-medium text-paragraph-800">
                        More Services
                    </h5>
                    <span class="tw-w-165-px tw-h-px bg-main-600 tw-mt-2 tw-mb-7"></span>
                    <form action="#">
                        <input type="text" placeholder="Your Name" class="tw-py-4 tw-ps-4 tw-pe-4 bg-white w-100 border-white border tw-rounded-md tw-focus-visival-border-main-600 tw-mb-5">
                        <input type="email" placeholder="Enter Email" class="tw-py-4 tw-ps-4 tw-pe-4 bg-white w-100 border-white border tw-rounded-md tw-focus-visival-border-main-600 tw-mb-6">
                        <textarea placeholder="Enter Message" class="tw-py-4 tw-ps-4 tw-pe-4 bg-white w-100 border-white border tw-rounded-md tw-focus-visival-border-main-600 tw-h-150-px tw-mb-12" ></textarea>
                        <button type="submit" class="btn btn-main-three hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 tw-rounded-lg tw-px-10" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Send Messege</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =================== coaching details section end ====================== -->