<!-- =================== coaching section start ===================== -->
<div class="pt-120 pb-146">
    <div class="container max-w-1400-px">
        <div class="row gy-4">
            <div class="col-xl-4 col-md-6">
                <div class="animation-item">
                    <div class="w-100 tw-mb-5 overflow-hidden tw-rounded-xl position-relative ">
                        <img src="assets/images/thumbs/consultation-two-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        <span class="tw-h-75-px tw-w-75-px bg-white d-flex align-items-center justify-content-center rounded-circle tw-text-10 text-blue-600 position-absolute top-0 tw-start-0 flex-shrink-0 tw-mt-4 tw-ms-305">
                            <i class="ph-bold ph-chart-bar"></i>
                        </span>
                    </div>
                    <a href="coaching-details.html" class="d-flex align-items-center justify-content-between tw-gap-2 flex-wrap  text-neutral-1050 hover-text-main-600">
                        <span class="fw-bold tw-text-6">
                            1. Take IELTS
                        </span>
                        <span class="tw-w-13 tw-h-13 bg-neutral-50 d-flex align-items-center justify-content-center tw-text-5 text-black">
                            <i class="ph-bold ph-arrow-down-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="animation-item">
                    <div class="w-100 tw-mb-5 overflow-hidden tw-rounded-xl position-relative ">
                        <img src="assets/images/thumbs/consultation-two-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        <span class="tw-h-75-px tw-w-75-px bg-white d-flex align-items-center justify-content-center rounded-circle tw-text-10 text-blue-600 position-absolute top-0 tw-start-0 flex-shrink-0 tw-mt-4 tw-ms-305">
                            <i class="ph-bold ph-chart-bar"></i>
                        </span>
                    </div>
                    <a href="coaching-details.html" class="d-flex align-items-center justify-content-between tw-gap-2 flex-wrap  text-neutral-1050 hover-text-main-600">
                        <span class="fw-bold tw-text-6">
                            1. TOEFL Application form
                        </span>
                        <span class="tw-w-13 tw-h-13 bg-neutral-50 d-flex align-items-center justify-content-center tw-text-5 text-black">
                            <i class="ph-bold ph-arrow-down-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="animation-item">
                    <div class="w-100 tw-mb-5 overflow-hidden tw-rounded-xl position-relative ">
                        <img src="assets/images/thumbs/consultation-two-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        <span class="tw-h-75-px tw-w-75-px bg-white d-flex align-items-center justify-content-center rounded-circle tw-text-10 text-blue-600 position-absolute top-0 tw-start-0 flex-shrink-0 tw-mt-4 tw-ms-305">
                            <i class="ph-bold ph-chart-bar"></i>
                        </span>
                    </div>
                    <a href="coaching-details.html" class="d-flex align-items-center justify-content-between tw-gap-2 flex-wrap  text-neutral-1050 hover-text-main-600">
                        <span class="fw-bold tw-text-6">
                            1. Citizenship Test
                        </span>
                        <span class="tw-w-13 tw-h-13 bg-neutral-50 d-flex align-items-center justify-content-center tw-text-5 text-black">
                            <i class="ph-bold ph-arrow-down-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="animation-item">
                    <div class="w-100 tw-mb-5 overflow-hidden tw-rounded-xl position-relative ">
                        <img src="assets/images/thumbs/coaching-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        <span class="tw-h-75-px tw-w-75-px bg-white d-flex align-items-center justify-content-center rounded-circle tw-text-10 text-blue-600 position-absolute top-0 tw-start-0 flex-shrink-0 tw-mt-4 tw-ms-305">
                            <i class="ph-bold ph-chart-bar"></i>
                        </span>
                    </div>
                    <a href="coaching-details.html" class="d-flex align-items-center justify-content-between tw-gap-2 flex-wrap  text-neutral-1050 hover-text-main-600">
                        <span class="fw-bold tw-text-6">
                            1. PTE Coaching
                        </span>
                        <span class="tw-w-13 tw-h-13 bg-neutral-50 d-flex align-items-center justify-content-center tw-text-5 text-black">
                            <i class="ph-bold ph-arrow-down-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="animation-item">
                    <div class="w-100 tw-mb-5 overflow-hidden tw-rounded-xl position-relative ">
                        <img src="assets/images/thumbs/coaching-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        <span class="tw-h-75-px tw-w-75-px bg-white d-flex align-items-center justify-content-center rounded-circle tw-text-10 text-blue-600 position-absolute top-0 tw-start-0 flex-shrink-0 tw-mt-4 tw-ms-305">
                            <i class="ph-bold ph-chart-bar"></i>
                        </span>
                    </div>
                    <a href="coaching-details.html" class="d-flex align-items-center justify-content-between tw-gap-2 flex-wrap  text-neutral-1050 hover-text-main-600">
                        <span class="fw-bold tw-text-6">
                            1. SAT Coaching
                        </span>
                        <span class="tw-w-13 tw-h-13 bg-neutral-50 d-flex align-items-center justify-content-center tw-text-5 text-black">
                            <i class="ph-bold ph-arrow-down-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="animation-item">
                    <div class="w-100 tw-mb-5 overflow-hidden tw-rounded-xl position-relative ">
                        <img src="assets/images/thumbs/coaching-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        <span class="tw-h-75-px tw-w-75-px bg-white d-flex align-items-center justify-content-center rounded-circle tw-text-10 text-blue-600 position-absolute top-0 tw-start-0 flex-shrink-0 tw-mt-4 tw-ms-305">
                            <i class="ph-bold ph-chart-bar"></i>
                        </span>
                    </div>
                    <a href="coaching-details.html" class="d-flex align-items-center justify-content-between tw-gap-2 flex-wrap  text-neutral-1050 hover-text-main-600">
                        <span class="fw-bold tw-text-6">
                            1. Skills Exam
                        </span>
                        <span class="tw-w-13 tw-h-13 bg-neutral-50 d-flex align-items-center justify-content-center tw-text-5 text-black">
                            <i class="ph-bold ph-arrow-down-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =================== coaching section end ===================== -->