<!-- ========================= contact section start ========================= -->
<section class="tw-pt-424-px bg-paragraph-10 tw-px-7">
    <div class="row gy-5">
        <div class="col-lg-6">
            <div>
                <img src="assets/images/thumbs/contact-img1.png" alt="img" class="">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="bg-main-two-600 tw-rounded-xl tw-x-10 d-flex justify-content-center tw-ptb-80-128-px">
                <div class="max-w-730-px w-100">
                    <div class="d-flex align-items-center tw-gap-3 tw-mb-5">
                        <span class="tw-text-10 text-green-600">
                            <i class="ph-bold ph-paper-plane-tilt"></i>
                        </span>
                        <span class="fw-medium tw-text-405 text-white">
                            Study, Work, or Settle Abroad with 100% Legal Support
                        </span>
                    </div>
                    <h2 class="fw-medium text-white tw-mb-7">
                        Reach Out for any kind of visa counseling
                    </h2>
                    <form action="#">
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <input type="text" placeholder="Name" class="bg-white-16-persent w-100 placeholder-text-neutral-200 tw-rounded-lg  text-white fw-medium tw-text-4 tw-py-3 tw-px-5 border-0 tw-focus-visival-border-none">
                            </div>
                            <div class="col-sm-6">
                                <input type="email" placeholder="Email" class="bg-white-16-persent w-100 placeholder-text-neutral-200 tw-rounded-lg  text-white fw-medium tw-text-4 tw-py-3 tw-px-5 border-0 tw-focus-visival-border-none">
                            </div>
                            <div class="col-12">
                                <input type="text" placeholder="Visa catagories" class="bg-white-16-persent w-100 placeholder-text-neutral-200 tw-rounded-lg  text-white fw-medium tw-text-4 tw-py-3 tw-px-5 border-0 tw-focus-visival-border-none">
                            </div>
                            <div class="col-sm-6">
                                <input type="number" placeholder="Phone Number" class="bg-white-16-persent w-100 placeholder-text-neutral-200 tw-rounded-lg  text-white fw-medium tw-text-4 tw-py-3 tw-px-5 border-0 tw-focus-visival-border-none">
                            </div>
                            <div class="col-sm-6">
                                <input type="number" placeholder="Time" class="bg-white-16-persent w-100 placeholder-text-neutral-200 tw-rounded-lg  text-white fw-medium tw-text-4 tw-py-3 tw-px-5 border-0 tw-focus-visival-border-none">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-main-two hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill w-100" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">Book Now</span>
                                    <span class="text-white tw-text-2xl group-hover-text-white tw-duration-500 position-relative">
                                        <i class="ph-bold ph-caret-right"></i>
                                    </span>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= contact section end ========================= -->