<!-- ========================= consulation section start ======================= -->
<section class="pt-146 bg-main-two-600">
    <div class="container max-w-1400-px">
        <div class="row gy-4">
            <div class="col-xl-6">
                <div>
                    <div class="d-flex align-items-center tw-gap-2 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-text-2xl text-green-600 fw-medium d-flex">
                            <i class="ph-bold ph-paper-plane-tilt"></i>
                        </span>
                        <span class="fw-medium tw-text-405 text-white">
                            Study, Work, or Settle Abroad with 100% Legal Support
                        </span>
                    </div>
                    <h2 class="fw-medium text-white tw-mb-8 text-capitalize" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        what’s the actual process of our visa agency
                    </h2>
                    <p class="fw-medium tw-text-4 text-green-10 tw-mb-10 max-w-600-px" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        We specialize in providing high-quality plumbing solutions for your home or
                        business. Our experienced team is committed to resolving all your plumbing
                        issues, ensuring your complete satisfaction with every job.
                    </p>
                    <a href="booking.html" class="btn btn-main-two hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill tw-mb-10" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        <span class="button__flair"></span>
                        <span class="button__label">Book Free Consultation</span>
                        <span class="text-white tw-text-2xl group-hover-text-white tw-duration-500 position-relative">
                            <i class="ph-bold ph-caret-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="group tw-mb-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="d-flex align-items-start tw-gap-8 flex-sm-nowrap flex-wrap tw-px-70-126-px tw-py-70-80-px bg-green-900 tw-rounded-40-px group-hover-bg-main-600 tw-duration-300 group-hover-border-bottom-green-600">
                        <span class="tw-w-90-px tw-h-90-px border-white border tw-border-dashed rounded-circle fw-bold text-white tw-text-6 d-flex align-items-center justify-content-center flex-shrink-0 group-hover-text-white group-hover-bg-whit-140 tw-duration-300 group-hover-border-none">
                            01
                        </span>
                        <div>
                            <h2 class="h4 fw-medium text-white tw-mb-6 group-hover-text-white">
                                100% Legal Process & Documentation
                            </h2>
                            <p class="fw-medium tw-text-4 text-green-10 group-hover-text-white">
                                Our team is available 24/7 to tackle leaks, burst pipes,
                                and other critical plumbing problems. ensuring your
                                home or business.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="group tw-mb-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="d-flex align-items-start tw-gap-8 flex-sm-nowrap flex-wrap tw-px-70-126-px tw-py-70-80-px bg-green-900 tw-rounded-40-px group-hover-bg-main-600 tw-duration-300 group-hover-border-bottom-green-600">
                        <span class="tw-w-90-px tw-h-90-px border-white border tw-border-dashed rounded-circle fw-bold text-white tw-text-6 d-flex align-items-center justify-content-center flex-shrink-0 group-hover-text-white group-hover-bg-whit-140 tw-duration-300 group-hover-border-none">
                            02
                        </span>
                        <div>
                            <h2 class="h4 fw-medium text-white tw-mb-6 group-hover-text-white">
                                100% Legal Process & Documentation
                            </h2>
                            <p class="fw-medium tw-text-4 text-green-10 group-hover-text-white">
                                Our team is available 24/7 to tackle leaks, burst pipes,
                                and other critical plumbing problems. ensuring your
                                home or business.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="group" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="d-flex align-items-start tw-gap-8 flex-sm-nowrap flex-wrap tw-px-70-126-px tw-py-70-80-px bg-green-900 tw-rounded-40-px group-hover-bg-main-600 tw-duration-300 group-hover-border-bottom-green-600">
                        <span class="tw-w-90-px tw-h-90-px border-white border tw-border-dashed rounded-circle fw-bold text-white tw-text-6 d-flex align-items-center justify-content-center flex-shrink-0 group-hover-text-white group-hover-bg-whit-140 tw-duration-300 group-hover-border-none">
                            03
                        </span>
                        <div>
                            <h2 class="h4 fw-medium text-white tw-mb-6 group-hover-text-white">
                                100% Legal Process & Documentation
                            </h2>
                            <p class="fw-medium tw-text-4 text-green-10 group-hover-text-white">
                                Our team is available 24/7 to tackle leaks, burst pipes,
                                and other critical plumbing problems. ensuring your
                                home or business.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= consulation section end ======================= -->