<!-- ====================== contact section start ===================== -->
<div class="pt-120 pb-146">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6">
                <div class="group">
                    <div class="bg-white tw-rounded-lg contaict-sahdow tw-py-16 tw-px-13 text-center group-hover-bg-main-600 tw-duration-300">
                        <span class="d-inline-flex tw-text-16 text-main-600 tw-mb-5 group-hover-text-white tw-duration-300">
                            <i class="ph ph-map-pin"></i>
                        </span>
                        <h5 class="fw-semibold tw-text-24-px text-black text-uppercase d-block tw-mb-4 group-hover-text-white tw-duration-300">
                            address line
                        </h5>
                        <p class="fw-medium tw-text-405 text-paragraph-750 group-hover-text-white tw-duration-300 ">
                            Bowery St, New York, 37 USA NY 10013,USA
                        </p>
                    </div> 
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="group">
                    <div class="bg-white tw-rounded-lg contaict-sahdow tw-py-16 tw-px-13 text-center group-hover-bg-main-600 tw-duration-300">
                        <span class="d-inline-flex tw-text-16 text-main-600 tw-mb-5 group-hover-text-white tw-duration-300">
                            <i class="ph ph-phone-call"></i>
                        </span>
                        <h5 class="fw-semibold tw-text-24-px text-black text-uppercase d-block tw-mb-4 group-hover-text-white tw-duration-300">
                            Phone Number
                        </h5>
                        <p class="fw-medium tw-text-405 text-paragraph-750 group-hover-text-white tw-duration-300 ">
                            +1255 - 568 - 6523 4374-221 +1255 - 568 - 6523
                        </p>
                    </div> 
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="group">
                    <div class="bg-white tw-rounded-lg contaict-sahdow tw-py-16 tw-px-13 text-center group-hover-bg-main-600 tw-duration-300">
                        <span class="d-inline-flex tw-text-16 text-main-600 tw-mb-5 group-hover-text-white tw-duration-300">
                            <i class="ph ph-envelope-open"></i>
                        </span>
                        <h5 class="fw-semibold tw-text-24-px text-black text-uppercase d-block tw-mb-4 group-hover-text-white tw-duration-300">
                           Mail Adress
                        </h5>
                        <p class="fw-medium tw-text-405 text-paragraph-750 group-hover-text-white tw-duration-300 ">
                            email@example.com info@yourdomain.com
                        </p>
                    </div> 
                </div>
            </div>
        </div>
        <div class="tw-mt-90-px">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="max-w-580-px ">
                        <h3 class="tw-text-42-px tw-mb-3 text-paragraph-800 fw-medium">
                            Get in touch
                        </h3>
                        <p class="fw-normal tw-text-405 text-paragraph-750 tw-mb-10">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit mattis
                            faucibus odio feugiat arc dolor.
                        </p>
                        <div class="tw-h-320-px tw-mb-5">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d18594861.431429405!2d25.097591251485795!3d54.811518433582705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1ssea!5e0!3m2!1sen!2sbd!4v1752124108423!5m2!1sen!2sbd"
                                class="w-100 h-100 tw-rounded-xl">
                            </iframe>
                        </div>
                    <!-- Google Map end -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="max-w-560-px">
                         <h3 class="tw-text-42-px tw-mb-3 text-paragraph-800 fw-medium">
                            Fill Up The Form
                        </h3>
                        <p class="fw-normal tw-text-405 text-paragraph-750 tw-mb-17">
                            Your email address will not be published. Required fields are marked *
                        </p>
                        <form action="#">
                            <div class="position-relative tw-mb-10">
                                <input type="text" placeholder="Your Name*" class="tw-ps-7 tw-pe-4 tw-pb-5 w-100 border-neutral-200 border-top-0 border-start-0 border-end-0 focus-border-main-600 focus-outline-0">
                                <button type="button" class="tw-text-5 text-black position-absolute top-0 tw-start-0">
                                    <i class="ph ph-user"></i>
                                </button>
                            </div>
                            <div class="position-relative tw-mb-10">
                                <input type="email" placeholder="Email Address*" class="tw-ps-7 tw-pe-4 tw-pb-5 w-100 border-neutral-200 border-top-0 border-start-0 border-end-0 focus-border-main-600 focus-outline-0">
                                <button type="button" class="tw-text-5 text-black position-absolute top-0 tw-start-0">
                                    <i class="ph ph-envelope-simple"></i>
                                </button>
                            </div>
                            <div class="position-relative tw-mb-10">
                                <textarea placeholder="Enter Your Messege here" class="tw-ps-7 tw-pe-4 tw-pb-5 w-100 border-neutral-200 border-top-0 border-start-0 border-end-0 focus-border-main-600 focus-outline-0 tw-h-150-px"></textarea>
                                <button type="button" class="tw-text-5 text-black position-absolute top-0 tw-start-0">
                                    <i class="ph ph-pencil-simple-line"></i>
                                </button>
                            </div>
                            <button type="submit" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 tw-rounded-lg" data-block="button">
                                <span class="button__flair"></span>
                                <span class="text-white tw-text-xl group-hover-text-white tw-duration-500 position-relative">
                                    <i class="ph ph-paper-plane-tilt"></i>
                                </span>
                                <span class="button__label">Get In Touch</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ====================== contact section end ===================== -->