<!-- ======================== contsultiong section start ============================ -->
<section class="py-120">
    <div class="container max-w-1400-px">
        <div class="row gy-4">
            <div class="col-xl-6">
                <div class="consultion-card group-item">
                    <div class="consultion-bg border-neutral-10 border bg-neutral-05 tw-border-radius-top-14-px tw-py-7 tw-px-15">
                        <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3">
                            <div class="d-flex align-items-center tw-gap-5 flex-wrap">
                                <img src="assets/images/icon/consulting-three-icon1.png" alt="icon" class="group-hover-item-text-invert-white">
                                <div class="">
                                    <h5 class="consultion-title fw-medium text-green-400 tw-text-24-px">
                                        Global Connection
                                    </h5>
                                </div>
                            </div>
                            <h6 class="consultion-title fw-medium text-green-400">
                                01
                            </h6>
                        </div>
                        <div class="tw-mt-8 consultion-text">
                            <div class="d-flex justify-content-center">
                                <p class="fw-medium tw-text-405 text-white max-w-400-px w-100">
                                    Whether it's crafting a visually stunning brand
                                    designing immersive digital experiences, or
                                    strategic marketing campaigns, we approach
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="consultion-card group-item">
                    <div class="consultion-bg border-neutral-10 border border-top-0 bg-neutral-05 tw-border-radius-top-14-px tw-py-7 tw-px-15">
                        <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3">
                            <div class="d-flex align-items-center tw-gap-5 flex-wrap">
                                <img src="assets/images/icon/consulting-three-icon3.png" alt="icon" class="group-hover-item-text-invert-white">
                                <div class="">
                                    <h5 class="consultion-title fw-medium text-green-400 tw-text-24-px">
                                        Expertise visa Processing
                                    </h5>
                                </div>
                            </div>
                            <h6 class="consultion-title fw-medium text-green-400">
                                02
                            </h6>
                        </div>
                        <div class="tw-mt-8 consultion-text">
                            <div class="d-flex justify-content-center">
                                <p class="fw-medium tw-text-405 text-white max-w-400-px w-100">
                                    Whether it's crafting a visually stunning brand
                                    designing immersive digital experiences, or
                                    strategic marketing campaigns, we approach
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="consultion-card group-item">
                    <div class="consultion-bg border-neutral-10 border border-top-0 bg-neutral-05 tw-border-radius-top-14-px tw-py-7 tw-px-15">
                        <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3">
                            <div class="d-flex align-items-center tw-gap-5 flex-wrap">
                                <img src="assets/images/icon/consulting-three-icon4.png" alt="icon" class="group-hover-item-text-invert-white">
                                <div class="">
                                    <h5 class="consultion-title fw-medium text-green-400 tw-text-24-px">
                                        Fastest Working Process
                                    </h5>
                                </div>
                            </div>
                            <h6 class="consultion-title fw-medium text-green-400">
                                03
                            </h6>
                        </div>
                        <div class="tw-mt-8 consultion-text">
                            <div class="d-flex justify-content-center">
                                <p class="fw-medium tw-text-405 text-white max-w-400-px w-100">
                                    Whether it's crafting a visually stunning brand
                                    designing immersive digital experiences, or
                                    strategic marketing campaigns, we approach
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="consultion-card group-item">
                    <div class="consultion-bg border-neutral-10 border bg-neutral-05 border-top-0 tw-border-radius-top-14-px tw-py-7 tw-px-15">
                        <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3">
                            <div class="d-flex align-items-center tw-gap-5 flex-wrap">
                                <img src="assets/images/icon/consulting-three-icon5.png" alt="icon" class="group-hover-item-text-invert-white">
                                <div class="">
                                    <h5 class="consultion-title fw-medium text-green-400 tw-text-24-px">
                                        Visa insurance guidance
                                    </h5>
                                </div>
                            </div>
                            <h6 class="consultion-title fw-medium text-green-400">
                                04
                            </h6>
                        </div>
                        <div class="tw-mt-8 consultion-text">
                            <div class="d-flex justify-content-center">
                                <p class="fw-medium tw-text-405 text-white max-w-400-px w-100">
                                    Whether it's crafting a visually stunning brand
                                    designing immersive digital experiences, or
                                    strategic marketing campaigns, we approach
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="consultion-card group-item">
                    <div class="consultion-bg border-neutral-10 border border-top-0 bg-neutral-05 tw-border-radius-bottom-14-px tw-py-7 tw-px-15">
                        <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3">
                            <div class="d-flex align-items-center tw-gap-5 flex-wrap">
                                <img src="assets/images/icon/consulting-three-icon6.png" alt="icon" class="group-hover-item-text-invert-white">
                                <div class="">
                                    <h5 class="consultion-title fw-medium text-green-400 tw-text-24-px">
                                        Visa submission & tracking
                                    </h5>
                                </div>
                            </div>
                            <h6 class="consultion-title fw-medium text-green-400">
                                05
                            </h6>
                        </div>
                        <div class="tw-mt-8 consultion-text">
                            <div class="d-flex justify-content-center">
                                <p class="fw-medium tw-text-405 text-white max-w-400-px w-100">
                                    Whether it's crafting a visually stunning brand
                                    designing immersive digital experiences, or
                                    strategic marketing campaigns, we approach
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="d-flex justify-content-center">
                    <div class="max-w-600-px w-100">
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <span class="tw-text-8 text-green-600">
                                <i class="ph-bold ph-paper-plane-tilt"></i>
                            </span>
                            <span class="fw-medium tw-text-405 text-black">
                                Study, Work, or Settle Abroad with 100% Legal Support
                            </span>
                        </div>
                        <h2 class="fw-medium text-neutral-900 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                            core features of visa
                            consulting agency
                            & services provide
                        </h2>
                        <p class="fw-medium tw-text-4 text-neutral-600 tw-mb-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                            We specialize in providing high-quality plumbing solutions for your
                            home or business. Our experienced team is committed resolving
                        </p>
                        <div class="d-flex align-items-center tw-gap-6 flex-wrap tw-mb-15" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                            <div>
                                <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                                    <span class="tw-text-4 text-green-400 ">
                                        <i class="ph-fill ph-check-fat"></i>
                                    </span>
                                    <span class="fw-bold tw-text-4 text-black">
                                        visa processing & documents
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                    <span class="tw-text-4 text-green-400 ">
                                        <i class="ph-fill ph-check-fat"></i>
                                    </span>
                                    <span class="fw-bold tw-text-4 text-black">
                                        Standups and Demos
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                                    <span class="tw-text-4 text-green-400 ">
                                        <i class="ph-fill ph-check-fat"></i>
                                    </span>
                                    <span class="fw-bold tw-text-4 text-black">
                                        Iterative Delivery Approach
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                    <span class="tw-text-4 text-green-400 ">
                                        <i class="ph-fill ph-check-fat"></i>
                                    </span>
                                    <span class="fw-bold tw-text-4 text-black">
                                        Problem-solving
                                    </span>
                                </div>
                            </div>
                        </div>
                        <a href="booking.html" class="btn btn-main-two hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                            <span class="button__flair"></span>
                            <span class="button__label">Book free Consultation</span>
                            <span class="text-white tw-text-xl group-hover-text-white tw-duration-500 position-relative">
                                <i class="ph-bold ph-caret-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== contsultiong section end ============================ -->