<!-- ==================== consultation two section start ==================== -->
<section class="tw-mb--1724-px position-relative z-2">
    <div class="container max-w-1500-px">
        <div class="d-flex align-items-center justify-content-center">
            <div class="max-w-820-px text-center">
                <div class="d-flex align-items-center tw-gap-2 justify-content-center tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-text-9 text-green-600 fw-medium tw-text-405">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-black">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h3 class="fw-normal text-neutral-950 max-w-870-px tw-mb-3" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    we started successfully for visa agency since 1999
                </h3>
                <p class="fw-medium tw-text-4 text-green-10 tw-mb-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    We specialize in providing high-quality plumbing solutions for your home or business. Our experienced team is committed to resolving
                </p>
            </div>
        </div>
        <div class="bg-white tw-pt-10 tw-px-8 tw-pb-6 ">
            <div class="row gy-4">
                <div class="col-xl-4 col-md-6">
                    <div class="animation-item">
                        <div class="w-100 tw-mb-5 overflow-hidden tw-rounded-xl position-relative ">
                            <img src="assets/images/thumbs/consultation-two-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                            <span class="tw-h-75-px tw-w-75-px bg-white d-flex align-items-center justify-content-center rounded-circle tw-text-10 text-blue-600 position-absolute top-0 tw-start-0 flex-shrink-0 tw-mt-4 tw-ms-305">
                                <i class="ph-bold ph-chart-bar"></i>
                            </span>
                        </div>
                        <a href="javascript:void(0)" class="d-flex align-items-center justify-content-between tw-gap-2 flex-wrap">
                            <span class="fw-bold tw-text-6 text-neutral-1050">
                                1. Student Visa
                            </span>
                            <span class="tw-w-13 tw-h-13 bg-neutral-50 d-flex align-items-center justify-content-center tw-text-5 text-black">
                                <i class="ph-bold ph-arrow-down-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="animation-item">
                        <div class="w-100 tw-mb-5 overflow-hidden tw-rounded-xl position-relative ">
                            <img src="assets/images/thumbs/consultation-two-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                            <span class="tw-h-75-px tw-w-75-px bg-white d-flex align-items-center justify-content-center rounded-circle tw-text-10 text-blue-600 position-absolute top-0 tw-start-0 flex-shrink-0 tw-mt-4 tw-ms-305">
                                <i class="ph-bold ph-chart-bar"></i>
                            </span>
                        </div>
                        <a href="javascript:void(0)" class="d-flex align-items-center justify-content-between tw-gap-2 flex-wrap">
                            <span class="fw-bold tw-text-6 text-neutral-1050">
                                1. Family visa
                            </span>
                            <span class="tw-w-13 tw-h-13 bg-neutral-50 d-flex align-items-center justify-content-center tw-text-5 text-black">
                                <i class="ph-bold ph-arrow-down-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="animation-item">
                        <div class="w-100 tw-mb-5 overflow-hidden tw-rounded-xl position-relative ">
                            <img src="assets/images/thumbs/consultation-two-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                            <span class="tw-h-75-px tw-w-75-px bg-white d-flex align-items-center justify-content-center rounded-circle tw-text-10 text-blue-600 position-absolute top-0 tw-start-0 flex-shrink-0 tw-mt-4 tw-ms-305">
                                <i class="ph-bold ph-chart-bar"></i>
                            </span>
                        </div>
                        <a href="javascript:void(0)" class="d-flex align-items-center justify-content-between tw-gap-2 flex-wrap">
                            <span class="fw-bold tw-text-6 text-neutral-1050">
                                1. Sposnosred visa
                            </span>
                            <span class="tw-w-13 tw-h-13 bg-neutral-50 d-flex align-items-center justify-content-center tw-text-5 text-black">
                                <i class="ph-bold ph-arrow-down-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== consultation two section end ==================== -->