<!-- ====================== consulting section start ======================== -->
<section class="pt-90 pb-120">
    <div class="container max-w-1400-px">
        <div class="d-flex justify-content-center tw-mb-15">
            <div class="max-w-770-px text-center">
                <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-4 justify-content-center">
                    <span class="tw-text-7 text-green-600">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-black">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h2 class="tw-mb-6 text-paragraph-950 tw-mb-5">
                    Real Time Working Process Of Visa Consulting
                </h2>
                <p class="fw-medium tw-text-4 text-green-10">
                    We specialize in providing high-quality plumbing solutions for your home or<br> business. Our experienced team is committed to resolving
                </p>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-md-6">
                <div class="group">
                    <div class="tw-py-10 tw-px-15 tw-border-black-9-persent tw-rounded-2xl animation-item text-center group-hover-shadow-black-9-persent group-hover-border-none tw-duration-300">
                        <h2 class="fw-medium text-neutral-1000 tw-mb-1">
                            01
                        </h2>
                        <span class="fw-semibold tw-text-4 text-neutral-1000 tw-mb-4">
                            Consultation
                        </span>
                        <span class="w-100 overflow-hidden tw-rounded-lg tw-mb-6">
                            <img src="assets/images/thumbs/visa-consulting-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        </span>
                        <p class="fw-medium tw-text-4 text-green-10">
                            Let’s embody your beautiful ideas together, simplify the way you visualize your next big things.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="group">
                    <div class="tw-py-10 tw-px-15 tw-border-black-9-persent tw-rounded-2xl animation-item text-center group-hover-shadow-black-9-persent group-hover-border-none tw-duration-300">
                        <h2 class="fw-medium text-neutral-1000 tw-mb-1">
                            02
                        </h2>
                        <span class="fw-semibold tw-text-4 text-neutral-1000 tw-mb-4">
                            Document preparation
                        </span>
                        <span class="w-100 overflow-hidden tw-rounded-lg tw-mb-6">
                            <img src="assets/images/thumbs/visa-consulting-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        </span>
                        <p class="fw-medium tw-text-4 text-green-10">
                            Let’s embody your beautiful ideas together, simplify the way you visualize your next big things.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="group">
                    <div class="tw-py-10 tw-px-15 tw-border-black-9-persent tw-rounded-2xl animation-item text-center group-hover-shadow-black-9-persent group-hover-border-none tw-duration-300">
                        <h2 class="fw-medium text-neutral-1000 tw-mb-1">
                            03
                        </h2>
                        <span class="fw-semibold tw-text-4 text-neutral-1000 tw-mb-4">
                           Application submission
                        </span>
                        <span class="w-100 overflow-hidden tw-rounded-lg tw-mb-6">
                            <img src="assets/images/thumbs/visa-consulting-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        </span>
                        <p class="fw-medium tw-text-4 text-green-10">
                            Let’s embody your beautiful ideas together, simplify the way you visualize your next big things.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== consulting section end ======================== -->





<!-- ================= features-bottom section start ==================== -->
    <div class="overflow-hidden tw-mb--240-px z-2">
        <div class="container">
            <div class="bg-main-600 tw-rounded-xl">
                <div class="d-flex align-items-end tw-gap-6">
                    <span class="tw-ms--60-px w-100 h-100 d-xl-block d-none">
                        <img src="assets/images/thumbs/features-bottom-img1.png" alt="img" class="w-100 h-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    </span>
                    <div class="w-100 tw-pe-10 tw-py-10 tw-ps-40-px-media">
                        <div class="d-flex align-items-center tw-gap-5 justify-content-between tw-mb--26-px flex-wrap">
                            <div>
                                <h1 class="fw-semibold text-white tw-mb-4 counter">282+</h1>
                                <span class="fw-medium text-white tw-text-405">
                                    TOTAL VISAS APPROVED
                                </span>
                            </div>
                            <span class="tw-h-257-px tw-w-px bg-white d-md-block d-none"></span>
                            <div class="">
                                <h1 class="fw-semibold text-white tw-mb-4 counter">95%</h1>
                                <span class="fw-medium text-white tw-text-405">
                                    APPROVED RATE %
                                </span>
                            </div>
                        </div>
                        <span class="w-100 tw-h-px bg-white d-md-block d-none"></span>
                        <div class="d-flex align-items-center tw-gap-5 justify-content-between flex-wrap">
                            <div>
                                <h1 class="fw-semibold text-white tw-mb-4 counter">282+</h1>
                                <span class="fw-medium text-white tw-text-405">
                                    TOTAL VISAS APPROVED
                                </span>
                            </div>
                            <span class="tw-h-257-px tw-w-px bg-white d-md-block d-none"></span>
                            <div class="">
                                <h1 class="fw-semibold text-white tw-mb-4 counter">95%</h1>
                                <span class="fw-medium text-white tw-text-405">
                                    APPROVED RATE %
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- ================= features-bottom section end ==================== -->