<!-- ====================== country section start ====================== -->
<section class="pt-146 pb-213-px bg-main-two-600">
    <div class="container max-w-1550-px">
        <div class="row gy-4">
            <div class="col-xl-6">
                <div class="d-flex align-items-center tw-gap-2 tw-mb-4 flex-wrap" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-text-2xl text-green-600 fw-medium d-flex">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-white">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h2 class="fw-medium text-white tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    country we covered
                </h2>
                <p class="fw-medium tw-text-4 text-green-10 tw-mb-10 max-w-600-px" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    We specialize in providing high-quality plumbing solutions for your home or business. Our experienced team is committed to resolving
                </p>
                <div class="d-flex flex-column tw-gap-4 tw-mb-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="d-inline-block">
                        <div class="tw-py-105 rounded-pill d-inline-flex align-items-center tw-gap-3 tw-ps-3 tw-pe-5 group ">
                            <span class="tw-w-6 tw-h-6 bg-neutral-100 rounded-circle d-flex align-items-center justify-content-center text-black tw-text-sm group-hover-bg-green-600 group-hover-text-white tw-duration-300">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="fw-medium tw-text-4 text-white">
                                Study, Work, and PR Visa
                            </span>
                        </div>
                    </div>
                    <div class="d-inline-block">
                        <div class="tw-py-105 rounded-pill d-inline-flex align-items-center tw-gap-3 tw-ps-3 tw-pe-5 group ">
                            <span class="tw-w-6 tw-h-6 bg-neutral-100 rounded-circle d-flex align-items-center justify-content-center text-black tw-text-sm group-hover-bg-green-600 group-hover-text-white tw-duration-300">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="fw-medium tw-text-4 text-white">
                                 personalized visa plan with no initial cost.
                            </span>
                        </div>
                    </div>
                    <div class="d-inline-block">
                        <div class="tw-py-105 rounded-pill d-inline-flex align-items-center tw-gap-3 tw-ps-3 tw-pe-5 group ">
                            <span class="tw-w-6 tw-h-6 bg-neutral-100 rounded-circle d-flex align-items-center justify-content-center text-black tw-text-sm group-hover-bg-green-600 group-hover-text-white tw-duration-300">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="fw-medium tw-text-4 text-white">
                                 Trusted by <span class="text-green-600">5000+</span> clients
                            </span>
                        </div>
                    </div>
                </div>
                <div class="tw-pt-5 tw-mb-15">
                    <a href="booking.html" class="btn btn-main-two hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        <span class="button__flair"></span>
                        <span class="button__label">Book free Consultation</span>
                        <span class="text-white tw-text-2xl group-hover-text-white tw-duration-500 position-relative">
                            <i class="ph-bold ph-caret-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="d-flex tw-gap-6 tw-h-650-px top-bottom-gradient gradient-width-200 position-relative">
                    <!-- First Slider start -->
                    <div class="swiper overflow-hidden about-two-thumbs-slider-one w-50">
                        <div class="swiper-wrapper transition-timing-linear tw-gap-6">
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img1.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img2.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img3.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img4.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img5.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img6.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img2.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img1.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img3.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- First Slider end -->
    
                     <!-- Second Slider start -->
                    <div class="swiper overflow-hidden about-two-thumbs-slider-two w-50">
                        <div class="swiper-wrapper transition-timing-linear tw-gap-6">
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img6.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img5.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img4.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img3.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img2.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img1.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img5.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img4.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img6.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Second Slider end -->

                     <!-- Second Slider start -->
                    <div class="swiper overflow-hidden about-three-thumbs-slider-three w-50">
                        <div class="swiper-wrapper transition-timing-linear tw-gap-6">
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img3.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img2.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img1.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img4.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img5.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img6.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img4.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img1.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tw-rounded-2xl overflow-hidden">
                                    <img src="assets/images/thumbs/country-three-img6.png" alt="Image" class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Second Slider end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== country section end ====================== -->