<!-- =================== appy now bottom section start =================== -->
<section style="background-image: url(assets/images/bg/appy-now-bg-img1.png);" class="pt-120 pb-210 bg-img">
    <div class="container max-w-1400-px">
        <div class="max-w-690-px mx-auto text-center tw-mb-10">
            <div class="d-flex align-items-center justify-content-center tw-gap-2 tw-mb-4" data-aos="fade-up"
                data-aos-duration="800" data-aos-delay="100">
                <span class="tw-text-2xl text-green-600 fw-medium d-flex">
                    <i class="ph-bold ph-paper-plane-tilt"></i>
                </span>
                <span class="fw-medium tw-text-405 text-black">
                    Study, Work, or Settle Abroad with 100% Legal Support
                </span>
            </div>
            <h2 class="fw-medium text-neutral-900 tw-mb-4" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="200">
                see how we spreard over the worldwide
            </h2>
            <p class="fw-medium tw-text-4 text-neutral-600" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="300">
                We specialize in providing high-quality plumbing solutions for your home or business. Our experienced
                team is committed to resolving
            </p>
        </div>


        <div class="row gy-3">
            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="bg-white tw-py-7 tw-px-5 tw-border-black-7-persent tw-rounded-2xl tw-hover-shadow-appy-now-bottom group group-item tw-duration-300 h-100">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-w-13 tw-h-13 rounded-circle overflow-hidden d-flex">
                            <img src="assets/images/thumbs/appy-now-bottom-img1.png" alt="Sweden"
                                class="group-hover-item-scale-12 tw-duration-300 w-100 h-100">
                        </span>
                        <div class="">
                            <span class="text-main-600 text-capitalize tw-mb-1 tw-text-sm">Visa Services</span>
                            <h2 class="tw-text-lg">Sweden</h2>
                        </div>
                    </div>
                    <ul class="tw-mt-8 d-flex flex-column tw-gap-2">
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Visitor Visa
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Work Visa - H1B
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Student Visa 
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Business Visa 
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="bg-white tw-py-7 tw-px-5 tw-border-black-7-persent tw-rounded-2xl tw-hover-shadow-appy-now-bottom group group-item tw-duration-300 h-100">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-w-13 tw-h-13 rounded-circle overflow-hidden d-flex">
                            <img src="assets/images/thumbs/appy-now-bottom-img2.png" alt="Sweden"
                                class="group-hover-item-scale-12 tw-duration-300 w-100 h-100">
                        </span>
                        <div class="">
                            <span class="text-main-600 text-capitalize tw-mb-1 tw-text-sm">Visa Services</span>
                            <h2 class="tw-text-lg">Italian</h2>
                        </div>
                    </div>
                    <ul class="tw-mt-8 d-flex flex-column tw-gap-2">
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Visitor Visa
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Work Visa - H1B
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Student Visa 
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Business Visa 
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="bg-white tw-py-7 tw-px-5 tw-border-black-7-persent tw-rounded-2xl tw-hover-shadow-appy-now-bottom group group-item tw-duration-300 h-100">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-w-13 tw-h-13 rounded-circle overflow-hidden d-flex">
                            <img src="assets/images/thumbs/appy-now-bottom-img3.png" alt="Sweden"
                                class="group-hover-item-scale-12 tw-duration-300 w-100 h-100">
                        </span>
                        <div class="">
                            <span class="text-main-600 text-capitalize tw-mb-1 tw-text-sm">Visa Services</span>
                            <h2 class="tw-text-lg">Canada</h2>
                        </div>
                    </div>
                    <ul class="tw-mt-8 d-flex flex-column tw-gap-2">
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Visitor Visa
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Work Visa - H1B
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Student Visa 
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Business Visa 
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="bg-white tw-py-7 tw-px-5 tw-border-black-7-persent tw-rounded-2xl tw-hover-shadow-appy-now-bottom group group-item tw-duration-300 h-100">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-w-13 tw-h-13 rounded-circle overflow-hidden d-flex">
                            <img src="assets/images/thumbs/appy-now-bottom-img4.png" alt="Sweden"
                                class="group-hover-item-scale-12 tw-duration-300 w-100 h-100">
                        </span>
                        <div class="">
                            <span class="text-main-600 text-capitalize tw-mb-1 tw-text-sm">Visa Services</span>
                            <h2 class="tw-text-lg">Brazil</h2>
                        </div>
                    </div>
                    <ul class="tw-mt-8 d-flex flex-column tw-gap-2">
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Visitor Visa
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Work Visa - H1B
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Student Visa 
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Business Visa 
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="bg-white tw-py-7 tw-px-5 tw-border-black-7-persent tw-rounded-2xl tw-hover-shadow-appy-now-bottom group group-item tw-duration-300 h-100">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-w-13 tw-h-13 rounded-circle overflow-hidden d-flex">
                            <img src="assets/images/thumbs/appy-now-bottom-img5.png" alt="Sweden"
                                class="group-hover-item-scale-12 tw-duration-300 w-100 h-100">
                        </span>
                        <div class="">
                            <span class="text-main-600 text-capitalize tw-mb-1 tw-text-sm">Visa Services</span>
                            <h2 class="tw-text-lg">Germany</h2>
                        </div>
                    </div>
                    <ul class="tw-mt-8 d-flex flex-column tw-gap-2">
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Visitor Visa
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Work Visa - H1B
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Student Visa 
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Business Visa 
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="bg-white tw-py-7 tw-px-5 tw-border-black-7-persent tw-rounded-2xl tw-hover-shadow-appy-now-bottom group group-item tw-duration-300 h-100">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-w-13 tw-h-13 rounded-circle overflow-hidden d-flex">
                            <img src="assets/images/thumbs/appy-now-bottom-img6.png" alt="Sweden"
                                class="group-hover-item-scale-12 tw-duration-300 w-100 h-100">
                        </span>
                        <div class="">
                            <span class="text-main-600 text-capitalize tw-mb-1 tw-text-sm">Visa Services</span>
                            <h2 class="tw-text-lg">Ukraine</h2>
                        </div>
                    </div>
                    <ul class="tw-mt-8 d-flex flex-column tw-gap-2">
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Visitor Visa
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Work Visa - H1B
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Student Visa 
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Business Visa 
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="bg-white tw-py-7 tw-px-5 tw-border-black-7-persent tw-rounded-2xl tw-hover-shadow-appy-now-bottom group group-item tw-duration-300 h-100">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-w-13 tw-h-13 rounded-circle overflow-hidden d-flex">
                            <img src="assets/images/thumbs/appy-now-bottom-img7.png" alt="Sweden"
                                class="group-hover-item-scale-12 tw-duration-300 w-100 h-100">
                        </span>
                        <div class="">
                            <span class="text-main-600 text-capitalize tw-mb-1 tw-text-sm">Visa Services</span>
                            <h2 class="tw-text-lg">Ukraine</h2>
                        </div>
                    </div>
                    <ul class="tw-mt-8 d-flex flex-column tw-gap-2">
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Visitor Visa
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Work Visa - H1B
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Student Visa 
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Business Visa 
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="bg-white tw-py-7 tw-px-5 tw-border-black-7-persent tw-rounded-2xl tw-hover-shadow-appy-now-bottom group group-item tw-duration-300 h-100">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-w-13 tw-h-13 rounded-circle overflow-hidden d-flex">
                            <img src="assets/images/thumbs/appy-now-bottom-img8.png" alt="Sweden"
                                class="group-hover-item-scale-12 tw-duration-300 w-100 h-100">
                        </span>
                        <div class="">
                            <span class="text-main-600 text-capitalize tw-mb-1 tw-text-sm">Visa Services</span>
                            <h2 class="tw-text-lg">Norway</h2>
                        </div>
                    </div>
                    <ul class="tw-mt-8 d-flex flex-column tw-gap-2">
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Visitor Visa
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Work Visa - H1B
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Student Visa 
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Business Visa 
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="bg-white tw-py-7 tw-px-5 tw-border-black-7-persent tw-rounded-2xl tw-hover-shadow-appy-now-bottom group group-item tw-duration-300 h-100">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-w-13 tw-h-13 rounded-circle overflow-hidden d-flex">
                            <img src="assets/images/thumbs/appy-now-bottom-img9.png" alt="Sweden"
                                class="group-hover-item-scale-12 tw-duration-300 w-100 h-100">
                        </span>
                        <div class="">
                            <span class="text-main-600 text-capitalize tw-mb-1 tw-text-sm">Visa Services</span>
                            <h2 class="tw-text-lg">Japan</h2>
                        </div>
                    </div>
                    <ul class="tw-mt-8 d-flex flex-column tw-gap-2">
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Visitor Visa
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Work Visa - H1B
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Student Visa 
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Business Visa 
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="bg-white tw-py-7 tw-px-5 tw-border-black-7-persent tw-rounded-2xl tw-hover-shadow-appy-now-bottom group group-item tw-duration-300 h-100">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-w-13 tw-h-13 rounded-circle overflow-hidden d-flex">
                            <img src="assets/images/thumbs/appy-now-bottom-img10.png" alt="Sweden"
                                class="group-hover-item-scale-12 tw-duration-300 w-100 h-100">
                        </span>
                        <div class="">
                            <span class="text-main-600 text-capitalize tw-mb-1 tw-text-sm">Visa Services</span>
                            <h2 class="tw-text-lg">Hongkong</h2>
                        </div>
                    </div>
                    <ul class="tw-mt-8 d-flex flex-column tw-gap-2">
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Visitor Visa
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Work Visa - H1B
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Student Visa 
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Business Visa 
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="bg-white tw-py-7 tw-px-5 tw-border-black-7-persent tw-rounded-2xl tw-hover-shadow-appy-now-bottom group group-item tw-duration-300 h-100">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-w-13 tw-h-13 rounded-circle overflow-hidden d-flex">
                            <img src="assets/images/thumbs/appy-now-bottom-img11.png" alt="Sweden"
                                class="group-hover-item-scale-12 tw-duration-300 w-100 h-100">
                        </span>
                        <div class="">
                            <span class="text-main-600 text-capitalize tw-mb-1 tw-text-sm">Visa Services</span>
                            <h2 class="tw-text-lg">Vietnam</h2>
                        </div>
                    </div>
                    <ul class="tw-mt-8 d-flex flex-column tw-gap-2">
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Visitor Visa
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Work Visa - H1B
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Student Visa 
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Business Visa 
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="bg-white tw-py-7 tw-px-5 tw-border-black-7-persent tw-rounded-2xl tw-hover-shadow-appy-now-bottom group group-item tw-duration-300 h-100">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-w-13 tw-h-13 rounded-circle overflow-hidden d-flex">
                            <img src="assets/images/thumbs/appy-now-bottom-img12.png" alt="Sweden"
                                class="group-hover-item-scale-12 tw-duration-300 w-100 h-100">
                        </span>
                        <div class="">
                            <span class="text-main-600 text-capitalize tw-mb-1 tw-text-sm">Visa Services</span>
                            <h2 class="tw-text-lg">India</h2>
                        </div>
                    </div>
                    <ul class="tw-mt-8 d-flex flex-column tw-gap-2">
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Visitor Visa
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Work Visa - H1B
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Student Visa 
                            </span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-2">
                            <span class="text-main-600 tw-text-md">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-sm">
                                Business Visa 
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-center tw-mt-15">
            <a href="booking.html"
                class="btn btn-main-two hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill"
                data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                <span class="button__flair"></span>
                <span class="button__label">Book free Consultation</span>
                <span class="text-white tw-text-lx group-hover-text-white tw-duration-500 position-relative">
                    <i class="ph-bold ph-caret-right"></i>
                </span>
            </a>
        </div>
    </div>
</section>
<!-- =================== appy now bottom section end =================== -->