<!-- ====================== discount tab section start ====================== -->
<div class="">
    <div class="container">
        <div class="tw-w-100vw">
            <div class="swiper discount-tab-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="bg-white tw-py-6 tw-px-5 tw-rounded-2xl w-100">
                            <div class="d-flex align-items-center tw-gap-8 tw-mb-3 flex-sm-nowrap flex-wrap">
                                <span class="max-w-310-px w-100 media-sm-max-w-100-persent">
                                    <img src="assets/images/thumbs/discount-tab-img1.png" alt="img" class="w-100">
                                </span>
                                <div>
                                    <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-3">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-5 text-main-600">
                                                <i class="ph-bold ph-calendar-blank"></i>
                                            </span>
                                            <span class="fw-medium tw-text-4 text-paragraph-950">
                                                03 aug 25
                                            </span>
                                        </div>
                                        <span class="fw-medium tw-text-4 text-paragraph-950">
                                            16 Jun 2022
                                        </span>
                                    </div>
                                    <h6 class="tw-text-405 fw-medium text-black tw-mb-3">
                                        Dubai (DXB)
                                        <span>
                                            <i class="ph-bold ph-arrows-left-right"></i>
                                        </span>
                                        New York (USA)
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                                        <h6 class="tw-text-405 fw-medium text-black ">
                                            Economy from
                                        </h6>
                                        <h3 class="fw-medium text-main-600">
                                            $195
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h5 class="tw-text-24-px fw-medium text-black tw-mb-3">
                                    Up to <span class="text-green-600">18%</span> Discount on Dubai to new york tour
                                </h5>
                                <p class="fw-normal tw-text-305 text-paragraph-300 tw-mb-4">
                                    On base fare, for City Bank American Express® Platinum & Gold
                                    credit cards. Till 31 Dec’25.
                                </p>
                                <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                                    <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-xl" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Booking now</span>
                                    </a>
                                    <button type="button" class="bg-white tw-w-9 tw-h-9 rounded-circle tw-shadow-dicount d-flex justify-content-center align-items-center tw-text-405  text-green-600">
                                        <i class="ph-bold ph-heart-straight"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg-white tw-py-6 tw-px-5 tw-rounded-2xl w-100">
                            <div class="d-flex align-items-center tw-gap-8 tw-mb-3 flex-sm-nowrap flex-wrap">
                                <span class="max-w-310-px w-100 media-sm-max-w-100-persent">
                                    <img src="assets/images/thumbs/discount-tab-img2.png" alt="img" class="w-100">
                                </span>
                                <div>
                                    <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-3">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-5 text-main-600">
                                                <i class="ph-bold ph-calendar-blank"></i>
                                            </span>
                                            <span class="fw-medium tw-text-4 text-paragraph-950">
                                                03 aug 25
                                            </span>
                                        </div>
                                        <span class="fw-medium tw-text-4 text-paragraph-950">
                                            16 Jun 2022
                                        </span>
                                    </div>
                                    <h6 class="tw-text-405 fw-medium text-black tw-mb-3">
                                        Dubai (DXB)
                                        <span>
                                            <i class="ph-bold ph-arrows-left-right"></i>
                                        </span>
                                        New York (USA)
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                                        <h6 class="tw-text-405 fw-medium text-black ">
                                            Economy from
                                        </h6>
                                        <h3 class="fw-medium text-main-600">
                                            $195
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h5 class="tw-text-24-px fw-medium text-black tw-mb-3">
                                    Up to <span class="text-green-600">18%</span> Discount on Dubai to new york tour
                                </h5>
                                <p class="fw-normal tw-text-305 text-paragraph-300 tw-mb-4">
                                    On base fare, for City Bank American Express® Platinum & Gold
                                    credit cards. Till 31 Dec’25.
                                </p>
                                <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                                    <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-xl" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Booking now</span>
                                    </a>
                                    <button type="button" class="bg-white tw-w-9 tw-h-9 rounded-circle tw-shadow-dicount d-flex justify-content-center align-items-center tw-text-405  text-green-600">
                                        <i class="ph-bold ph-heart-straight"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg-white tw-py-6 tw-px-5 tw-rounded-2xl w-100">
                            <div class="d-flex align-items-center tw-gap-8 tw-mb-3 flex-sm-nowrap flex-wrap">
                                <span class="max-w-310-px w-100 media-sm-max-w-100-persent">
                                    <img src="assets/images/thumbs/discount-tab-img3.png" alt="img" class="w-100">
                                </span>
                                <div>
                                    <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-3">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-5 text-main-600">
                                                <i class="ph-bold ph-calendar-blank"></i>
                                            </span>
                                            <span class="fw-medium tw-text-4 text-paragraph-950">
                                                03 aug 25
                                            </span>
                                        </div>
                                        <span class="fw-medium tw-text-4 text-paragraph-950">
                                            16 Jun 2022
                                        </span>
                                    </div>
                                    <h6 class="tw-text-405 fw-medium text-black tw-mb-3">
                                        Dubai (DXB)
                                        <span>
                                            <i class="ph-bold ph-arrows-left-right"></i>
                                        </span>
                                        New York (USA)
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                                        <h6 class="tw-text-405 fw-medium text-black ">
                                            Economy from
                                        </h6>
                                        <h3 class="fw-medium text-main-600">
                                            $195
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h5 class="tw-text-24-px fw-medium text-black tw-mb-3">
                                    Up to <span class="text-green-600">18%</span> Discount on Dubai to new york tour
                                </h5>
                                <p class="fw-normal tw-text-305 text-paragraph-300 tw-mb-4">
                                    On base fare, for City Bank American Express® Platinum & Gold
                                    credit cards. Till 31 Dec’25.
                                </p>
                                <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                                    <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-xl" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Booking now</span>
                                    </a>
                                    <button type="button" class="bg-white tw-w-9 tw-h-9 rounded-circle tw-shadow-dicount d-flex justify-content-center align-items-center tw-text-405  text-green-600">
                                        <i class="ph-bold ph-heart-straight"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg-white tw-py-6 tw-px-5 tw-rounded-2xl w-100">
                            <div class="d-flex align-items-center tw-gap-8 tw-mb-3 flex-sm-nowrap flex-wrap">
                                <span class="max-w-310-px w-100 media-sm-max-w-100-persent">
                                    <img src="assets/images/thumbs/discount-tab-img2.png" alt="img" class="w-100">
                                </span>
                                <div>
                                    <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-3">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-5 text-main-600">
                                                <i class="ph-bold ph-calendar-blank"></i>
                                            </span>
                                            <span class="fw-medium tw-text-4 text-paragraph-950">
                                                03 aug 25
                                            </span>
                                        </div>
                                        <span class="fw-medium tw-text-4 text-paragraph-950">
                                            16 Jun 2022
                                        </span>
                                    </div>
                                    <h6 class="tw-text-405 fw-medium text-black tw-mb-3">
                                        Dubai (DXB)
                                        <span>
                                            <i class="ph-bold ph-arrows-left-right"></i>
                                        </span>
                                        New York (USA)
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                                        <h6 class="tw-text-405 fw-medium text-black ">
                                            Economy from
                                        </h6>
                                        <h3 class="fw-medium text-main-600">
                                            $195
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h5 class="tw-text-24-px fw-medium text-black tw-mb-3">
                                    Up to <span class="text-green-600">18%</span> Discount on Dubai to new york tour
                                </h5>
                                <p class="fw-normal tw-text-305 text-paragraph-300 tw-mb-4">
                                    On base fare, for City Bank American Express® Platinum & Gold
                                    credit cards. Till 31 Dec’25.
                                </p>
                                <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                                    <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-xl" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Booking now</span>
                                    </a>
                                    <button type="button" class="bg-white tw-w-9 tw-h-9 rounded-circle tw-shadow-dicount d-flex justify-content-center align-items-center tw-text-405  text-green-600">
                                        <i class="ph-bold ph-heart-straight"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ====================== discount tab section end ====================== -->

