<!-- ====================== education section start ==================== -->
<section class="py-120 position-relative">
    <img src="assets/images/shape/education-three-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt-10 d-xl-block d-none">
    <div class="container max-w-1650-px">
        <div class="row gy-5 align-items-center">
            <div class="col-lg-5">
                <span data-aos="zoom-in" data-aos-duration="1500">
                    <img src="assets/images/thumbs/education-three-img7.png" alt="img">
                </span>
            </div>
            <div class="col-lg-7">
                <div class="d-flex align-items-center tw-gap-2 tw-mb-4 flex-wrap" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="text-green-600 tw-text-7">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-black">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h2 class="fw-semibold text-paragraph-950 tw-mb-6 " data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    We inclusive and educational <span class="fw-normal">visa agency that you like</span>
                </h2>
                <p class="fw-medium tw-text-4 text-neutral-600 tw-mb-10"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    We specialize in providing high-quality plumbing solutions for your home or Our experienced  business. Our experienced team is committed to resolving team is committed to resolving
                </p>
                <div class="d-flex align-items-center tw-gap-6 flex-wrap tw-mb-12"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                        <span>
                            <img src="assets/images/thumbs/education-three-img1.png" alt="img">
                        </span>
                        <span class="fw-medium tw-text-405 text-paragraph-900">
                            Organizations and<br> recognized work
                        </span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                        <span>
                            <img src="assets/images/thumbs/education-three-img2.png" alt="img">
                        </span>
                        <span class="fw-medium tw-text-405 text-paragraph-900">
                            We Use latest tech<br> to run your project
                        </span>
                    </div>
                </div>
                <div class="d-flex align-items-center tw-gap-6 flex-wrap tw-mb-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                    <div class="d-flex flex-column tw-gap-6">
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-text-405 text-green-600 d-flex">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="fw-medium tw-text-5 text-black">
                                Spouse & Family Visa
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-text-405 text-green-600 d-flex">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="fw-medium tw-text-5 text-black">
                                Spouse & Family Visa
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-column tw-gap-6">
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-text-405 text-green-600 d-flex">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="fw-medium tw-text-5 text-black">
                                Spouse & Family Visa
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-text-405 text-green-600 d-flex">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="fw-medium tw-text-5 text-black">
                                Spouse & Family Visa
                            </span>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center tw-gap-5 flex-wrap" data-aos="fade-up" data-aos-duration="800" data-aos-delay="450">
                    <a href="booking.html" class="btn btn-main-two hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label">Book free Consultation</span>
                        <span class="text-white tw-text-xl group-hover-text-white tw-duration-500 position-relative">
                            <i class="ph-bold ph-caret-right"></i>
                        </span>
                    </a>
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/thumbs/education-three-img3.png" alt="img" class="hover-scale-2 tw-duration-300">
                            <img src="assets/images/thumbs/education-three-img4.png" alt="img" class="hover-scale-2 tw-duration-300 tw-ms--10-px">
                            <img src="assets/images/thumbs/education-three-img5.png" alt="img" class="hover-scale-2 tw-duration-300 tw-ms--10-px">
                            <img src="assets/images/thumbs/education-three-img6.png" alt="img" class="hover-scale-2 tw-duration-300 tw-ms--10-px">
                        </div>
                        <span class="fw-medium tw-text-4 text-paragraph-900 position-relative">
                            10m+ Trusted Global clients
                            <span class="position-absolute top-100 tw-mt-0 start-50 translate-middle-x w-100">
                                <img src="assets/images/icon/curve-line.png" alt="Curve Line" class="">
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== education section end ==================== -->



<!-- =================== education bottom section start ======================= -->
<div class="tw-pb-15 ">
    <div class="container max-w-1650-px">
        <div class="d-flex align-items-center justify-content-between tw-gap-5 flex-wrap">
            <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <span class="bg-neutral-50 tw-py-2 tw-px-4 tw-rounded-lg tw-text-4 text-neutral-700 tw-mb-3">
                    Business transformed
                </span>
                <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                    <h3 class="fw-normal counter">
                        260+
                    </h3>
                    <p class="fw-medium tw-text-4 text-neutral-400 max-w-180-px w-100">Helping comanies grow and perform better</p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <span class="bg-neutral-50 tw-py-2 tw-px-4 tw-rounded-lg tw-text-4 text-neutral-700 tw-mb-3">
                    Client satisfaction rate
                </span>
                <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                    <h3 class="fw-normal counter">
                        95%
                    </h3>
                    <p class="fw-medium tw-text-4 text-neutral-400 max-w-209-px w-100">Trusted and recommended by our clients.</p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <span class="bg-neutral-50 tw-py-2 tw-px-4 tw-rounded-lg tw-text-4 text-neutral-700 tw-mb-3">
                    Revenue growth generated
                </span>
                <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                    <h3 class="fw-normal counter">
                        $150M
                    </h3>
                    <p class="fw-medium tw-text-4 text-neutral-400 max-w-180-px w-100">Delivering measurable financial impact</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =================== education bottom section end ======================= -->