<!-- ====================== enquiry section start ====================== -->
<section class="tw-pt-10 bg-paragraph-10">
    <div class="container">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-5">
                <div class="position-relative z-1">
                    <img src="assets/images/thumbs/enquiry-img1.png" alt="img" class="z-1">
                    <img src="assets/images/shape/enquiry-shap1.png" alt="shape" class="position-absolute bottom-0 tw-start-0 z-n1 tw-ms--90-px z-n1">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                    <span class="tw-text-10 text-green-600">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-black">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h3 class="fw-medium text-neutral-900 tw-mb-5">
                    we care about any enquiry of visa related consultation..
                </h3>
                <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill" data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">Book free Consultation</span>
                    <span class="text-white tw-text-lx group-hover-text-white tw-duration-500 position-relative">
                        <i class="ph-bold ph-caret-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ====================== enquiry section end ====================== -->