<!-- ===================== features section start ==================== -->
<section class="bg-neutral-50 tw-px-12">
    <div class="pt-90">
        <div class="container">
            <div class="d-flex justify-content-center tw-mb-15">
                <div class="max-w-870-px text-center">
                    <div class="d-flex align-items-center tw-gap-2 tw-mb-4 justify-content-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-text-2xl text-green-600 fw-medium d-flex">
                            <i class="ph-bold ph-paper-plane-tilt"></i>
                        </span>
                        <span class="fw-medium tw-text-405 text-black">
                            Study, Work, or Settle Abroad with 100% Legal Support
                        </span>
                    </div>
                    <h2 class="fw-semibold text-neutral-950 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        Core Features Of Our Agency Behind The Scene
                    </h2>
                    <P class="fw-medium tw-text-4 text-green-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        We specialize in providing high-quality plumbing solutions for your home or business. Our experienced team is committed to resolving
                    </P>
                </div>
            </div>
        </div>

        <div class="swiper features-two-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="bg-white tw-px-8 tw-pt-10 tw-pb-6 tw-rounded-lg animation-item text-center group" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <span class="d-flex align-items-center justify-content-center">
                                <span class="tw-w-165-px tw-h-165-px d-flex align-items-center justify-content-center bg-danger-05 rounded-circle tw-mb-6">
                                    <img src="assets/images/icon/features-two-icon1.png" alt="icon" class="animate__bounce">
                                </span>
                            </span>
                            <h5 class="fw-medium tw-mb-6 text-black tw-text-505">
                                Licensed & Experienced Team
                            </h5>
                            <div class="d-flex align-items-center justify-content-center">
                                <button type="button" class="tw-w-12 tw-h-12 border-black tw-border-dashed border rounded-circle d-flex align-items-center justify-content-center tw-text-405 group-hover-text-white group-hover-bg-main-600 tw-duration-300 group-hover-border-none">
                                    <i class="ph-bold ph-arrow-up-right"></i>
                                </button>
                            </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-white tw-px-8 tw-pt-10 tw-pb-6 tw-rounded-lg animation-item text-center group tw-mt-160-px" data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
                        <span class="d-flex align-items-center justify-content-center">
                            <span class="tw-w-165-px tw-h-165-px d-flex align-items-center justify-content-center bg-green-05 rounded-circle tw-mb-6">
                                <img src="assets/images/icon/features-two-icon2.png" alt="icon" class="animate__bounce">
                            </span>
                        </span>
                        <h5 class="fw-medium tw-mb-6 text-black tw-text-505">
                            24/7 Emergency Support
                        </h5>
                        <div class="d-flex align-items-center justify-content-center">
                            <button type="button" class="tw-w-12 tw-h-12 border-black tw-border-dashed border rounded-circle d-flex align-items-center justify-content-center tw-text-405 group-hover-text-white group-hover-bg-main-600 tw-duration-300 group-hover-border-none">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </button>
                        </div>
                    </div> 
                </div>
                <div class="swiper-slide">
                    <div class="bg-white tw-px-8 tw-pt-10 tw-pb-6 tw-rounded-lg animation-item text-center group" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <span class="d-flex align-items-center justify-content-center">
                            <span class="tw-w-165-px tw-h-165-px d-flex align-items-center justify-content-center bg-danger-05 rounded-circle tw-mb-6">
                                <img src="assets/images/icon/features-two-icon3.png" alt="icon" class="animate__bounce">
                            </span>
                        </span>
                        <h5 class="fw-medium tw-mb-6 text-black tw-text-505">
                            Case Tracking Sustem
                        </h5>
                        <div class="d-flex align-items-center justify-content-center">
                            <button type="button" class="tw-w-12 tw-h-12 border-black tw-border-dashed border rounded-circle d-flex align-items-center justify-content-center tw-text-405 group-hover-text-white group-hover-bg-main-600 tw-duration-300 group-hover-border-none">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-white tw-px-8 tw-pt-10 tw-pb-6 tw-rounded-lg animation-item text-center group tw-mt-160-px" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
                        <span class="d-flex align-items-center justify-content-center">
                            <span class="tw-w-165-px tw-h-165-px d-flex align-items-center justify-content-center bg-blue-05 rounded-circle tw-mb-6">
                                <img src="assets/images/icon/features-two-icon4.png" alt="icon" class="animate__bounce">
                            </span>
                        </span>
                        <h5 class="fw-medium tw-mb-6 text-black tw-text-505">
                            Affordable & Transparent Pricing
                        </h5>
                        <div class="d-flex align-items-center justify-content-center">
                            <button type="button" class="tw-w-12 tw-h-12 border-black tw-border-dashed border rounded-circle d-flex align-items-center justify-content-center tw-text-405 group-hover-text-white group-hover-bg-main-600 tw-duration-300 group-hover-border-none">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-white tw-px-8 tw-pt-10 tw-pb-6 tw-rounded-lg animation-item text-center group" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <span class="d-flex align-items-center justify-content-center">
                            <span class="tw-w-165-px tw-h-165-px d-flex align-items-center justify-content-center bg-warning-05 rounded-circle tw-mb-6">
                                <img src="assets/images/icon/features-two-icon5.png" alt="icon" class="animate__bounce">
                            </span>
                        </span>
                        <h5 class="fw-medium tw-mb-6 text-black tw-text-505">
                            10+ Years of Experience
                        </h5>
                        <div class="d-flex align-items-center justify-content-center">
                            <button type="button" class="tw-w-12 tw-h-12 border-black tw-border-dashed border rounded-circle d-flex align-items-center justify-content-center tw-text-405 group-hover-text-white group-hover-bg-main-600 tw-duration-300 group-hover-border-none">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-white tw-px-8 tw-pt-10 tw-pb-6 tw-rounded-lg animation-item text-center group tw-mt-160-px" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        <span class="d-flex align-items-center justify-content-center">
                            <span class="tw-w-165-px tw-h-165-px d-flex align-items-center justify-content-center bg-danger-05 rounded-circle tw-mb-6">
                                <img src="assets/images/icon/features-two-icon6.png" alt="icon" class="animate__bounce">
                            </span>
                        </span>
                        <h5 class="fw-medium tw-mb-6 text-black tw-text-505">
                            Warranty on Work
                        </h5>
                        <div class="d-flex align-items-center justify-content-center">
                            <button type="button" class="tw-w-12 tw-h-12 border-black tw-border-dashed border rounded-circle d-flex align-items-center justify-content-center tw-text-405 group-hover-text-white group-hover-bg-main-600 tw-duration-300 group-hover-border-none">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-white tw-px-8 tw-pt-10 tw-pb-6 tw-rounded-lg animation-item text-center group tw-mt-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                        <span class="d-flex align-items-center justify-content-center">
                            <span class="tw-w-165-px tw-h-165-px d-flex align-items-center justify-content-center bg-danger-05 rounded-circle tw-mb-6">
                                <img src="assets/images/icon/features-two-icon3.png" alt="icon" class="animate__bounce">
                            </span>
                        </span>
                        <h5 class="fw-medium tw-mb-6 text-black tw-text-505">
                            Case Tracking Sustem
                        </h5>
                        <div class="d-flex align-items-center justify-content-center">
                            <button type="button" class="tw-w-12 tw-h-12 border-black tw-border-dashed border rounded-circle d-flex align-items-center justify-content-center tw-text-405 group-hover-text-white group-hover-bg-main-600 tw-duration-300 group-hover-border-none">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= features-bottom section start ==================== -->
     <div class="tw-pt-200-px overflow-hidden tw-mb--240-px">
        <div class="container">
            <div class="bg-main-600 tw-rounded-xl">
                <div class="d-flex align-items-end tw-gap-6">
                    <span class="tw-ms--60-px w-100 h-100 d-xl-block d-none">
                        <img src="assets/images/thumbs/features-bottom-img1.png" alt="img" class="w-100 h-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    </span>
                    <div class="w-100 tw-pe-10 tw-py-10 tw-ps-40-px-media">
                        <div class="d-flex align-items-center tw-gap-5 justify-content-evenly tw-mb--26-px flex-wrap">
                            <div class="text-center">
                                <h1 class="fw-semibold text-white tw-mb-4 counter">282+</h1>
                                <span class="fw-medium text-white tw-text-405">
                                    TOTAL VISAS APPROVED
                                </span>
                            </div>
                            <span class="tw-h-257-px tw-w-px bg-white d-md-block bg-opacity-25 d-none"></span>
                            <div class="text-center">
                                <h1 class="fw-semibold text-white tw-mb-4 counter">95%</h1>
                                <span class="fw-medium text-white tw-text-405">
                                    APPROVED RATE %
                                </span>
                            </div>
                        </div>
                        <span class="w-100 tw-h-px bg-white bg-opacity-25 d-md-block d-none"></span>
                        <div class="d-flex align-items-center tw-gap-5 justify-content-evenly flex-wrap">
                            <div class="text-center">
                                <h1 class="fw-semibold text-white tw-mb-4 counter">282+</h1>
                                <span class="fw-medium text-white tw-text-405">
                                    TOTAL VISAS APPROVED
                                </span>
                            </div>
                            <span class="tw-h-257-px tw-w-px bg-white d-md-block bg-opacity-25 d-none"></span>
                            <div class="text-center">
                                <h1 class="fw-semibold text-white tw-mb-4 counter">95%</h1>
                                <span class="fw-medium text-white tw-text-405">
                                    APPROVED RATE %
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
    <!-- ================= features-bottom section end ==================== -->
</section>
<!-- ===================== features section end ==================== -->


