<!-- ====================== flight deals section start ======================== -->
<div class="row gy-4">
    <div class="col-lg-5">
        <div class="position-relative group-item group bg-img">
            <span class="bg-img">
                <img src="assets/images/thumbs/flight-deals-tab-img1.png" alt="img" class="bg-img">
            </span>
            <div class="position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle z-2 tw-display-none group-hover-item-d-block tw-duration-300 tw-transition-4">
                <a href="booking.html" class="btn btn-main-two hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill" data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">Booking Now</span>
                </a>
            </div>
            <div class="w-100 position-absolute bottom-0 tw-start-0 tw-px-4 tw-pb-3 z-3">
                <div class="bg-white tw-py-7 tw-px-7 tw-rounded-3xl d-flex align-items-start tw-gap-4 flex-wrap">
                    <span class="tw-w-11 tw-h-11 bg-green-600 rounded-circle d-flex align-items-center justify-content-center tw-text-6 text-white">
                        <i class="ph-fill ph-airplane-tilt"></i>
                    </span>
                    <div>
                        <h6 class="d-flex align-items-center tw-gap-3 flex-wrap fw-medium tw-text-405 text-black tw-mb-3">
                            Dubai (DXB)
                            <span>
                                <i class="ph-bold ph-arrows-left-right"></i>
                            </span>
                            New York (USA)
                        </h6>
                        <div class="d-flex align-items-center tw-gap-4 tw-mb-4">
                            <span class="fw-medium tw-text-305 text-neutral-500">
                                16 Jun 2022
                            </span>
                            <span class="fw-medium tw-text-305 text-neutral-500">
                                09:45 PM
                            </span>
                        </div>
                        <span class="fw-medium tw-text-305 text-neutral-500 tw-mb-3">
                            Starting from
                        </span>
                        <h5 class="tw-text-24-px fw-medium text-black">
                            $195
                        </h5>
                    </div>
                </div>
            </div>
            <span class="group-hover-bg-gradient-flight tw-rounded-3xl tw-duration-300 position-absolute top-0 tw-start-0 bg-img z-1 tw-duration-300"></span>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="position-relative group-item group bg-img">
            <span class="bg-img">
                <img src="assets/images/thumbs/flight-deals-tab-img2.png" alt="img" class="bg-img">
            </span>
            <div class="position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle z-2 tw-display-none group-hover-item-d-block tw-duration-300 tw-transition-4">
                <a href="booking.html" class="btn btn-main-two hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill" data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">Booking Now</span>
                </a>
            </div>
            <div class="w-100 position-absolute bottom-0 tw-start-0 tw-px-4 tw-pb-3 z-3">
                <div class="bg-white tw-py-7 tw-px-7 tw-rounded-3xl d-flex align-items-start tw-gap-4 flex-wrap">
                    <span class="tw-w-11 tw-h-11 bg-warning-700 rounded-circle d-flex align-items-center justify-content-center tw-text-6 text-white">
                        <i class="ph-fill ph-airplane-tilt"></i>
                    </span>
                    <div>
                        <h6 class="d-flex align-items-center tw-gap-3 flex-wrap fw-medium tw-text-405 text-black tw-mb-3">
                            Dubai (DXB)
                            <span>
                                <i class="ph-bold ph-arrows-left-right"></i>
                            </span>
                            New York (USA)
                        </h6>
                        <div class="d-flex align-items-center tw-gap-4 tw-mb-4">
                            <span class="fw-medium tw-text-305 text-neutral-500">
                                16 Jun 2022
                            </span>
                            <span class="fw-medium tw-text-305 text-neutral-500">
                                09:45 PM
                            </span>
                        </div>
                        <span class="fw-medium tw-text-305 text-neutral-500 tw-mb-3">
                            Starting from
                        </span>
                        <h5 class="tw-text-24-px fw-medium text-black">
                            $195
                        </h5>
                    </div>
                </div>
            </div>
            <span class="group-hover-bg-gradient-flight tw-rounded-3xl tw-duration-300 position-absolute top-0 tw-start-0 bg-img z-1 tw-duration-300"></span>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative group-item group bg-img">
            <span class="bg-img">
                <img src="assets/images/thumbs/flight-deals-tab-img3.png" alt="img" class="bg-img">
            </span>
            <div class="position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle z-2 tw-display-none group-hover-item-d-block tw-duration-300 tw-transition-4">
                <a href="booking.html" class="btn btn-main-two hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill" data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">Booking Now</span>
                </a>
            </div>
            <div class="w-100 position-absolute bottom-0 tw-start-0 tw-px-4 tw-pb-3 z-3">
                <div class="bg-white tw-py-7 tw-px-7 tw-rounded-3xl d-flex align-items-start tw-gap-4 flex-wrap">
                    <span class="tw-w-11 tw-h-11 bg-danger-700 rounded-circle d-flex align-items-center justify-content-center tw-text-6 text-white">
                        <i class="ph-fill ph-airplane-tilt"></i>
                    </span>
                    <div>
                        <h6 class="d-flex align-items-center tw-gap-3 flex-wrap fw-medium tw-text-405 text-black tw-mb-3">
                            Dubai (DXB)
                            <span>
                                <i class="ph-bold ph-arrows-left-right"></i>
                            </span>
                            New York (USA)
                        </h6>
                        <div class="d-flex align-items-center tw-gap-4 tw-mb-4">
                            <span class="fw-medium tw-text-305 text-neutral-500">
                                16 Jun 2022
                            </span>
                            <span class="fw-medium tw-text-305 text-neutral-500">
                                09:45 PM
                            </span>
                        </div>
                        <span class="fw-medium tw-text-305 text-neutral-500 tw-mb-3">
                            Starting from
                        </span>
                        <h5 class="tw-text-24-px fw-medium text-black">
                            $195
                        </h5>
                    </div>
                </div>
            </div>
            <span class="group-hover-bg-gradient-flight tw-rounded-3xl tw-duration-300 position-absolute top-0 tw-start-0 bg-img z-1 tw-duration-300"></span>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="position-relative group-item group bg-img">
            <span class="bg-img">
                <img src="assets/images/thumbs/flight-deals-tab-img4.png" alt="img" class="bg-img">
            </span>
            <div class="position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle z-2 tw-display-none group-hover-item-d-block tw-duration-300 tw-transition-4">
                <a href="booking.html" class="btn btn-main-two hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill" data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">Booking Now</span>
                </a>
            </div>
            <div class="w-100 position-absolute bottom-0 tw-start-0 tw-px-4 tw-pb-3 z-3">
                <div class="bg-white tw-py-7 tw-px-7 tw-rounded-3xl d-flex align-items-start tw-gap-4 flex-wrap">
                    <span class="tw-w-11 tw-h-11 bg-purple-400 rounded-circle d-flex align-items-center justify-content-center tw-text-6 text-white">
                        <i class="ph-fill ph-airplane-tilt"></i>
                    </span>
                    <div>
                        <h6 class="d-flex align-items-center tw-gap-3 flex-wrap fw-medium tw-text-405 text-black tw-mb-3">
                            Dubai (DXB)
                            <span>
                                <i class="ph-bold ph-arrows-left-right"></i>
                            </span>
                            New York (USA)
                        </h6>
                        <div class="d-flex align-items-center tw-gap-4 tw-mb-4">
                            <span class="fw-medium tw-text-305 text-neutral-500">
                                16 Jun 2022
                            </span>
                            <span class="fw-medium tw-text-305 text-neutral-500">
                                09:45 PM
                            </span>
                        </div>
                        <span class="fw-medium tw-text-305 text-neutral-500 tw-mb-3">
                            Starting from
                        </span>
                        <h5 class="tw-text-24-px fw-medium text-black">
                            $195
                        </h5>
                    </div>
                </div>
            </div>
            <span class="group-hover-bg-gradient-flight tw-rounded-3xl tw-duration-300 position-absolute top-0 tw-start-0 bg-img z-1 tw-duration-300"></span>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative group-item group bg-img">
            <span class="bg-img">
                <img src="assets/images/thumbs/flight-deals-tab-img5.png" alt="img" class="bg-img">
            </span>
            <div class="position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle z-2 tw-display-none group-hover-item-d-block tw-duration-300 tw-transition-4">
                <a href="booking.html" class="btn btn-main-two hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill" data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">Booking Now</span>
                </a>
            </div>
            <div class="w-100 position-absolute bottom-0 tw-start-0 tw-px-4 tw-pb-3 z-3">
                <div class="bg-white tw-py-7 tw-px-7 tw-rounded-3xl d-flex align-items-start tw-gap-4 flex-wrap">
                    <span class="tw-w-11 tw-h-11 bg-green-1000 rounded-circle d-flex align-items-center justify-content-center tw-text-6 text-white">
                        <i class="ph-fill ph-airplane-tilt"></i>
                    </span>
                    <div>
                        <h6 class="d-flex align-items-center tw-gap-3 flex-wrap fw-medium tw-text-405 text-black tw-mb-3">
                            Dubai (DXB)
                            <span>
                                <i class="ph-bold ph-arrows-left-right"></i>
                            </span>
                            New York (USA)
                        </h6>
                        <div class="d-flex align-items-center tw-gap-4 tw-mb-4">
                            <span class="fw-medium tw-text-305 text-neutral-500">
                                16 Jun 2022
                            </span>
                            <span class="fw-medium tw-text-305 text-neutral-500">
                                09:45 PM
                            </span>
                        </div>
                        <span class="fw-medium tw-text-305 text-neutral-500 tw-mb-3">
                            Starting from
                        </span>
                        <h5 class="tw-text-24-px fw-medium text-black">
                            $195
                        </h5>
                    </div>
                </div>
            </div>
            <span class="group-hover-bg-gradient-flight tw-rounded-3xl tw-duration-300 position-absolute top-0 tw-start-0 bg-img z-1 tw-duration-300"></span>
        </div>
    </div>
</div>
<!-- ====================== flight deals section end ======================== -->