<!-- ====================== dashboard tab section start ==================== -->
 <div class="tw-mt-6 overflow-x-scroll tw-pb-4">
    <div class="min-w-max">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div>
                    <div class="bg-white tw-py-4 tw-px-305 tw-rounded-xl d-flex align-items-center justify-content-between tw-gap-4 tw-mb-5">
                        <div>
                            <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md tw-mb-2">
                                <img src="assets/images/thumbs/visa-dashboard-img5.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                            </div>
                            <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md">
                                <img src="assets/images/thumbs/visa-dashboard-img6.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                            </div>
                        </div>
                        <div>
                            <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                09:45 PM
                            </h5>
                            <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                16 Jun 2022
                            </span>
                            <h6 class="tw-text-405 fw-medium text-black">
                                Dubai (DXB) <span><i class="ph-bold ph-arrows-left-right"></i></span> New York (USA)
                            </h6>
                        </div>
                        <div>
                            <h4 class="fw-medium text-main-600 tw-mb-3">
                                $195
                            </h4>
                            <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-lg" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Booking now</span>
                            </a>
                        </div>
                    </div>
                    <div class="bg-white tw-py-4 tw-px-305 tw-rounded-xl d-flex align-items-center justify-content-between tw-gap-4 tw-mb-5">
                        <div>
                            <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md tw-mb-2">
                                <img src="assets/images/thumbs/visa-dashboard-img5.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                            </div>
                            <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md">
                                <img src="assets/images/thumbs/visa-dashboard-img6.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                            </div>
                        </div>
                        <div>
                            <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                09:45 PM
                            </h5>
                            <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                16 Jun 2022
                            </span>
                            <h6 class="tw-text-405 fw-medium text-black">
                                Dubai (DXB) <span><i class="ph-bold ph-arrows-left-right"></i></span> New York (USA)
                            </h6>
                        </div>
                        <div>
                            <h4 class="fw-medium text-main-600 tw-mb-3">
                                $195
                            </h4>
                            <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-lg" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Booking now</span>
                            </a>
                        </div>
                    </div>
                    <div class="bg-white tw-py-4 tw-px-305 tw-rounded-xl d-flex align-items-center justify-content-between tw-gap-4">
                        <div>
                            <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md tw-mb-2">
                                <img src="assets/images/thumbs/visa-dashboard-img5.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                            </div>
                            <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md">
                                <img src="assets/images/thumbs/visa-dashboard-img6.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                            </div>
                        </div>
                        <div>
                            <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                09:45 PM
                            </h5>
                            <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                16 Jun 2022
                            </span>
                            <h6 class="tw-text-405 fw-medium text-black">
                                Dubai (DXB) <span><i class="ph-bold ph-arrows-left-right"></i></span> New York (USA)
                            </h6>
                        </div>
                        <div>
                            <h4 class="fw-medium text-main-600 tw-mb-3">
                                $195
                            </h4>
                            <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-lg" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Booking now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <div class="bg-white tw-py-4 tw-px-305 tw-rounded-xl d-flex align-items-center justify-content-between tw-gap-4 tw-mb-5">
                        <div>
                            <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md tw-mb-2">
                                <img src="assets/images/thumbs/visa-dashboard-img5.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                            </div>
                            <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md">
                                <img src="assets/images/thumbs/visa-dashboard-img6.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                            </div>
                        </div>
                        <div>
                            <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                09:45 PM
                            </h5>
                            <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                16 Jun 2022
                            </span>
                            <h6 class="tw-text-405 fw-medium text-black">
                                Dubai (DXB) <span><i class="ph-bold ph-arrows-left-right"></i></span> New York (USA)
                            </h6>
                        </div>
                        <div>
                            <h4 class="fw-medium text-main-600 tw-mb-3">
                                $195
                            </h4>
                            <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-lg" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Booking now</span>
                            </a>
                        </div>
                    </div>
                    <div class="bg-white tw-py-4 tw-px-305 tw-rounded-xl d-flex align-items-center justify-content-between tw-gap-4 tw-mb-5">
                        <div>
                            <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md tw-mb-2">
                                <img src="assets/images/thumbs/visa-dashboard-img5.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                            </div>
                            <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md">
                                <img src="assets/images/thumbs/visa-dashboard-img6.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                            </div>
                        </div>
                        <div>
                            <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                09:45 PM
                            </h5>
                            <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                16 Jun 2022
                            </span>
                            <h6 class="tw-text-405 fw-medium text-black">
                                Dubai (DXB) <span><i class="ph-bold ph-arrows-left-right"></i></span> New York (USA)
                            </h6>
                        </div>
                        <div>
                            <h4 class="fw-medium text-main-600 tw-mb-3">
                                $195
                            </h4>
                            <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-lg" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Booking now</span>
                            </a>
                        </div>
                    </div>
                    <div class="bg-white tw-py-4 tw-px-305 tw-rounded-xl d-flex align-items-center justify-content-between tw-gap-4">
                        <div>
                            <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md tw-mb-2">
                                <img src="assets/images/thumbs/visa-dashboard-img5.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                            </div>
                            <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md">
                                <img src="assets/images/thumbs/visa-dashboard-img6.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                            </div>
                        </div>
                        <div>
                            <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                09:45 PM
                            </h5>
                            <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                16 Jun 2022
                            </span>
                            <h6 class="tw-text-405 fw-medium text-black">
                                Dubai (DXB) <span><i class="ph-bold ph-arrows-left-right"></i></span> New York (USA)
                            </h6>
                        </div>
                        <div>
                            <h4 class="fw-medium text-main-600 tw-mb-3">
                                $195
                            </h4>
                            <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-lg" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Booking now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
<!-- ====================== dashboard tab section end ==================== -->