<!-- ========================= flight deals section start ========================= -->
<div class="overflow-hidden">
    <div class="container max-w-1400-px">
        <div class="d-flex align-items-center tw-gap-4 flex-wrap justify-content-between tw-mb-11">
            <h2 class="fw-medium text-neutral-900">
                Flight hot deals
            </h2>
            <ul class="nav nav-pills nav-pills-two d-flex align-items-center tw-gap-3 flex-wrap bg-white rounded-pill tw-py-2 tw-px-5"
                id="pills-tabFourHundress" role="tablist">
                <li class="nav-item" role="presentation">
                    <button
                        class="rounded-pill nav-link nav-link-two active fw-medium tw-text-405 text-black d-flex align-items-center tw-gap-105 tw-py-1 tw-px-6"
                        id="pills-all-two-tab" data-bs-toggle="pill" data-bs-target="#pills-all-two" type="button" role="tab"
                        aria-controls="pills-all-two" aria-selected="true">
                        All
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button
                        class="rounded-pill nav-link nav-link-two fw-medium tw-text-405 text-black d-flex align-items-center tw-gap-105 tw-py-1 tw-px-6"
                        id="pills-flight-twoooo-tab" data-bs-toggle="pill" data-bs-target="#pills-flight-twoooo" type="button"
                        role="tab" aria-controls="pills-flight-twoooo" aria-selected="true">
                        Flight
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button
                        class="rounded-pill nav-link nav-link-two fw-medium tw-text-405 text-black d-flex align-items-center tw-gap-105 tw-py-1 tw-px-6"
                        id="pills-hotel-two-tab" data-bs-toggle="pill" data-bs-target="#pills-hotel-two" type="button"
                        role="tab" aria-controls="pills-hotel-two" aria-selected="false">
                        Hotel
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button
                        class="rounded-pill nav-link nav-link-two fw-medium tw-text-405 text-black d-flex align-items-center tw-gap-105 tw-py-1 tw-px-6"
                        id="pills-tours-two-tab" data-bs-toggle="pill" data-bs-target="#pills-tours-two" type="button"
                        role="tab" aria-controls="pills-tours-two" aria-selected="false">
                        Tour
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button
                        class="rounded-pill nav-link nav-link-two d-flex align-items-center tw-gap-105 fw-medium tw-text-405 text-black tw-py-1 tw-px-6"
                        id="pills-others-two-tab" data-bs-toggle="pill" data-bs-target="#pills-others-two" type="button"
                        role="tab" aria-controls="pills-others-two" aria-selected="false">
                        Others
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <div class="cotnainer max-w-1800-px w-100">
            <div class="tab-content" id="pills-tabFourHundressContent">
                <div class="tab-pane fade show active" id="pills-all-two" role="tabpanel" aria-labelledby="pills-all-two-tab"
                    tabindex="0">
                    @@include('../partials/_flight-deals-tab.html')
                </div>
                <div class="tab-pane fade" id="pills-flight-twoooo" role="tabpanel" aria-labelledby="pills-flight-twoooo-tab"
                    tabindex="0">
                    @@include('../partials/_flight-deals-tab.html')
                </div>
                <div class="tab-pane fade" id="pills-hotel-two" role="tabpanel" aria-labelledby="pills-hotel-two-tab"
                    tabindex="0">
                    @@include('../partials/_flight-deals-tab.html')
                </div>
                <div class="tab-pane fade" id="pills-tours-two" role="tabpanel" aria-labelledby="pills-tours-two-tab"
                    tabindex="0">
                    @@include('../partials/_flight-deals-tab.html')
                </div>
                <div class="tab-pane fade" id="pills-others-two" role="tabpanel" aria-labelledby="pills-others-two-tab"
                    tabindex="0">
                    @@include('../partials/_flight-deals-tab.html')
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================= flight deals section end ========================= -->