<!-- ==================== flight bottom section start ==================== -->
<div class="pt-80 tw-pb-220-px">
    <div class="container max-w-1400-px">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <div class="bg-white tw-rounded-2xl tw-pt-7 tw-ps-10 tw-pb-10 tw-pe-5">
                    <span class="tw-text-13 text-black tw-mb-4">
                        <i class="ph-bold ph-phone"></i>
                    </span>
                    <h2 class="h5 tw-text-24-px fw-semibold text-black tw-mb-5">
                        24/7 customer support
                    </h2>
                    <p class="fw-medium tw-text-405 text-neutral-400">
                        No matter the time zone, we’re here to help.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="bg-white tw-rounded-2xl tw-pt-7 tw-ps-10 tw-pb-10 tw-pe-5">
                    <span class="tw-text-13 text-black tw-mb-4">
                        <i class="ph-bold ph-notebook"></i>
                    </span>
                    <h2 class="h5 tw-text-24-px fw-semibold text-black tw-mb-5">
                        fast visa processing
                    </h2>
                    <p class="fw-medium tw-text-405 text-neutral-400">
                        No matter the time zone, we’re here to help.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="bg-white tw-rounded-2xl tw-pt-7 tw-ps-10 tw-pb-10 tw-pe-5">
                    <span class="tw-text-13 text-black tw-mb-4">
                        <i class="ph-bold ph-shield-check"></i>
                    </span>
                    <h2 class="h5 tw-text-24-px fw-semibold text-black tw-mb-5">
                        Secure payment system
                    </h2>
                    <p class="fw-medium tw-text-405 text-neutral-400">
                        No matter the time zone, we’re here to help.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==================== flight bottom section end ==================== -->