<!-- ======================== flight dashborard section start ======================== -->
<section class="tw-pt-75-px">
    <div class="container">
        <div class="text-center">
            <h2 class="fw-medium text-neutral-900 tw-mb-4">
                today top flights
            </h2>
            <p class="fw-medium tw-text-4 text-paragraph-500 tw-mb-9">
                We specialize in providing high-quality plumbing solutions for your home or <br>
                business. Our experienced team is committed to resolving
            </p>
            <ul class="nav nav-pills nav-pills-two d-flex align-items-center tw-gap-3 justify-content-center flex-wrap" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link nav-link-two active fw-medium tw-text-405 text-black d-flex align-items-center tw-gap-105 tw-py-1 tw-px-6 border-neutral-300 border rounded-pill" id="pills-dashboard-tab" data-bs-toggle="pill" data-bs-target="#pills-dashboard" type="button" role="tab" aria-controls="pills-dashboard" aria-selected="true">
                        09:45 PM
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link nav-link-two fw-medium tw-text-405 text-black d-flex align-items-center tw-gap-105 tw-py-1 tw-px-6 border-neutral-300 border rounded-pill" id="pills-flight-three-tab" data-bs-toggle="pill" data-bs-target="#pills-flight-three" type="button" role="tab" aria-controls="pills-flight-three" aria-selected="true">
                        Flight
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link nav-link-two fw-medium tw-text-405 text-black d-flex align-items-center tw-gap-105 tw-py-1 tw-px-6 border-neutral-300 border rounded-pill" id="pills-dahsborad-two-tab" data-bs-toggle="pill" data-bs-target="#pills-dahsborad-two" type="button" role="tab" aria-controls="pills-dahsborad-two" aria-selected="false">
                        09:45 PM
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link nav-link-two fw-medium tw-text-405 text-black d-flex align-items-center tw-gap-105 tw-py-1 tw-px-6 border-neutral-300 border rounded-pill" id="pills-deashbroad-two-tab" data-bs-toggle="pill" data-bs-target="#pills-deashbroad-two" type="button" role="tab" aria-controls="pills-deashbroad-two" aria-selected="false">
                        09:45 PM
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ======================== flight dashborard section end ======================== -->