<!-- ======================== flight dashborard section start ======================== -->
<section class="tw-pt-75-px">
    <div class="container">
        <div class="text-center">
            <h2 class="fw-medium text-neutral-900 tw-mb-4">
                today top flights
            </h2>
            <p class="fw-medium tw-text-4 text-paragraph-500 tw-mb-9">
                We specialize in providing high-quality plumbing solutions for your home or <br>
                business. Our experienced team is committed to resolving
            </p>
            <ul class="nav nav-pills nav-pills-two d-flex align-items-center tw-gap-3 justify-content-center flex-wrap"
                id="pills-tabTen" role="tablist">
                <li class="nav-item" role="presentation">
                    <button
                        class="nav-link nav-link-two active fw-medium tw-text-405 text-black d-flex align-items-center tw-gap-105 tw-py-1 tw-px-6 border-neutral-300 border rounded-pill"
                        id="pills-dashboardSix-tab" data-bs-toggle="pill" data-bs-target="#pills-dashboardSix" type="button"
                        role="tab" aria-controls="pills-dashboardSix" aria-selected="true">
                        09:45 PM
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button
                        class="nav-link nav-link-two fw-medium tw-text-405 text-black d-flex align-items-center tw-gap-105 tw-py-1 tw-px-6 border-neutral-300 border rounded-pill"
                        id="pills-flight-threeSix-tab" data-bs-toggle="pill" data-bs-target="#pills-flight-threeSix"
                        type="button" role="tab" aria-controls="pills-flight-threeSix" aria-selected="true">
                        Flight
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button
                        class="nav-link nav-link-two fw-medium tw-text-405 text-black d-flex align-items-center tw-gap-105 tw-py-1 tw-px-6 border-neutral-300 border rounded-pill"
                        id="pills-dahsborad-twoSix-tab" data-bs-toggle="pill" data-bs-target="#pills-dahsborad-twoSix"
                        type="button" role="tab" aria-controls="pills-dahsborad-twoSix" aria-selected="false">
                        09:45 PM
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button
                        class="nav-link nav-link-two fw-medium tw-text-405 text-black d-flex align-items-center tw-gap-105 tw-py-1 tw-px-6 border-neutral-300 border rounded-pill"
                        id="pills-deashbroad-twoSix-tab" data-bs-toggle="pill" data-bs-target="#pills-deashbroad-twoSix"
                        type="button" role="tab" aria-controls="pills-deashbroad-twoSix" aria-selected="false">
                        09:45 PM
                    </button>
                </li>
            </ul>
            <div class="d-flex align-items-center justify-content-center overflow-hidden">
                <div class="cotnainer max-w-1400-px w-100">
                    <div class="tab-content" id="pills-tabTenContent">
                        <div class="tab-pane fade show active" id="pills-dashboardSix" role="tabpanel"
                            aria-labelledby="pills-dashboardSix-tab" tabindex="0">
                            @@include('../partials/_flight-dashboard-tab.html')
                        </div>
                        <div class="tab-pane fade" id="pills-flight-threeSix" role="tabpanel"
                            aria-labelledby="pills-flight-threeSix-tab" tabindex="0">
                            @@include('../partials/_flight-dashboard-tab.html')
                        </div>
                        <div class="tab-pane fade" id="pills-dahsborad-twoSix" role="tabpanel"
                            aria-labelledby="pills-dahsborad-twoSix-tab" tabindex="0">
                            @@include('../partials/_flight-dashboard-tab.html')
                        </div>
                        <div class="tab-pane fade" id="pills-deashbroad-twoSix" role="tabpanel"
                            aria-labelledby="pills-deashbroad-twoSix-tab" tabindex="0">
                            @@include('../partials/_flight-dashboard-tab.html')
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== flight dashborard section end ======================== -->