<!-- ================= footer top section start ===================== -->
<div class="bg-main-two-600 pt-120">
  <div class="container">
    <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-md-wrap flex-wrap">
      <h3 class="fw-normal text-white">
        We Don’t earn money<br> We care clients.
      </h3>
      <form action="#" class="position-relative max-w-700-px w-100">
        <input type="email" placeholder="Enter Email Adress"
          class="tw-py-10 tw-px-15 bg-white-20-persent rounded-pill  w-100 border-0 tw-focus-visival-border-none text-white placeholder-text-neutral-200 border-bottom border-neutral-600">
        <button type="submit" class="tw-text-5 text-white position-absolute top-0 tw-end-0 top-50 translate-middle-y tw-me-15 hover-text-main-600">
          <i class="ph-bold ph-paper-plane-tilt"></i>
        </button>
      </form>
    </div>
  </div>
</div>
<!-- ================= footer top section end ===================== -->


<!-- ==================== Footer Start Here ==================== -->
<footer class="footer bg-main-two-600 position-relative z-1 mt-auto">
  <div class="pt-120 tw-pb-15">
    <div class="container container-two">
      <div class="row gy-5">
        <div class="col-lg-4 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="400">
          <h4 class="fw-normal text-white tw-mb-9">
            Get started with visac today
          </h4>
          <form action="#" class="d-flex tw-gap-3 flex-wrap tw-mb-7">
            <div class="position-relative">
              <input type="email" placeholder="Email Address"
                class="fw-medium tw-text-305 text-neutral-950 bg-white tw-py-4 tw-ps-11 tw-pe-4 border-0 tw-rounded-lg tw-focus-visival-border-none">
              <span
                class="tw-text-lg text-neutral-600 position-absolute top-0 tw-start-0 top-50 translate-middle-y tw-ms-3">
                <i class="ph-bold ph-envelope"></i>
              </span>
            </div>
            <button type="submit"
              class="btn btn-main-two hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 tw-px-6 group active--translate-y-2 tw-rounded-xl d-flex text-neutral-900 font-heading fw-semibold"
              data-block="button">
              <span class="button__flair"></span>
              <span class="button__label text-neutral-900">Sign Up</span>
              <span class="tw-text-xl text-neutral-900 tw-duration-500 position-relative">
                <i class="ph-bold ph-caret-right"></i>
              </span>
            </button>
          </form>
          <p class="fw-medium tw-text-4 text-white">
            By subscribing, you’re accept
            <a href="javascript:void(0)"
              class="hover-underline tw-duration-300 text-green-600 hover-text-green-600 text-decoration-underline">
              Privacy Policy
            </a>
          </p>
        </div>
        <div class="col-lg-2 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="600">
          <div class="">
            <h5 class="cursor-big fw-medium text--white tw-mb-9">Useful Link</h5>
            <ul class="d-flex flex-column tw-gap-4">
              <li>
                <a href="about-us.html" class="text--white hover-text-white hover-underline">About Us</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Pricing</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Blog</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Error 404</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Doctor List</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Product Page</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
          <div class="">
            <h5 class="cursor-big fw-medium text--white tw-mb-9">Service</h5>
            <ul class="d-flex flex-column tw-gap-4">
              <li>
                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Initial eligibility
                  assessment</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Visa requirement
                  briefing</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Personalized
                  immigration</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Document checklist
                  preparation</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Student visa
                  processing</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Visa renewal </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
          <div class="">
            <h5 class="cursor-big fw-medium text--white tw-mb-9">
              Say Hello
            </h5>
            <a href="mailto:contact@pbmit.com" class="fw-medium tw-text-305 text-white d-block tw-mb-3">
              contact@pbmit.com
            </a>
            <a href="tel:+(02)574-328-301" class="fw-bold tw-text-5 text-white">
              +(02) 574 - 328 - 301
            </a>
          </div>
          <div class="hover-parallax-wrapper tw-mt-3">
            <a href="contact-us.html"
              class="hover-parallax-item btn btn-main-two hover-style-two button--stroke active-scale-094 tw-duration-100 d-flex flex-column align-items-center justify-content-center tw-gap-2 tw-px-4 group active--translate-y-2 d-flex tw-w-140-px tw-h-140-px rounded-circle"
              data-block="button">
              <span class="button__flair"></span>
              <span class="text-white tw-text-xl tw-duration-500 position-relative">
                <img src="assets/images/icon/arrow-top-right.png" alt="Icon">
              </span>
              <span class="button__label d-block text-neutral-900 fw-semibold">Get in tocuh</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- bottom Footer -->
    <div class="border-top border-neutral-600 border-0 tw-py-8">
      <div class="container container-two">
        <div class="d-flex align-items-center justify-content-between tw-gap-4 flex-wrap">
          <p class="text--white text-line-1 fw-normal aos-init">
            Copyright © 2026 by Wowtheme7. All Rights Reserved
          </p>
          <ul class="d-flex align-items-center tw-gap-6 aos-init">
            <li>
              <a href="https://www.facebook.com" class="text--white tw-text-2xl"><i
                  class="ph-bold ph-facebook-logo"></i></a>
            </li>
            <li>
              <a href="https://www.twitter.com" class="text--white tw-text-2xl">
                <i class="ph-fill ph-twitter-logo"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com" class="text--white tw-text-2xl">
                <i class="ph-bold ph-instagram-logo"></i>
              </a>
            </li>
            <li>
              <a href="https://www.dribbble.com" class="text--white tw-text-2xl">
                <i class="ph-bold ph-dribbble-logo"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com" class="text--white tw-text-2xl">
                <i class="ph-fill ph-youtube-logo"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ==================== Footer End Here ==================== -->