<!-- ======================== footer section start ======================== -->
<section class="bg-main-two-600">
    <!-- =============== marque start ============= -->
    <div class="slider__marquee style2 tw-pt-17">
        <div class="marquee_mode">
            <div class="item">
                <h1 class="fw-normal text-white tw-text-100-px">Schedule</h1>
            </div>
            <div class="item">
                <h1 class="fw-normal text-white tw-text-100-px">a Free</h1>
            </div>
            <div class="item">
                <h1 class="fw-normal text-white tw-text-100-px">Consultation</h1>
            </div>
            <div class="item">
                <h1 class="fw-normal text-white tw-text-100-px">For Visa Consultingcement</h1>
            </div>
        </div>
    </div>
    <span class="border-bottom border-white-12 w-100 tw-mt-7 tw-mb-17"></span>
    <!-- =============== marque end ============= -->
     <div class="tw-pb-134-px">
         <div class="container max-w-1400-px">
            <div class="row gy-5">
                <div class="col-xl-5 col-lg-4 col-sm-6 aos-init aos-animate"
                data-aos="fade-up"
                data-aos-duration="400">
                <h4 class="fw-normal text-white tw-mb-7 max-w-400-px">
                    Get your home with Visac today
                </h4>
                <form action="#" class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-7">
                    <div class="position-relative">
                    <input type="email" placeholder="Email Address" class="fw-medium tw-text-305 text-neutral-950 bg-white tw-py-4 tw-ps-11 tw-pe-4 border-0 tw-rounded-lg tw-focus-visival-border-none">
                    <span class="tw-text-lg text-neutral-600 position-absolute top-0 tw-start-0 top-50 translate-middle-y tw-ms-3">
                        <i class="ph-bold ph-envelope"></i>
                    </span>
                    </div>
                    <button type="submit" class="btn btn-main-three hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 tw-rounded-xl" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label">Sign Up</span>
                        <span class="text-white tw-text-xl group-hover-text-white tw-duration-500 position-relative">
                        <i class="ph-bold ph-caret-right"></i>
                        </span>
                    </button>
                </form>
                <p class="fw-medium tw-text-4 text-white">
                    By subscribing, you’re accept
                    <a href="javascript:void(0)" class="hover-underline tw-duration-300 text-white text-decoration-underline">
                    Privacy Policy
                    </a>
                </p>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 aos-init aos-animate"
                data-aos="fade-up"
                data-aos-duration="600"
                >
                    <div class="">
                        <h4 class="cursor-big fw-medium text--white tw-mb-8">Our Devision</h4>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <a
                                href="about-us.html"
                                class="text--white hover-text-white hover-underline"
                                >About Us</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Our Services</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Blog</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Our Team</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Open Positions</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Carers</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >FAQ Page</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Our Clients</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 aos-init aos-animate"
                data-aos="fade-up"
                data-aos-duration="800"
                >
                    <div class="">
                        <h4 class="cursor-big fw-medium text--white tw-mb-8">My account</h4>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Contact Us</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >FAQ Page</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Get In Touch</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Global Network</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Suport 24/7</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 aos-init aos-animate"
                data-aos="fade-up"
                data-aos-duration="1000"
                >
                    <div class="">
                        <h4 class="cursor-big fw-medium text--white tw-mb-8">Service</h4>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Tourist/Visit visa</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Student visa</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Work permit</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Skilled migration</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Business/investor visa</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Family/spouse/partner visa</a
                                >
                            </li>
                            <li>
                                <a
                                href="javascript:void(0)"
                                class="text--white hover-text-white hover-underline"
                                >Visa renewal</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
         </div>
     </div>


     <!-- ================ footer bottom start ============== -->
     <div class="container max-w-1400-px">
        <div class="tw-border-white-12-persent tw-pt-6 tw-pb-9">
            <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
                <p class="fw-medium tw-text-405 text-paragraph-100">
                    Made with ❤️ by Wowtheme7. - Powered by Themeforest
                </p>
                <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                    <a href="javascript:void(0)" class="fw-normal tw-text-405 text-paragraph-100 hover-underline hover-text-white">
                        Style Guide
                    </a>
                    <a href="javascript:void(0)" class="fw-normal tw-text-405 text-paragraph-100 hover-underline hover-text-white">
                        Licensing
                    </a>
                    <a href="javascript:void(0)" class="fw-normal tw-text-405 text-paragraph-100 hover-underline hover-text-white">
                        Instruction
                    </a>
                </div>
            </div>
        </div>
     </div>
     <!-- ================ footer bottom end ============== -->
</section>

<!-- ======================== footer section end ======================== -->