<!-- ======================== footer section start ======================== -->
<section class="bg-main-two-600 pt-100">
    <div class="container max-w-1400-px">
        <div class="tw-pb-15 d-flex flex-wrap align-items-center justify-content-between tw-gap-8">
            <div class="">
                <h2 class="h4 fw-lighter tw-text-42-px text-white fst-italic tw-mb-4 text-uppercase">
                    need visa for abroad?
                </h2>
                <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                    <h2 class="h4 fw-bold tw-text-42-px text-white text-uppercase">
                        send me an e-mail -
                    </h2>
                    <h2 class="h4 fw-bold tw-text-42-px text-green-700 text-decoration-underline">
                        info@example.com
                    </h2>
                </div>
            </div>
            <div class="hover-parallax-wrapper">
                <a href="contact-us.html"
                    class="hover-parallax-item btn btn-main-two hover-style-two button--stroke active-scale-094 tw-duration-100 d-flex flex-column align-items-center justify-content-center tw-gap-2 tw-px-4 group active--translate-y-2 d-flex tw-w-140-px tw-h-140-px rounded-circle"
                    data-block="button">
                    <span class="button__flair"></span>
                    <span class="text-white tw-text-xl tw-duration-500 position-relative">
                        <img src="assets/images/icon/arrow-top-right.png" alt="Icon">
                    </span>
                    <span class="button__label d-block text-neutral-900 fw-semibold">Get in tocuh</span>
                </a>
            </div>
        </div>
    </div>

    <div class="tw-pb-134-px">
        <div class="container max-w-1400-px">
            <div class="row gy-5">
                <div class="col-xl-6 col-lg-4 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="400">
                    <!-- Google Map start -->
                    <div class="tw-h-320-px max-w-650-px tw-mb-5">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d18594861.431429405!2d25.097591251485795!3d54.811518433582705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1ssea!5e0!3m2!1sen!2sbd!4v1752124108423!5m2!1sen!2sbd"
                            class="w-100 h-100"></iframe>
                    </div>
                    <!-- Google Map end -->
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                        <button type="button"
                            class="fw-medium tw-text-405 text-white hover-text-green-700 tw-duration-300">
                            SOLUTIONS
                        </button>
                        <button type="button"
                            class="fw-medium tw-text-405 text-white hover-text-green-700 tw-duration-300">
                            WORKS
                        </button>
                        <button type="button"
                            class="fw-medium tw-text-405 text-white hover-text-green-700 tw-duration-300">
                            INSIGHTS
                        </button>
                        <button type="button"
                            class="fw-medium tw-text-405 text-white hover-text-green-700 tw-duration-300">
                            ABOUT
                        </button>
                        <button type="button"
                            class="fw-medium tw-text-405 text-white hover-text-green-700 tw-duration-300">
                            WE HIRE
                        </button>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="600">
                    <div class="">
                        <h2 class="h5 cursor-big fw-medium text--white tw-mb-8 tw-text-505">Our Devision</h2>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <a href="about-us.html" class="text--white hover-text-white hover-underline">About
                                    Us</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Our
                                    Services</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="text--white hover-text-white hover-underline">Blog</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Our
                                    Team</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Open
                                    Positions</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="text--white hover-text-white hover-underline">Carers</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">FAQ
                                    Page</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Our
                                    Clients</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
                    <div class="">
                        <h2 class="h5 cursor-big fw-medium text--white tw-mb-8 tw-text-505">My account</h2>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <a href="javascript:void(0)"
                                    class="text--white hover-text-white hover-underline">Contact Us</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">FAQ
                                    Page</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Get In
                                    Touch</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Global
                                    Network</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Suport
                                    24/7</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 aos-init aos-animate" data-aos="fade-up"
                    data-aos-duration="1000">
                    <div class="">
                        <h2 class="h5 cursor-big fw-medium text--white tw-mb-8 tw-text-505">Service</h2>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <a href="javascript:void(0)"
                                    class="text--white hover-text-white hover-underline">Tourist/Visit visa</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="text--white hover-text-white hover-underline">Student visa</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Work
                                    permit</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="text--white hover-text-white hover-underline">Skilled migration</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="text--white hover-text-white hover-underline">Business/investor visa</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="text--white hover-text-white hover-underline">Family/spouse/partner visa</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="text--white hover-text-white hover-underline">Visa
                                    renewal</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ================ footer bottom start ============== -->
    <div class="container max-w-1400-px">
        <div class="tw-border-white-12-persent tw-pt-6 tw-pb-9">
            <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
                <p class="fw-medium tw-text-4 text-white">
                    Copyright © 2025 by Wowtheme7. All Rights Reserved
                </p>
                <span class="fw-medium tw-text-4 text-white">
                    Saturday - Thursday
                </span>
                <div class="max-w-460-px w-100">
                    <form action="#" class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-7">
                        <div class="position-relative">
                            <input type="email" placeholder="Email Address"
                                class="fw-medium tw-text-305 text-white bg-white-08 tw-py-4 tw-ps-11 tw-pe-4 border border-white-12 focus-border-main-600 tw-rounded-lg focus-outline-0">
                            <span
                                class="tw-text-lg text-white position-absolute top-0 tw-start-0 top-50 translate-middle-y tw-ms-3">
                                <i class="ph-bold ph-envelope"></i>
                            </span>
                        </div>
                        <button type="submit"
                            class="btn btn-main-two hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 tw-rounded-xl"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Sign Up</span>
                            <span
                                class="text-white tw-text-xl group-hover-text-white tw-duration-500 position-relative">
                                <i class="ph-bold ph-caret-right"></i>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ================ footer bottom end ============== -->
</section>

<!-- ======================== footer section end ======================== -->