<!-- ====================== freequently section start ===================== -->
<section class="py-120">
    <div class="container max-w-1400-px">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="max-w-560-px w-100">
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-text-8 text-green-600">
                            <i class="ph-bold ph-paper-plane-tilt"></i>
                        </span>
                        <span class="fw-medium tw-text-405 text-black">
                            Study, Work, or Settle Abroad with 100% Legal Support
                        </span>
                    </div>
                    <h2 class="fw-semibold text-neutral-900 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        Freequently ask questions
                    </h2>
                    <p class="fw-medium tw-text-4 text-green-10 tw-mb-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        We specialize in providing high-quality plumbing solutions for business. Our experienced team is committed to resolving
                    </p>
                    <a href="booking.html" class="btn btn-main-two hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                        <span class="button__flair"></span>
                        <span class="button__label">Book free Consultation</span>
                        <span class="text-white tw-text-xl group-hover-text-white tw-duration-500 position-relative">
                            <i class="ph-bold ph-caret-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item accordion-item-two tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <button class="accordion-button tw-py-5 tw-px-6" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           What types of visas do you assist with?
                        </button>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                GoDaddy offers more than just a platform to build your website, we offer everything
                                you need to create an effective, memorable online presence. Already have a site?
                                We offer hosting plans that will keep it fast, secure and online. Our professional
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item accordion-item-two tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <button class="accordion-button collapsed  tw-py-5 tw-px-6" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           How long does the visa process take?
                        </button>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            GoDaddy offers more than just a platform to build your website, we offer everything
                            you need to create an effective, memorable online presence. Already have a site?
                            We offer hosting plans that will keep it fast, secure and online. Our professional
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item accordion-item-two tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <button class="accordion-button collapsed  tw-py-5 tw-px-6" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Can you guarantee visa approval?
                        </button>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            GoDaddy offers more than just a platform to build your website, we offer everything
                            you need to create an effective, memorable online presence. Already have a site?
                            We offer hosting plans that will keep it fast, secure and online. Our professional
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item accordion-item-two" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        <button class="accordion-button collapsed  tw-py-5 tw-px-6" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            What documents required for visa application?
                        </button>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            GoDaddy offers more than just a platform to build your website, we offer everything
                            you need to create an effective, memorable online presence. Already have a site?
                            We offer hosting plans that will keep it fast, secure and online. Our professional
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== freequently section end ===================== -->