<!-- ========================= frequently section start ======================= -->
<section class="bg-green-20 position-relative z-2">
    <img src="assets/images/thumbs/frequently-two-img1.png" alt="img" class="position-absolute bottom-0 tw-start-0 z-n1 d-lg-block d-none">
    <img src="assets/images/shape/banner-two-shape1.png" alt="shape" class="position-absolute bottom-0 tw-end-0 tw-mb-5 d-lg-block d-none z-n1 animation-upDown">
    <div class="container max-w-1400-px">
        <div class="row gy-4">
            <div class="col-lg-5">
                <div class="d-flex align-items-end h-100">
                    <div class="bg-blue-100 tw-pt-17 tw-px-10 tw-pb-10">
                        <h2 class="h5 fw-semibold text-neutral-950 tw-mb-12">Request a quote form</h2>
                        <form action="#">
                            <div class="row gy-3">
                                <div class="col-sm-6">
                                    <select class="fw-normal form-select tw-text-4 text-neutral-1100 bg-white tw-py-5 tw-px-5 tw-rounded-lg border-0 tw-focus-visival-border-none w-100">
                                        <option value="1">Bangladesh</option>
                                        <option value="1">India</option>
                                        <option value="1">Pakistan</option>
                                        <option value="1">Nepal</option>
                                        <option value="1">Sri Lanka</option>
                                        <option value="1">Maldives</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <select class="fw-normal form-select tw-text-4 text-neutral-1100 bg-white tw-py-5 tw-px-5 tw-rounded-lg border-0 tw-focus-visival-border-none w-100 text-neutral-1100 ">
                                        <option value="1">Web Development</option>
                                        <option value="1">App Development</option>
                                        <option value="1">Graphic Design</option>
                                        <option value="1">Digital Marketing</option>
                                        <option value="1">SEO Optimization</option>
                                        <option value="1">Content Writing</option>
                                        <option value="1">UI/UX Design</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="text" placeholder="Your Full name" class="fw-normal tw-text-4 text-neutral-1100 bg-white tw-py-5 tw-ps-5 tw-pe-12 tw-rounded-lg border-0 tw-focus-visival-border-none w-100">
                                        <span class="text-neutral-1100 tw-text-5 position-absolute top-0 tw-end-0 translate-middle-y top-50 tw-me-5">
                                            <i class="ph-bold ph-user"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <input type="number" placeholder="Phone number" class="fw-normal tw-text-4 text-neutral-1100 bg-white tw-py-5 tw-ps-5 tw-pe-12 tw-rounded-lg border-0 tw-focus-visival-border-none w-100">
                                </div>
                                <div class="col-sm-6">
                                    <input type="number" placeholder="Select Date" class="fw-normal tw-text-4 text-neutral-1100 bg-white tw-py-5 tw-ps-5 tw-pe-12 tw-rounded-lg border-0 tw-focus-visival-border-none w-100">
                                </div>
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="text" placeholder="Select Time" class="fw-normal tw-text-4 text-neutral-1100 bg-white tw-py-5 tw-ps-5 tw-pe-12 tw-rounded-lg border-0 tw-focus-visival-border-none w-100">
                                        <span class="text-neutral-1100 tw-text-5 position-absolute top-0 tw-end-0 translate-middle-y top-50 tw-me-5">
                                            <i class="ph-bold ph-user"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3 tw-mt-7 flex-wrap">
                                <span class="fw-medium tw-text-405 text-black">
                                    Or Just give us a call:
                                </span>
                                <h2>
                                    <a href="tel:+(2)871382023" class="fw-bold text-green-950">
                                        +(2) 871 382 023
                                    </a>
                                </h2>
                            </div>
                            <button type="submit" class="btn btn-main-two hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill w-100 tw-mt-10" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Sell all location</span>
                                <span class="text-white tw-text-xl group-hover-text-white tw-duration-500 position-relative">
                                    <i class="ph-bold ph-caret-right"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 ps-xl-5">
                <div class="py-110">
                    <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                        <span class="tw-text-9 text-green-600">
                            <i class="ph-bold ph-paper-plane-tilt"></i>
                        </span>
                        <span class="fw-medium tw-text-405 text-black">
                            Study, Work, or Settle Abroad with 100% Legal Support
                        </span>
                    </div>
                    <h2 class="fw-medium text-neutral-900 tw-mb-5">
                        Frequently ask questions
                    </h2>
                    <p class="fw-medium tw-text-4 text-neutral-600 tw-mb-7">
                        We specialize in providing high-quality plumbing solutions for your home or business. Our experienced team is committed to resolving
                    </p>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item tw-mb-6">
                            <button class="accordion-button bg-white text-neutral-950 fw-semibold tw-text-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                               How can I get a venture capitalist to pay?
                            </button>
                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <p class="accordion-body">
                                    communication and utilizes cutting edge logistic planning to get your shipment completed on time. itself founded of backgrounds, which simply.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-item tw-mb-6">
                            <button class="accordion-button bg-white collapsed text-neutral-950 fw-semibold tw-text-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How do you find different criteria in your process?
                            </button>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <p class="accordion-body">
                                    communication and utilizes cutting edge logistic planning to get your shipment completed on time. itself founded of backgrounds, which simply.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-item tw-mb-6">
                            <button class="accordion-button bg-white collapsed text-neutral-950 fw-semibold tw-text-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                How can I get a venture capitalist to pay?
                            </button>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <p class="accordion-body">
                                    communication and utilizes cutting edge logistic planning to get your shipment completed on time. itself founded of backgrounds, which simply.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button class="accordion-button bg-white collapsed text-neutral-950 fw-semibold tw-text-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                How can I get a venture capitalist to pay?
                            </button>
                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <p class="accordion-body">
                                    communication and utilizes cutting edge logistic planning to get your shipment completed on time. itself founded of backgrounds, which simply.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= frequently section end ======================= -->