<!-- ======================== get start section start ===================== -->
<section class="pt-120 pb-146">
    <div class="container max-w-1400-px">
        <div class="d-flex justify-content-center tw-mb-13">
            <div class="max-w-770-px text-center">
                <div class="d-flex align-items-center tw-gap-2 tw-mb-4 justify-content-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-text-2xl text-green-600 fw-medium d-flex">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-black">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h2 class="fw-semibold text-neutral-950 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    the affordable pricing plan that client's get benifit
                </h2>
                <P class="fw-medium tw-text-4 text-neutral-600" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    We specialize in providing high-quality plumbing solutions for your home<br> or business. Our experienced team is committed to resolving
                </P>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="bg-neutral-05 tw-rounded-3xl border-get-start-three tw-px-10 tw-pt-17 tw-pb-5 position-relative">
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                        <div>
                            <div class="d-flex align-items-center tw-mb-3">
                                <h4 class="fw-bold text-black">
                                    $6.99
                                </h4>
                                <h5 class="tw-text-24-px text-black fw-semibold">
                                    /Monthly
                                </h5>
                            </div>
                            <span class="fw-normal tw-text-4 text-black">
                                Save 29% on First Year
                            </span>
                        </div>
                        <span>
                            <img src="assets/images/thumbs/get-start-three-img1.png" alt="img">
                        </span>
                    </div>
                    <span class="w-100 tw-h-px tw-bg-get-start-three tw-my-5"></span>
                    <div class="d-flex align-items-start tw-gap-4 justify-content-between flex-wrap">
                        <div>
                            <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 tw-rounded-lg tw-mb-2 d-block tw-px-12" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Get Started</span>
                            </a>
                            <span class="fw-normal tw-text-4 text-black d-block">
                                Renews at $9.88/month
                            </span>
                        </div>
                        <span class="tw-w-px tw-h-218-px tw-bg-get-start-three-two d-xl-block d-none tw-mt--28-px"></span>
                        <div class="d-flex flex-column tw-gap-4">
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span class="tw-text-5 text-blue-600">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-paragraph-700">
                                    PTE Exam Preparation Manual
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span class="tw-text-5 text-blue-600">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-paragraph-700">
                                    PTE Exam Preparation Mock Test
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span class="tw-text-5 text-blue-600">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-paragraph-700">
                                    PTE Preparation Consultation
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span class="tw-text-5 text-blue-600">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-paragraph-700">
                                    PTE Exam Venue & Arrangement
                                </span>
                            </div>
                        </div>
                    </div>
                    <span class="fw-normal tw-text-4 text-black bg-white tw-border-get-start-three tw-py-3 tw-px-5 tw-border-radius-bottom-20-px position-absolute top-0 tw-start-0 translate-middle-x tw-start-50">
                        PTE Exam Preparation
                    </span>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="bg-neutral-05 tw-rounded-3xl border-get-start-three tw-px-10 tw-pt-17 tw-pb-5 position-relative">
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                        <div>
                            <div class="d-flex align-items-center tw-mb-3">
                                <h4 class="fw-bold text-black">
                                    $6.99
                                </h4>
                                <h5 class="tw-text-24-px text-black fw-semibold">
                                    /Monthly
                                </h5>
                            </div>
                            <span class="fw-normal tw-text-4 text-black">
                                Save 29% on First Year
                            </span>
                        </div>
                        <span>
                            <img src="assets/images/thumbs/get-start-three-img2.png" alt="img">
                        </span>
                    </div>
                    <span class="w-100 tw-h-px tw-bg-get-start-three tw-my-5"></span>
                    <div class="d-flex align-items-start tw-gap-4 justify-content-between flex-wrap">
                        <div>
                            <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 tw-rounded-lg tw-mb-2 d-block tw-px-12" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Get Started</span>
                            </a>
                            <span class="fw-normal tw-text-4 text-black d-block">
                                Renews at $9.88/month
                            </span>
                        </div>
                        <span class="tw-w-px tw-h-218-px tw-bg-get-start-three-two d-xl-block d-none tw-mt--28-px"></span>
                        <div class="d-flex flex-column tw-gap-4">
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span class="tw-text-5 text-blue-600">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-paragraph-700">
                                    PTE Exam Preparation Manual
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span class="tw-text-5 text-blue-600">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-paragraph-700">
                                    PTE Exam Preparation Mock Test
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span class="tw-text-5 text-blue-600">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-paragraph-700">
                                    PTE Preparation Consultation
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span class="tw-text-5 text-blue-600">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-paragraph-700">
                                    PTE Exam Venue & Arrangement
                                </span>
                            </div>
                        </div>
                    </div>
                    <span class="fw-normal tw-text-4 text-black bg-white tw-border-get-start-three tw-py-3 tw-px-5 tw-border-radius-bottom-20-px position-absolute top-0 tw-start-0 translate-middle-x tw-start-50">
                        PTE Exam Preparation
                    </span>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="bg-neutral-05 tw-rounded-3xl border-get-start-three tw-px-10 tw-pt-17 tw-pb-5 position-relative">
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                        <div>
                            <div class="d-flex align-items-center tw-mb-3">
                                <h4 class="fw-bold text-black">
                                    $6.99
                                </h4>
                                <h5 class="tw-text-24-px text-black fw-semibold">
                                    /Monthly
                                </h5>
                            </div>
                            <span class="fw-normal tw-text-4 text-black">
                                Save 29% on First Year
                            </span>
                        </div>
                        <span>
                            <img src="assets/images/thumbs/get-start-three-img3.png" alt="img">
                        </span>
                    </div>
                    <span class="w-100 tw-h-px tw-bg-get-start-three tw-my-5"></span>
                    <div class="d-flex align-items-start tw-gap-4 justify-content-between flex-wrap">
                        <div>
                            <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 tw-rounded-lg tw-mb-2 d-block tw-px-12" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Get Started</span>
                            </a>
                            <span class="fw-normal tw-text-4 text-black d-block">
                                Renews at $9.88/month
                            </span>
                        </div>
                        <span class="tw-w-px tw-h-218-px tw-bg-get-start-three-two d-xl-block d-none tw-mt--28-px"></span>
                        <div class="d-flex flex-column tw-gap-4">
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span class="tw-text-5 text-blue-600">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-paragraph-700">
                                    PTE Exam Preparation Manual
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span class="tw-text-5 text-blue-600">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-paragraph-700">
                                    PTE Exam Preparation Mock Test
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span class="tw-text-5 text-blue-600">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-paragraph-700">
                                    PTE Preparation Consultation
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span class="tw-text-5 text-blue-600">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-paragraph-700">
                                    PTE Exam Venue & Arrangement
                                </span>
                            </div>
                        </div>
                    </div>
                    <span class="fw-normal tw-text-4 text-black bg-white tw-border-get-start-three tw-py-3 tw-px-5 tw-border-radius-bottom-20-px position-absolute top-0 tw-start-0 translate-middle-x tw-start-50">
                        PTE Exam Preparation
                    </span>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                <div class="bg-neutral-05 tw-rounded-3xl border-get-start-three tw-px-10 tw-pt-17 tw-pb-5 position-relative">
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                        <div>
                            <div class="d-flex align-items-center tw-mb-3">
                                <h4 class="fw-bold text-black">
                                    $6.99
                                </h4>
                                <h5 class="tw-text-24-px text-black fw-semibold">
                                    /Monthly
                                </h5>
                            </div>
                            <span class="fw-normal tw-text-4 text-black">
                                Save 29% on First Year
                            </span>
                        </div>
                        <span>
                            <img src="assets/images/thumbs/get-start-three-img4.png" alt="img">
                        </span>
                    </div>
                    <span class="w-100 tw-h-px tw-bg-get-start-three tw-my-5"></span>
                    <div class="d-flex align-items-start tw-gap-4 justify-content-between flex-wrap">
                        <div>
                            <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 tw-rounded-lg tw-mb-2 d-block tw-px-12" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Get Started</span>
                            </a>
                            <span class="fw-normal tw-text-4 text-black d-block">
                                Renews at $9.88/month
                            </span>
                        </div>
                        <span class="tw-w-px tw-h-218-px tw-bg-get-start-three-two d-xl-block d-none tw-mt--28-px"></span>
                        <div class="d-flex flex-column tw-gap-4">
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span class="tw-text-5 text-blue-600">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-paragraph-700">
                                    PTE Exam Preparation Manual
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span class="tw-text-5 text-blue-600">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-paragraph-700">
                                    PTE Exam Preparation Mock Test
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span class="tw-text-5 text-blue-600">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-paragraph-700">
                                    PTE Preparation Consultation
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <span class="tw-text-5 text-blue-600">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-paragraph-700">
                                    PTE Exam Venue & Arrangement
                                </span>
                            </div>
                        </div>
                    </div>
                    <span class="fw-normal tw-text-4 text-black bg-white tw-border-get-start-three tw-py-3 tw-px-5 tw-border-radius-bottom-20-px position-absolute top-0 tw-start-0 translate-middle-x tw-start-50">
                        PTE Exam Preparation
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== get start section end ===================== -->