<!-- ======================== Header top start ======================== -->
<div class="bg-neutral-950 tw-py-3">
  <div class="container max-w-1650-px">
    <div class="d-flex align-items-center justify-content-between tw-gap-4">
      <div class="d-flex align-items-center tw-gap-4 flex-wrap">
        <div class="d-md-block d-none align-items-center tw-gap-2">
          <span class="tw-text-405 text-green-600">
            <i class="ph-bold ph-envelope-simple"></i>
          </span>
          <span class="text-white fw-medium tw-text-4">
            example@gmail.com
          </span>
        </div>
        <div class="d-flex align-items-center tw-gap-2">
          <span>
            <img src="assets/images/thumbs/header-two-img1.png" alt="plag">
          </span>
          <select class="border-0 bg-transparent text-white tw-focus-visival-border-none">
            <option value="1" class="text-black">English</option>
            <option value="1" class="text-black">Bangla</option>
            <option value="1" class="text-black">Hindi</option>
            <option value="1" class="text-black">Arabic</option>
            <option value="1" class="text-black">Spanish</option>
          </select>
        </div>
      </div>
      <div class="d-xl-block d-none">
        <div class="d-flex align-items-center tw-gap-4">
          <span class="tw-text-4 text-green-600">
            <i class="ph-bold ph-tag"></i>
          </span>
          <p class="fw-medium tw-text-4 text-white">
            Offer Price: Starting at $2.59/per pecel box for a limited time
          </p>
        </div>
      </div>
      <div class="d-sm-block d-non">
        <div class="d-flex align-items-center tw-gap-3">
          <select class="border-0 bg-transparent text-white tw-focus-visival-border-none">
            <option value="1" class="text-black">USD</option>
            <option value="1" class="text-black">EUR</option>
            <option value="1" class="text-black">GBP</option>
            <option value="1" class="text-black">BDT</option>
            <option value="1" class="text-black">INR</option>
            <option value="1" class="text-black">AUD</option>
          </select>
          <span class="fw-medium tw-text-4 text-white  d-sm-inline-block d-none">
            Follow Us :
          </span>
          <ul class="d-flex align-items-center tw-gap-3">
            <li>
              <a href="https://www.facebook.com" class="tw-text-4 text-white-72-persent hover-text-white tw-duration-300">
                <i class="ph-bold ph-facebook-logo"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com" class="tw-text-4 text-white-72-persent hover-text-white tw-duration-300">
                <i class="ph-bold ph-instagram-logo"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com" class="tw-text-4 text-white-72-persent hover-text-white tw-duration-300">
                <i class="ph-fill ph-twitter-logo"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com" class="tw-text-4 text-white-72-persent hover-text-white tw-duration-300">
                <i class="ph-bold ph-linkedin-logo"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ======================== Header top end ======================== -->



<!-- ==================== Header Start Here ==================== -->
<header class="header bg-neutral-50 tw-transition-all tw-z-99 border-bottom border-neutral-300 py-xl-0 py-2">
  <div class="container max-w-1650-px">
    <nav
      class="d-flex align-items-center justify-content-between position-relative"
    >
      <!-- Logo Start -->
      <div class="logo">
        <a href="index.html" class="link">
          <img
            src="assets/images/logo/logo.png"
            alt="Logo"
            class="max-w-200-px"
          >
        </a>
      </div>
      <!-- Logo End  -->

      <!-- Menu Start  -->
      <div class="header-menu d-xl-block d-none">
        @@include('../partials/_nav-menu.html', { "class" : "tw-gap-6" })
      </div>
      <!-- Menu End  -->

      <!-- Header Right start -->
      <div class="d-flex align-items-center tw-gap-6">
        <div class="d-sm-block d-none">
          <a href="booking.html" class="btn btn-main-two hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill" data-block="button">
            <span class="button__flair"></span>
            <span class="button__label">Book free Consultation</span>
            <span class="text-white tw-text-xl group-hover-text-white tw-duration-500 position-relative">
                <i class="ph-bold ph-caret-right"></i>
            </span>
          </a>
        </div>
        <button
          type="button"
          class="toggle-mobileMenu leading-none d-xl-none ms-3 text-neutral-800 tw-text-9"
        >
          <i class="ph ph-list"></i>
        </button>
      </div>
      <!-- Header Right End  -->
    </nav>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->
