<!-- ======================== Header top start ======================== -->
<div class="bg-neutral-50 tw-py-3">
  <div class="container max-w-1650-px">
    <div class="d-flex align-items-center tw-gap-2 justify-content-between ">
      <div class="d-flex align-items-center tw-gap-2 flex-wrap">
        <span>
            <img src="assets/images/icon/top-header-three-icon1.png" alt="icon">
        </span>
        <span class="fw-medium tw-text-4 text-neutral-800">
            Open Hours of City Govt. (Mon - Fri: 8.00 am - 6.00 pm)
        </span>
      </div>
      <div>
        <div class="d-flex align-items-center tw-gap-4 ">
            <div class="d-xl-block d-none">
                <div class="d-flex align-items-center tw-gap-2">
                    <span class="tw-text-405 text-aesh-600">
                        <i class="ph ph-calendar-dots"></i>
                    </span>
                    <div class="d-flex align-items-center tw-gap-2 ">
                        <span class="fw-normal tw-text-305 text-paragraph-900">
                            Friday
                        </span>
                        <span class="tw-w-2 tw-h-px bg-white"></span>
                        <span class="fw-normal tw-text-305 text-paragraph-900">
                            Jul 27, 2020
                        </span>
                    </div>
                </div>
            </div>
            <div class="d-lg-block d-none">
                <div class="d-flex align-items-center tw-gap-2">
                    <span class="tw-text-405 text-aesh-600">
                        <i class="ph ph-map-pin"></i>
                    </span>
                    <span class="fw-normal tw-text-305 text-paragraph-900">
                        684 West College St. Sun City, USA
                    </span>
                </div>
            </div>
            <div class="d-md-block d-none">
                <ul class="d-flex align-items-center tw-gap-4 tw-py-2 tw-px-4 bg-main-600">
                    <li>
                        <a href="https://www.facebook.com" class="tw-text-4 text-white">
                            <i class="ph ph-facebook-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com" class="tw-text-4 text-white">
                            <i class="ph-fill ph-twitter-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com" class="tw-text-4 text-white">
                            <i class="ph ph-instagram-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com" class="tw-text-4 text-white">
                            <i class="ph-fill ph-youtube-logo"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ======================== Header top end ======================== -->



<!-- ==================== Header Start Here ==================== -->
<header class="header bg-neutral-50 tw-transition-all tw-z-99 tw-py-5">
  <div class="container max-w-1650-px">
    <nav
      class="d-flex align-items-center justify-content-between position-relative"
    >
      <!-- Logo Start -->
      <div class="logo">
        <a href="index.html" class="link">
          <img
            src="assets/images/logo/logo.png"
            alt="Logo"
            class="max-w-200-px"
          >
        </a>
      </div>
      <!-- Logo End  -->

      <!-- Menu Start  -->
      <div class="header-menu d-xl-block d-none">
        @@include('../partials/_nav-menu-three.html', { "class" : "tw-gap-6" })
      </div>
      <!-- Menu End  -->

      <!-- Header Right start -->
      <div class="d-flex align-items-center tw-gap-8 flex-shrink-0">
        <div class="d-xxl-block d-none">
          <div class="d-flex align-items-center tw-gap-2">
            <span class="tw-text-6 text-green-600">
              <i class="ph-bold ph-device-tablet-speaker"></i>
            </span>
            <div>
              <span class="fw-medium tw-text-305 text-neutral-600 tw-mb-1 d-block">
                Need any Help! call Us today
              </span>
              <a href="tel:+(2)871382023" class="fw-bold text-green-950 tw-text-4 hover-text-main-600 ">
                +(2) 871 382 023
              </a>
            </div>
          </div>
        </div>
        <div class="d-sm-block d-none">
          <a href="javascript:void(0)" class="d-flex align-items-center tw-gap-2 fw-medium tw-text-4 text-black hover-underline tw-duration-300">
            Get an Quate
            <span>
                <i class="ph-bold ph-caret-right"></i>
            </span>
          </a>
        </div>
      </div>
      <button
        type="button"
        class="toggle-mobileMenu leading-none d-xl-none ms-3 text-neutral-800 tw-text-9">
        <i class="ph ph-list"></i>
      </button>
      <!-- Header Right End  -->
    </nav>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->
