<!-- ======================== Header top start ======================== -->
<div class="bg-main-two-600 tw-py-3">
  <div class="container max-w-1650-px">
    <div class="d-flex align-items-center tw-gap-2 justify-content-between ">
      <div class="d-flex align-items-center tw-gap-2 flex-wrap">
        <span class="tw-text-5 text-white">
          <i class="ph-bold ph-chat-circle-dots"></i>
        </span>
        <span class="text-white fw-semibold tw-text-305 ">
          Helpline: +233-456-789-01
        </span>
        <span class="tw-w-1 tw-h-1 bg-white rounded-circle d-lg-block d-none"></span>
        <span class="text-white fw-semibold tw-text-305 ">
         example@info.com
        </span>
        <span class="tw-w-1 tw-h-1 bg-white rounded-circle d-lg-block d-none"></span>
        <span class="text-white fw-semibold tw-text-305 d-sm-block d-none">
         54 Berrick St Boston MA 02115
        </span>
      </div>
      <div class="d-xl-block d-none">
        <div class="d-flex align-items-center tw-gap-2">
          <span class="tw-text-5 text-green-600">
            <i class="ph-bold ph-map-pin"></i>
          </span>
          <p class="text-white fw-semibold tw-text-305">
           Updates: Delivers secure Packaging Equipments to North Macedonia
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ======================== Header top end ======================== -->



<!-- ==================== Header Start Here ==================== -->
<header class="header bg-white tw-transition-all tw-z-99">
  <div class="container max-w-1650-px">
    <nav
      class="d-flex align-items-center justify-content-between position-relative"
    >
      <!-- Logo Start -->
      <div class="logo">
        <a href="index.html" class="link">
          <img
            src="assets/images/logo/logo.png"
            alt="Logo"
            class="max-w-200-px"
          >
        </a>
      </div>
      <!-- Logo End  -->

      <!-- Menu Start  -->
      <div class="header-menu d-xl-block d-none">
        @@include('../partials/_nav-menu.html', { "class" : "tw-gap-6" })
      </div>
      <!-- Menu End  -->

      <!-- Header Right start -->
      <div class="d-flex align-items-center tw-gap-6 flex-shrink-0">
        <div class="d-xxl-block d-none">
          <div class="d-flex align-items-center tw-gap-2">
            <span class="tw-text-6 text-green-600">
              <i class="ph-bold ph-device-tablet-speaker"></i>
            </span>
            <div>
              <span class="fw-medium tw-text-305 text-neutral-600 tw-mb-1 d-block">
                Need any Help! call Us today
              </span>
              <a href="tel:+(2)871382023" class="fw-bold text-green-950 tw-text-4 hover-text-main-600 ">
                +(2) 871 382 023
              </a>
            </div>
          </div>
        </div>
        <div class="d-sm-block d-none">
          <a href="mailto:example@gmail.com" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 rounded-pill" data-block="button">
            <span class="button__flair"></span>
            <span class="text-white tw-text-2xl group-hover-text-white tw-duration-500 position-relative">
              <i class="ph-bold ph-envelope-simple"></i>
            </span>
            <span class="button__label">example@gmail.com</span>
          </a>
        </div>
      </div>
      <button
        type="button"
        class="toggle-mobileMenu leading-none d-xl-none ms-3 text-neutral-800 tw-text-9"
      >
        <i class="ph ph-list"></i>
      </button>
      <!-- Header Right End  -->
    </nav>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->
