<!-- ====================== newsletter section start ===================== -->
<section class="bg-white pb-146 pt-80">
    <div class="container max-w-1400-px">
        <div class="d-flex justify-content-center tw-mb-12">
            <div class="max-w-950-px w-100 text-center">
                <div class="d-flex align-items-center tw-gap-2 flex-wrap justify-content-center tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-text-8 text-green-600">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-black">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h2 class="fw-semibold text-neutral-900 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                   Latest News & Blogs That Include Newsletter &  Updated
                </h2>
                <p class="fw-medium tw-text-4 text-green-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    We specialize in providing high-quality plumbing solutions for your home or<br>
                    business. Our experienced team is committed to resolving
                </p>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-md-6"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="animation-item">
                    <span class="w-100 tw-mb-5 overflow-hidden tw-rounded-2xl">
                        <img src="assets/images/thumbs/inclusive-services-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                    <div>
                        <span class="fw-medium tw-text-4 text-green-1000 tw-mb-1 tw-ps-4">
                            Immigration
                        </span>
                        <a href="javascript:void(0)" class="fw-medium tw-text-505 text-paragraph-950 hover-text-green-600 tw-duration-300 tw-ps-4">
                            Top 5 Common Plumbing Issues Every Home Faces
                        </a>
                        <span class="w-100 tw-h-px bg-neutral-10-persent tw-my-405"></span>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-ps-4">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-4 text-paragraph-500">
                                    <i class="ph ph-user-circle"></i>
                                </span>
                                <span class="tw-text-405 fw-medium text-paragraph-500">
                                    Roger J. Spaulding
                                </span>
                            </div>
                            <span class="tw-w-105 tw-h-105 bg-neutral-10-persent rounded-circle"></span>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-405 text-paragraph-500">
                                    <i class="ph ph-chat-circle-text"></i>
                                </span>
                                <span class="tw-text-405 fw-medium text-paragraph-500">
                                    Comments(5)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="animation-item">
                    <span class="w-100 tw-mb-5 overflow-hidden tw-rounded-2xl">
                        <img src="assets/images/thumbs/inclusive-services-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                    <div>
                        <span class="fw-medium tw-text-4 text-green-1000 tw-mb-1 tw-ps-4">
                           Cleaning
                        </span>
                        <a href="javascript:void(0)" class="fw-medium tw-text-505 text-paragraph-950 hover-text-green-600 tw-duration-300 tw-ps-4">
                            Top 5 Common Plumbing Issues Every Home Faces
                        </a>
                        <span class="w-100 tw-h-px bg-neutral-10-persent tw-my-405"></span>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-ps-4">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-4 text-paragraph-500">
                                    <i class="ph ph-user-circle"></i>
                                </span>
                                <span class="tw-text-405 fw-medium text-paragraph-500">
                                    Roger J. Spaulding
                                </span>
                            </div>
                            <span class="tw-w-105 tw-h-105 bg-neutral-10-persent rounded-circle"></span>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-405 text-paragraph-500">
                                    <i class="ph ph-chat-circle-text"></i>
                                </span>
                                <span class="tw-text-405 fw-medium text-paragraph-500">
                                    Comments(5)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="animation-item">
                    <span class="w-100 tw-mb-5 overflow-hidden tw-rounded-2xl">
                        <img src="assets/images/thumbs/inclusive-services-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                    <div>
                        <span class="fw-medium tw-text-4 text-green-1000 tw-mb-1 tw-ps-4">
                           Cleaning
                        </span>
                        <a href="javascript:void(0)" class="fw-medium tw-text-505 text-paragraph-950 hover-text-green-600 tw-duration-300 tw-ps-4">
                            Top 5 Common Plumbing Issues Every Home Faces
                        </a>
                        <span class="w-100 tw-h-px bg-neutral-10-persent tw-my-405"></span>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-ps-4">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-4 text-paragraph-500">
                                    <i class="ph ph-user-circle"></i>
                                </span>
                                <span class="tw-text-405 fw-medium text-paragraph-500">
                                    Roger J. Spaulding
                                </span>
                            </div>
                            <span class="tw-w-105 tw-h-105 bg-neutral-10-persent rounded-circle"></span>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-405 text-paragraph-500">
                                    <i class="ph ph-chat-circle-text"></i>
                                </span>
                                <span class="tw-text-405 fw-medium text-paragraph-500">
                                    Comments(5)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center tw-mt-17">
            <a href="booking.html" class="btn btn-main-two hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                <span class="button__flair"></span>
                <span class="button__label">Book free Consultation</span>
                <span class="text-white tw-text-xl group-hover-text-white tw-duration-500 position-relative">
                    <i class="ph-bold ph-caret-right"></i>
                </span>
            </a>
        </div>
    </div>
</section>
<!-- ====================== newsletter section end ===================== -->