<!-- ============ Inner Banner two start ======== -->
 <div class="tw--mt-56-px position-relative z-1">
     <div class="container max-w-1786-px">
        <img src="assets/images/thumbs/visa-journey-banner-img.png" alt="Image" class="tw-max-h-450-px tw-rounded-5xl position-absolute top-0 start-0 w-100 h-100 z-n1">
        <div class="">
            <div class="tw-pt-160-px">
                @@include('../partials/_booking-form.html')
            </div>
        </div>
    </div>
 </div>
<!-- ============ Inner Banner two end ======== -->