<!-- ==================== interact section start ==================== -->
<section class="tw-pb-15 tw-interact-three-shadow">
    <div class="container max-w-1400-px">
        <div class="d-flex justify-content-center tw-mb-15">
            <div class="max-w-820-px w-100 text-center">
                <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4 justify-content-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-text-7 text-green-600">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-black">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h2 class="fw-medium text-neutral-900 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    how we interact with clients
                    first to last process
                </h2>
                <p class="fw-medium tw-text-4 text-neutral-600" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    We specialize in providing high-quality plumbing solutions for your home or
                    business. Our experienced team is committed to resolving
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-center tw-mb-17" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
            <div class="max-w-1000-px w-100 border-bottom-neutral-10-persent">
                <ul class="nav nav-pills d-flex align-items-center justify-content-center tw-gap-8 flex-wrap" id="pills-tab" role="tablist">
                    <li class="nav-item " role="presentation">
                        <button class="nav-link active fw-medium tw-text-5 text-paragraph-600 border-bottom-neutral-10-persent tw-pb-5" id="profile-assessment-tab" data-bs-toggle="pill" data-bs-target="#profile-assessment" type="button" role="tab" aria-controls="profile-assessment" aria-selected="true">Profile Assessment </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-medium tw-text-5 text-paragraph-600 border-bottom-neutral-10-persent tw-pb-5" id="application-tab" data-bs-toggle="pill" data-bs-target="#application" type="button" role="tab" aria-controls="application" aria-selected="false">Application for visa</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-medium tw-text-5 text-paragraph-600 border-bottom-neutral-10-persent  tw-pb-5" id="pills-abrod-tab" data-bs-toggle="pill" data-bs-target="#pills-abrod" type="button" role="tab" aria-controls="pills-abrod" aria-selected="false">Get visa & fly abrod</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="profile-assessment" role="tabpanel" aria-labelledby="profile-assessment-tab" tabindex="0">
                @@include('../partials/_interact-three-tab.html')
            </div>
            <div class="tab-pane fade" id="application" role="tabpanel" aria-labelledby="application-tab" tabindex="0">
                @@include('../partials/_interact-three-tab.html')
            </div>
            <div class="tab-pane fade" id="pills-abrod" role="tabpanel" aria-labelledby="pills-abrod-tab" tabindex="0">
                @@include('../partials/_interact-three-tab.html')
            </div>
        </div>
    </div>
</section>
<!-- ==================== interact section end ==================== -->



<!-- ===================== interact bottom section start ==================== -->
<span class="w-100">
    <img src="assets/images/thumbs/services-tow-bottom-img1.png" alt="img" class="w-100">
</span>
<!-- ===================== interact bottom section end ==================== -->