<div class="row gy-4">
    <div class="col-xl-7">
        <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-4" data-aos="fade-up" data-aos-duration="800"
            data-aos-delay="100">
            <span class="tw-text-8 text-green-600">
                <i class="ph-bold ph-paper-plane-tilt"></i>
            </span>
            <span class="fw-medium tw-text-405 text-black">
                Study, Work, or Settle Abroad with 100% Legal Support
            </span>
        </div>
        <h2 class="fw-semibold text-neutral-900 tw-mb-6" data-aos="fade-up" data-aos-duration="800"
            data-aos-delay="200">
            We inclusive & educational
            <span class="fw-normal">tabletop games</span> that
        </h2>
        <p class="fw-medium tw-text-4 text-neutral-600 tw-mb-10" data-aos="fade-up" data-aos-duration="800"
            data-aos-delay="300">
            We specialize in providing high-quality plumbing solutions for your home<br>
            Our experienced business. Our experienced team is committed to
        </p>
        <a href="booking.html"
            class="btn btn-main-two hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill"
            data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
            <span class="button__flair"></span>
            <span class="button__label">Book free Consultation</span>
            <span class="text-white tw-text-xl group-hover-text-white tw-duration-500 position-relative">
                <i class="ph-bold ph-caret-right"></i>
            </span>
        </a>
    </div>
    <div class="col-xl-5">
        <span class="d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="1500">
            <img src="assets/images/thumbs/interact-three-img11.png" alt="img">
        </span>
    </div>
</div>