<!-- ========================= location two section start ======================== -->
<section class="tw-py-287-165-px bg-main-two-600 overflow-hidden">
    <div class="container max-w-1550-px">
        <div class="row gy-5 align-items-center flex-wrap-reverse">
            <div class="col-xl-6">
                <div class="d-flex align-items-center tw-gap-2 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-text-2xl text-green-600 fw-medium d-flex">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-white">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h2 class="fw-medium text-white tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    How We Worldwide Spread & Serve Clients Succesfull
                </h2>
                <p class="fw-medium tw-text-4 text-neutral-200 tw-mb-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    We specialize in providing high-quality plumbing solutions for your home or
                    business. Our experienced team is committed to resolving all your plumbing
                    issues, ensuring your complete satisfaction with every job.
                </p>
                <a href="booking.html" class="btn btn-main-two hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill tw-mb-10" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <span class="button__flair"></span>
                    <span class="button__label">See all location</span>
                    <span class="text-white tw-text-lx group-hover-text-white tw-duration-500 position-relative">
                        <i class="ph-bold ph-caret-right"></i>
                    </span>
                </a>
            </div>
            <div class="col-xl-6">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="max-w-600-px w-100">
                        <div class="position-relative text-center">
                            <div>
                                <img src="assets/images/shape/rounded-circle.png" alt="Bg Round">
                            </div>
                            <div class="position-absolute top-50 tw-start-50 translate-middle w-100">
                                <img src="assets/images/shape/round-icons-big.png" alt="Icons" class="animation-rotate-right">
                            </div>
                            <div class="position-absolute top-50 tw-start-50 translate-middle w-100">
                                <img src="assets/images/shape/round-icons-small.png" alt="Icons" class="">
                            </div>
                            <div class="position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle">
                                <h2 class="fw-medium text-black h5">
                                    Country we served
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>
<!-- ========================= location two section end ======================== -->