<!-- ======================= blog section start ======================= -->
<section class="pt-100 pb-210">
    <div class="container max-w-1400-px">
        <div class="max-w-700-px w-100 tw-mb-12">
            <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-4">
                <span class="tw-text-xl text-green-600 d-flex">
                    <i class="ph-bold ph-paper-plane-tilt"></i>
                </span>
                <span class="fw-medium tw-text-405 text-black">
                    Study, Work, or Settle Abroad with 100% Legal Support
                </span>
            </div>
            <h2 class="fw-medium text-neutral-900">
                updated news & blogs you might find benifits..
            </h2>
        </div>
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="bg-green-20 tw-p-6 tw-rounded-2xl animation-item h-100">
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-7">
                        <span class="tw-py-1 tw-px-4 rounded-pill text-white bg-main-two-600">
                            02 Apr 2021
                        </span>
                        <span class="fw-medium tw-text-4 text-neutral-950">
                            Comments (03)
                        </span>
                    </div>
                    <h2 class="h4 tw-mb-7">
                        <a href="javascript:void(0)" class="fw-medium text-neutral-950 hover-underline tw-duration-300 hover-text-neutral-950 line-clamp-3 max-w-500-px">
                            eal stories from the road where every journey leaves a mark
                        </a>
                    </h2>
                     <a href="javascript:void(0)" class="fw-medium tw-text-4 text-neutral-950 d-flex align-items-center tw-gap-2 hover-text-main-600 tw-duration-300 tw-mb-10">
                            Read More
                            <span class="tw-w-705 tw-h-705 border border-neutral-300 rounded-circle tw-text-3 d-flex align-items-center justify-content-center text-neutral-950">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    <span class="w-100 overflow-hidden tw-rounded-3xl">
                        <img src="assets/images/thumbs/blog-two-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-green-20 tw-px-6 tw-py-8 tw-rounded-2xl animation-item d-flex align-items-center tw-gap-4 flex-sm-nowrap flex-wrap tw-mb-7">
                    <span class="overflow-hidden tw-rounded-3xl max-w-210-px w-100">
                        <img src="assets/images/thumbs/blog-two-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                    <div>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-5">
                            <span class="tw-py-1 tw-px-4 rounded-pill text-white bg-main-two-600">
                                02 Apr 2021
                            </span>
                            <span class="fw-medium tw-text-4 text-neutral-950">
                                Comments (03)
                            </span>
                        </div>
                        <h2 class="h4 tw-mb-6">
                            <a href="javascript:void(0)" class="fw-medium text-neutral-950 hover-underline tw-duration-300 hover-text-neutral-950 line-clamp-2">
                                eal stories from the road where every journey...
                            </a>
                        </h2>
                        <a href="javascript:void(0)" class="fw-medium tw-text-4 text-neutral-950 d-flex align-items-center tw-gap-2 hover-text-main-600 tw-duration-300 tw-mb-10">
                            Read More
                            <span class="tw-w-705 tw-h-705 border border-neutral-300 rounded-circle tw-text-3 d-flex align-items-center justify-content-center text-neutral-950">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="bg-green-20 tw-px-6 tw-py-8 tw-rounded-2xl animation-item d-flex align-items-center tw-gap-4 flex-sm-nowrap flex-wrap">
                    <span class="overflow-hidden tw-rounded-3xl max-w-210-px w-100">
                        <img src="assets/images/thumbs/blog-two-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                    <div>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-5">
                            <span class="tw-py-1 tw-px-4 rounded-pill text-white bg-main-two-600">
                                02 Apr 2021
                            </span>
                            <span class="fw-medium tw-text-4 text-neutral-950">
                                Comments (03)
                            </span>
                        </div>
                        <h2 class="h4 tw-mb-6">
                            <a href="javascript:void(0)" class="fw-medium text-neutral-950 hover-underline tw-duration-300 hover-text-neutral-950 line-clamp-2">
                                eal stories from the road where every journey...
                            </a>
                        </h2>
                        <a href="javascript:void(0)" class="fw-medium tw-text-4 text-neutral-950 d-flex align-items-center tw-gap-2 hover-text-main-600 tw-duration-300 tw-mb-10">
                            Read More
                            <span class="tw-w-705 tw-h-705 border border-neutral-300 rounded-circle tw-text-3 d-flex align-items-center justify-content-center text-neutral-950">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= blog section end ======================= -->



<!-- ==================== blog bottom section start ===================== -->
<div class="bg-green-20 py-90">
    <div class="container max-w-1400-px">
        <span class="fw-medium tw-text-405 text-black text-center d-flex align-items-center justify-content-center tw-mb-10">
            Study, Work, or Settle Abroad with 100% Legal Support
        </span>
        <div class="d-flex align-items-center tw-gap-4 justify-content-center flex-wrap">
            <div class="bg-white max-w-330-px w-100 tw-border-blog-bottom-two tw-h-150-px tw-rounded-xl hover-bg-paragraph-50 tw-duration-300 d-flex justify-content-center align-items-center">
                <img src="assets/images/thumbs/brand-img1.png" alt="Brand Image">
            </div>
            <div class="bg-white max-w-330-px w-100 tw-border-blog-bottom-two tw-h-150-px tw-rounded-xl hover-bg-paragraph-50 tw-duration-300 d-flex justify-content-center align-items-center">
                <img src="assets/images/thumbs/brand-img2.png" alt="Brand Image">
            </div>
            <div class="bg-white max-w-330-px w-100 tw-border-blog-bottom-two tw-h-150-px tw-rounded-xl hover-bg-paragraph-50 tw-duration-300 d-flex justify-content-center align-items-center">
                <img src="assets/images/thumbs/brand-img3.png" alt="Brand Image">
            </div>
            <div class="bg-white max-w-330-px w-100 tw-border-blog-bottom-two tw-h-150-px tw-rounded-xl hover-bg-paragraph-50 tw-duration-300 d-flex justify-content-center align-items-center">
                <img src="assets/images/thumbs/brand-img4.png" alt="Brand Image">
            </div>
            <div class="bg-white max-w-330-px w-100 tw-border-blog-bottom-two tw-h-150-px tw-rounded-xl hover-bg-paragraph-50 tw-duration-300 d-flex justify-content-center align-items-center">
                <img src="assets/images/thumbs/brand-img5.png" alt="Brand Image">
            </div>
            <div class="bg-white max-w-330-px w-100 tw-border-blog-bottom-two tw-h-150-px tw-rounded-xl hover-bg-paragraph-50 tw-duration-300 d-flex justify-content-center align-items-center">
                <img src="assets/images/thumbs/brand-img6.png" alt="Brand Image">
            </div>
            <div class="bg-white max-w-330-px w-100 tw-border-blog-bottom-two tw-h-150-px tw-rounded-xl hover-bg-paragraph-50 tw-duration-300 d-flex justify-content-center align-items-center">
                <img src="assets/images/thumbs/brand-img7.png" alt="Brand Image">
            </div>
        </div>
    </div>
</div>
<!-- ==================== blog bottom section end ===================== -->
