<!-- ======================= online booking section start ====================== -->
<div class="tw-pt-220-px tw-pb-190-px">
    <div class="container max-w-1400-px">
        <div class="text-center tw-mb-10">
            <h2 class="fw-medium text-neutral-900 tw-mb-4">
                How to book online?
            </h2>
            <p class="fw-medium tw-text-4 text-paragraph-400">
                We specialize in providing high-quality plumbing solutions for your home or <br> business. Our experienced team is committed to resolving
            </p>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-md-6">
                <div class="bg-white tw-rounded-xl tw-p-4 d-flex align-items-center tw-gap-4 flex-sm-nowrap flex-wrap">
                    <span class="media-max-w-100-persent w-100">
                        <img src="assets/images/thumbs/online-booking-img1.png" alt="img" class="w-100">
                    </span>
                    <div>
                        <a href="javascript:void(0)" class="tw-text-24-px fw-medium text-neutral-900 tw-mb-3 hover-underline hover-text-green-600">
                            How to book flight?
                        </a>
                        <p class="fw-medium tw-text-305 text-paragraph-500">
                            We specialize in providing high <br>
                            business. Our experienced 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="bg-white tw-rounded-xl tw-p-4 d-flex align-items-center tw-gap-4 flex-sm-nowrap flex-wrap">
                    <span class="media-max-w-100-persent w-100">
                        <img src="assets/images/thumbs/online-booking-img2.png" alt="img" class="w-100">
                    </span>
                    <div>
                        <a href="javascript:void(0)" class="tw-text-24-px fw-medium text-neutral-900 tw-mb-3 hover-underline hover-text-green-600">
                            How to book hotel?
                        </a>
                        <p class="fw-medium tw-text-305 text-paragraph-500">
                            We specialize in providing high <br>
                            business. Our experienced 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="bg-white tw-rounded-xl tw-p-4 d-flex align-items-center tw-gap-4 flex-sm-nowrap flex-wrap">
                    <span class="media-max-w-100-persent w-100">
                        <img src="assets/images/thumbs/online-booking-img3.png" alt="img" class="w-100">
                    </span>
                    <div>
                        <a href="javascript:void(0)" class="tw-text-24-px fw-medium text-neutral-900 tw-mb-3 hover-underline hover-text-green-600">
                            How to get discount?
                        </a>
                        <p class="fw-medium tw-text-305 text-paragraph-500">
                            We specialize in providing high <br>
                            business. Our experienced 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======================= online booking section end ====================== -->