<!-- ======================= services section start ======================= -->
<section class="pt-340-px pb-120 position-relative">
    <img src="assets/images/shape/services-two-shape-img1.png" alt="shape" class="position-absolute bottom-0 tw-start-0 w-100 z-n1">
    <div class="container max-w-1400-px">
        <div class="d-flex justify-content-center tw-mb-10">
            <div class="max-w-870-px text-center">
                <div class="d-flex align-items-center tw-gap-2 tw-mb-4 justify-content-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-text-2xl text-green-600 fw-medium d-flex">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-black">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h2 class="fw-semibold text-neutral-950 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    How We Moderate Our Services & Grow Reputation
                </h2>
                <P class="fw-medium tw-text-4 text-neutral-600" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    We specialize in providing high-quality plumbing solutions for your home or business. Our experienced team is committed to resolving
                </P>
            </div>
        </div>
        <div>
            <span class="w-100 tw-h-px bg-neutral-10 tw-mb--60-px"></span>
            <div class="position-relative">
                <div class="d-xxl-block d-none position-relative z-2">
                    <button type="button" class="tw-w-15 tw-h-15 bg-danger-100 rounded-circle d-flex align-items-center justify-content-center tw-text-6 text-neutral-950 position-absolute top-0 tw-start-0 tw-mt-16 tw-ms-425-px hover-bg-green-100 tw-duration-300 hover-text-neutral-950">
                        <i class="ph-bold ph-arrow-right"></i>
                    </button>
                </div>
                <div class="d-xxl-block d-none position-relative z-2">
                    <button type="button" class="tw-w-15 tw-h-15 bg-danger-100 rounded-circle d-flex align-items-center justify-content-center tw-text-6 text-neutral-950 position-absolute top-0 tw-end-0 tw-mt-16 tw-me-425-px hover-bg-green-100 tw-duration-300 hover-text-neutral-950">
                        <i class="ph-bold ph-arrow-right"></i>
                    </button>
                </div>
                <div class="row gy-4">
                    <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <div class="tw-py-12 tw-ps-6 tw-pe-10 bg-white tw-border-services-two-black-29-persent tw-rounded-xl">
                            <div class="d-flex align-items-start tw-gap-4 justify-content-between flex-wrap">
                                <h4 class="fw-bold text-neutral-950">
                                    01
                                </h4>
                                <span class="tw-w-px tw-h-118-px tw-bg-services-two d-xxl-block d-none"></span>
                                <div class="max-w-270-px">
                                    <h5 class="fw-medium text-neutral-950 tw-mb-4 tw-text-6">
                                        Profile Assessment & University Selection
                                    </h5>
                                    <p class="fw-medium tw-text-4 text-paragraph-300">
                                        Temperate ocean-bass sea chub bass sea chub treefish eulachon tidewater goby.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="tw-py-12 tw-ps-6 tw-pe-10 bg-white tw-border-services-two-black-29-persent tw-rounded-xl">
                            <div class="d-flex align-items-start tw-gap-4 justify-content-between flex-wrap">
                                <h4 class="fw-bold text-neutral-950">
                                    02
                                </h4>
                                <span class="tw-w-px tw-h-118-px tw-bg-services-two d-xxl-block d-none"></span>
                                <div class="max-w-270-px">
                                    <h5 class="fw-medium text-neutral-950 tw-mb-4 tw-text-6">
                                        Admission Application Visa Documentation
                                    </h5>
                                    <p class="fw-medium tw-text-4 text-paragraph-300">
                                        Temperate ocean-bass sea chub bass sea chub treefish eulachon tidewater goby.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <div class="tw-py-12 tw-ps-6 tw-pe-10 bg-white tw-border-services-two-black-29-persent tw-rounded-xl">
                            <div class="d-flex align-items-start tw-gap-4 justify-content-between flex-wrap">
                                <h4 class="fw-bold text-neutral-950">
                                    03
                                </h4>
                                <span class="tw-w-px tw-h-118-px tw-bg-services-two d-xxl-block d-none"></span>
                                <div class="max-w-270-px">
                                    <h5 class="fw-medium text-neutral-950 tw-mb-4 tw-text-6">
                                        Interview Preparation Visa Submission
                                    </h5>
                                    <p class="fw-medium tw-text-4 text-paragraph-300">
                                        Temperate ocean-bass sea chub bass sea chub treefish eulachon tidewater goby.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-xl-block d-none">
                <div class="d-flex justify-content-center">
                    <div class="d-flex align-items-center justify-content-between tw-gap-3 max-w-950-px w-100">
                        <span class="tw-h-75-px tw-w-px tw-border-services-two circle-green-shape"></span>
                        <span class="tw-h-75-px tw-w-px tw-border-services-two circle-green-shape"></span>
                        <span class="tw-h-75-px tw-w-px tw-border-services-two circle-green-shape"></span>
                    </div>
                </div> 
            </div>
            <span class="tw-h-px w-100 tw-border-services-two tw-mb-30-px d-xl-block d-none"></span>
            <div class="d-xl-block d-none">
                <div class="d-flex justify-content-center">
                    <div class="d-flex align-items-center justify-content-between tw-gap-3 max-w-950-px w-100">
                        <span class="fw-semibold tw-text-4 text-neutral-950" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            01
                        </span>
                        <span class="fw-semibold tw-text-4 text-neutral-950" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                            02
                        </span>
                        <span class="fw-semibold tw-text-4 text-neutral-950" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                            03
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>
<!-- ======================= services section end ======================= -->


<!-- ===================== services bottom section start ====================== -->
<div class="position-relative" data-aos="zoom-in" data-aos-duration="1500">
    <img src="assets/images/shape/banner-two-shape2.png" alt="shape" class="position-absolute bottom-0 tw-start-0 d-lg-block d-none z-2">
    <span class="w-100">
        <img src="assets/images/thumbs/services-tow-bottom-img1.png" alt="img" class="w-100">
    </span>
</div>
<!-- ===================== services bottom section end ====================== -->