<!-- ======================= satisified section start ========================= -->
<section class="bg-main-two-600 pt-120 pb-146">
    <div class="container max-w-1400-px">
        <div class="d-flex justify-content-center tw-mb-10">
            <div class="max-w-850-px w-100 text-center">
                <div class="d-flex align-items-center tw-gap-2 tw-mb-4 flex-wrap justify-content-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-text-9 text-green-600 fw-medium tw-text-405">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-white">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h2 class="fw-medium text-white tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    How Satisified Our Clients You Should Know By Below
                </h2>
                <p class="fw-medium tw-text-4 text-green-10 tw-mb-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    We specialize in providing high-quality plumbing solutions for your home or business. Our experienced team is committed to resolving
                </p>
            </div>
        </div>
        <div class="bg-green-20 tw-rounded-2xl">
            <div class="tw-py-100-px tw-ps-pe-80-px d-flex align-items-center tw-gap-6 justify-content-between flex-wrap">
                <div class="max-w-730-px w-100">
                    <div class="d-flex align-items-end tw-gap-2 flex-wrap tw-mb-12">
                        <h6 class="tw-text-505 fw-bold text-black">
                            Robert J. Hare/
                        </h6>
                        <span class="fw-normal tw-text-305 text-paragraph-600">
                            Graphics Designer
                        </span>
                    </div>
                    <h5 class="fw-medium text-neutral-950 tw-mb-10 tw-line-height-50-px">
                        Climb the mountain not to plant your flag but to
                        the ways challenge, enjoy the air, and behold the.
                        see the world, not so the world can see you. This is
                        their excellent service competitive pricing
                    </h5>
                    <ul class="d-flex align-items-center tw-gap-2 flex-wrap">
                        <li class="tw-text-4 text-warning-500">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-4 text-warning-500">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-4 text-warning-500">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-4 text-warning-500">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-4 text-warning-500">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                </div>
                <div class="position-relative">
                    <img src="assets/images/thumbs/satisified-three-img1.png" alt="img">
                    <span class="tw-w-14 tw-h-14 bg-white rounded-circle tw-text-705 text-green-600 d-flex justify-content-center align-items-center position-absolute top-0 tw-end-0 tw-mt--28-px tw-me--20-px">
                        <i class="ph-fill ph-quotes"></i>
                    </span>
                </div>
            </div>
            <div class="bg-main-600 tw-pt-10 tw-pb-15 d-flex align-items-center justify-content-between tw-gap-4 flex-wrap tw-rounded-top-24-px tw-ps-pe-80-px">
                <h5 class="fw-medium text-white">
                    Alexander Whitmore
                </h5>
                <ul class="d-flex align-items-center tw-gap-2 flex-wrap">
                    <li class="tw-text-4 text-warning-500">
                        <i class="ph-fill ph-star"></i>
                    </li>
                    <li class="tw-text-4 text-warning-500">
                        <i class="ph-fill ph-star"></i>
                    </li>
                    <li class="tw-text-4 text-warning-500">
                        <i class="ph-fill ph-star"></i>
                    </li>
                    <li class="tw-text-4 text-warning-500">
                        <i class="ph-fill ph-star"></i>
                    </li>
                    <li class="tw-text-4 text-warning-500">
                        <i class="ph-fill ph-star"></i>
                    </li>
                </ul>
            </div>
            <div class="bg-green-300 tw-pt-8 tw-pb-12 d-flex align-items-center justify-content-between tw-gap-4 flex-wrap tw-rounded-top-24-px tw-ps-pe-80-px tw-mt--30-px">
                <h5 class="fw-medium text-white">
                    Sebastian Caldwell
                </h5>
                <ul class="d-flex align-items-center tw-gap-2 flex-wrap">
                    <li class="tw-text-4 text-warning-500">
                        <i class="ph-fill ph-star"></i>
                    </li>
                    <li class="tw-text-4 text-warning-500">
                        <i class="ph-fill ph-star"></i>
                    </li>
                    <li class="tw-text-4 text-warning-500">
                        <i class="ph-fill ph-star"></i>
                    </li>
                    <li class="tw-text-4 text-warning-500">
                        <i class="ph-fill ph-star"></i>
                    </li>
                    <li class="tw-text-4 text-warning-500">
                        <i class="ph-fill ph-star"></i>
                    </li>
                </ul>
            </div>
            <div class="bg-green-600 tw-pt-8 tw-pb-12 d-flex align-items-center justify-content-between tw-gap-4 flex-wrap tw-rounded-2xl tw-ps-pe-80-px tw-mt--30-px">
                <h5 class="fw-medium text-white">
                    Nathaniel Grayson
                </h5>
                <ul class="d-flex align-items-center tw-gap-2 flex-wrap">
                    <li class="tw-text-4 text-warning-500">
                        <i class="ph-fill ph-star"></i>
                    </li>
                    <li class="tw-text-4 text-warning-500">
                        <i class="ph-fill ph-star"></i>
                    </li>
                    <li class="tw-text-4 text-warning-500">
                        <i class="ph-fill ph-star"></i>
                    </li>
                    <li class="tw-text-4 text-warning-500">
                        <i class="ph-fill ph-star"></i>
                    </li>
                    <li class="tw-text-4 text-warning-500">
                        <i class="ph-fill ph-star"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ======================= satisified section end ========================= -->