<div class="bg-white tw-px-9 tw-pt-75-px tw-pb-87-px tw-rounded-3xl">
    <div class="d-flex tw-gap-3 flex-wrap tw-mb-6">
        <div class="form-check d-flex align-items-center tw-gap-2 tw-ps-0">
            <input class="form-check-input mt-0" type="radio" name="radioDefault" id="radioDefault1">
            <label class="form-check-label" for="radioDefault1">
                One Way
            </label>
        </div>
        <div class="form-check d-flex align-items-center tw-gap-2 tw-ps-0">
            <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" checked>
            <label class="form-check-label" for="radioDefault2">
                Default checked radio
            </label>
        </div>
        <div class="form-check d-flex align-items-center tw-gap-2 tw-ps-0">
            <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault3" checked>
            <label class="form-check-label" for="radioDefault3">
                Multicity
            </label>
        </div>
    </div>
    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
        <div class="tw-py-3 tw-ps-5 tw-pe-6 border-neutral-200 border tw-rounded-lg max-w-270-px w-100">
            <span class="fw-normal tw-text-3 text-paragraph-950 d-block">
                From
            </span>
            <span class="fw-medium tw-text-405 text-paragraph-950 d-block tw-mb-1">
                Dhaka
            </span>
            <span class="fw-normal tw-text-305 text-neutral-500">
                DAC, Hazrat Shahjalal Internation.
            </span>
        </div>
        <div class="tw-py-3 tw-ps-5 tw-pe-6 border-neutral-200 border tw-rounded-lg  max-w-270-px w-100">
            <span class="fw-normal tw-text-3 text-paragraph-950 d-block">
                To
            </span>
            <span class="fw-medium tw-text-405 text-paragraph-950 d-block tw-mb-1">
                Coxs bazar
            </span>
            <span class="fw-normal tw-text-305 text-neutral-500">
                DAC, Hazrat Shahjalal Internation.
            </span>
        </div>
        <div class="tw-py-3 tw-ps-5 tw-pe-6 border-neutral-200 border tw-rounded-lg d-flex align-items-center tw-gap-3 justify-content-between flex-wrap max-w-220-px w-100">
            <div>
                <span class="fw-normal tw-text-3 text-paragraph-950 d-block">
                    Journey Date
                </span>
                <span class="fw-medium tw-text-405 text-paragraph-950 d-block tw-mb-1">
                    03 aug 25
                </span>
                <span class="fw-normal tw-text-305 text-neutral-500">
                    Sunday
                </span>
            </div>
            <span class="tw-text-5 text-paragraph-950">
                <i class="ph ph-calendar"></i>
            </span>
        </div>
        <div class="tw-py-3 tw-ps-5 tw-pe-6 border-neutral-200 border tw-rounded-lg d-flex align-items-center tw-gap-3 justify-content-between flex-wrap max-w-220-px w-100">
            <div>
                <span class="fw-normal tw-text-3 text-paragraph-950 d-block">
                    Journey Date
                </span>
                <span class="fw-medium tw-text-405 text-paragraph-950 d-block tw-mb-1">
                    03 aug 25
                </span>
                <span class="fw-normal tw-text-305 text-neutral-500">
                    Sunday
                </span>
            </div>
            <span class="tw-text-5 text-paragraph-950">
                <i class="ph ph-calendar"></i>
            </span>
        </div>
        <div class="tw-py-3 tw-ps-5 tw-pe-6 border-neutral-200 border tw-rounded-lg d-flex align-items-center tw-gap-3 justify-content-between flex-wrap max-w-220-px w-100">
            <div>
                <span class="fw-normal tw-text-3 text-paragraph-950 d-block">
                    Class/person
                </span>
                <span class="fw-medium tw-text-405 text-paragraph-950 d-block tw-mb-1">
                    2 traveler
                </span>
                <span class="fw-normal tw-text-305 text-neutral-500">
                    Business
                </span>
            </div>
            <span class="tw-text-5 text-paragraph-950">
                <i class="ph-bold ph-caret-down"></i>
            </span>
        </div>
    </div>
</div>