<div class="bg-white tw-px-9 tw-pt-75-px tw-pb-87-px tw-rounded-3xl">
    <div class="d-flex tw-gap-3 flex-wrap tw-mb-6">
        <div class="form-check common-check common-radio d-flex align-items-center tw-gap-2 tw-ps-0 mb-0">
            <input class="form-check-input border border-main-600 border-2" type="radio" name="radioDefault"
                id="@@oneWayId">
            <label class="form-check-label" for="@@oneWayId">
                One Way
            </label>
        </div>
        <div class="form-check common-check common-radio d-flex align-items-center tw-gap-2 tw-ps-0 mb-0">
            <input class="form-check-input border border-main-600 border-2" type="radio" name="radioDefault"
                id="@@roundWayId" checked>
            <label class="form-check-label" for="@@roundWayId">
                Round Way
            </label>
        </div>
        <div class="form-check common-check common-radio d-flex align-items-center tw-gap-2 tw-ps-0 mb-0">
            <input class="form-check-input border border-main-600 border-2" type="radio" name="radioDefault"
                id="@@multicityId" checked>
            <label class="form-check-label" for="@@multicityId">
                Multicity
            </label>
        </div>
    </div>
    <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap">
        <div class="d-flex align-items-center tw-gap-4 position-relative flex-grow-1 flex-sm-nowrap flex-wrap">
            <div class="flex-grow-1 tw-py-3 tw-ps-5 tw-pe-6 border-neutral-200 border tw-rounded-xl w-100">
                <span class="fw-normal tw-text-3 text-paragraph-950 d-block">
                    From
                </span>
                <span class="fw-medium tw-text-405 text-paragraph-950 d-block tw-mb-1">
                    Dhaka
                </span>
                <span class="fw-normal tw-text-305 text-neutral-500">
                    DAC, Hazrat Shahjalal Internation.
                </span>
            </div>
            <div class="flex-grow-1 tw-py-3 tw-ps-5 tw-pe-6 border-neutral-200 border tw-rounded-xl w-100">
                <span class="fw-normal tw-text-3 text-paragraph-950 d-block">
                    To
                </span>
                <span class="fw-medium tw-text-405 text-paragraph-950 d-block tw-mb-1">
                    Coxs bazar
                </span>
                <span class="fw-normal tw-text-305 text-neutral-500">
                    DAC, Hazrat Shahjalal Internation.
                </span>
            </div>
            <button type="button" class="tw-w-10 tw-h-10 border border-neutral-200 d-flex justify-content-center align-items-center rounded-circle position-absolute top-50 start-50 translate-middle bg-white tw-text-lg hover-bg-main-600 hover-text-white hover-border-main-600 tw-duration-300">
                <i class="ph-bold ph-arrows-left-right d-sm-flex d-none"></i>
                <i class="ph-bold ph-arrows-down-up d-sm-none d-flex"></i>
            </button>
        </div>
        <div class="flex-grow-1 tw-py-3 tw-ps-5 tw-pe-6 border-neutral-200 border tw-rounded-xl">
            <span class="fw-normal tw-text-3 text-paragraph-950 d-block">
                Journey Date
            </span>
            <span class="fw-medium tw-text-405 text-paragraph-950 d-block tw-mb-1 d-lg-block">
                <input type="date" class="w-100 border-0 focus-outline-0 tw-text-lg fw-medium text-heading">
            </span>
            <span class="fw-normal tw-text-305 text-neutral-500">
                Sunday
            </span>
        </div>
        <div class="flex-grow-1 tw-py-3 tw-ps-5 tw-pe-6 border-neutral-200 border tw-rounded-xl">
            <span class="fw-normal tw-text-3 text-paragraph-950 d-block">
                Return Date
            </span>
            <span class="fw-medium tw-text-405 text-paragraph-950 d-block tw-mb-1 d-lg-block">
                <input type="date" class="w-100 border-0 focus-outline-0 tw-text-lg fw-medium text-heading">
            </span>
            <span class="fw-normal tw-text-305 text-neutral-500">
                Sunday
            </span>
        </div>
        <div class="dropdown flex-grow-1">
            <button type="button"
                class="tw-py-3 tw-ps-5 tw-pe-6 border-neutral-200 border tw-rounded-xl d-flex align-items-center justify-content-between tw-gap-2 w-100"
                data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                <span>
                    <span class="fw-normal tw-text-3 text-paragraph-950 d-block">
                        Class/person
                    </span>
                    <span class="fw-medium tw-text-405 text-paragraph-950 d-block tw-mb-1">
                        2 traveler
                    </span>
                    <span class="fw-normal tw-text-305 text-neutral-500">
                        Business
                    </span>
                </span>
                <span class="tw-text-5 text-paragraph-950">
                    <i class="ph-bold ph-caret-down"></i>
                </span>
            </button>
            <div class="dropdown-menu border-0 tw-p-5 tw-rounded-2xl shadow w-400-px">
                <div class="d-flex flex-column tw-gap-205">
                    <div
                        class="bg-neutral-50 tw-rounded-lg tw-p-4 d-flex align-items-center tw-gap-2 justify-content-between">
                        <div class="">
                            <h6 class="tw-text-base">Adult</h6>
                            <span class="tw-text-sm text-neutral-600">12 years & above</span>
                        </div>
                        <div class="d-flex tw-rounded-lg overflow-hidden">
                            <button type="button"
                                class="text-heading hover-text-main-600 bg-white active-scale-09 tw-text-xl tw-w-11 tw-h-11 tw-leading-none decrement-btn">
                                <i class="ph-bold ph-minus"></i>
                            </button>
                            <input type="text"
                                class="bg-white tw-w-11 tw-h-11 text-center focus-outline-0 text-heading fw-bold tw-w-11 input-value border-0"
                                value="0">
                            <button type="button"
                                class="text-heading hover-text-main-600 bg-white active-scale-09 tw-text-xl tw-w-11 tw-h-11 tw-leading-none increment-btn">
                                <i class="ph-bold ph-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div
                        class="bg-neutral-50 tw-rounded-lg tw-p-4 d-flex align-items-center tw-gap-2 justify-content-between">
                        <div class="">
                            <h6 class="tw-text-base">Children</h6>
                            <span class="tw-text-sm text-neutral-600">2-11 years</span>
                        </div>
                        <div class="d-flex tw-rounded-lg overflow-hidden">
                            <button type="button"
                                class="text-heading hover-text-main-600 bg-white active-scale-09 tw-text-xl tw-w-11 tw-h-11 tw-leading-none decrement-btn">
                                <i class="ph-bold ph-minus"></i>
                            </button>
                            <input type="text"
                                class="bg-white tw-w-11 tw-h-11 text-center focus-outline-0 text-heading fw-bold tw-w-11 input-value border-0"
                                value="0">
                            <button type="button"
                                class="text-heading hover-text-main-600 bg-white active-scale-09 tw-text-xl tw-w-11 tw-h-11 tw-leading-none increment-btn">
                                <i class="ph-bold ph-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div
                        class="bg-neutral-50 tw-rounded-lg tw-p-4 d-flex align-items-center tw-gap-2 justify-content-between">
                        <div class="">
                            <h6 class="tw-text-base">Infant</h6>
                            <span class="tw-text-sm text-neutral-600">Below 2 years</span>
                        </div>
                        <div class="d-flex tw-rounded-lg overflow-hidden">
                            <button type="button"
                                class="text-heading hover-text-main-600 bg-white active-scale-09 tw-text-xl tw-w-11 tw-h-11 tw-leading-none decrement-btn">
                                <i class="ph-bold ph-minus"></i>
                            </button>
                            <input type="text"
                                class="bg-white tw-w-11 tw-h-11 text-center focus-outline-0 text-heading fw-bold tw-w-11 input-value border-0"
                                value="0">
                            <button type="button"
                                class="text-heading hover-text-main-600 bg-white active-scale-09 tw-text-xl tw-w-11 tw-h-11 tw-leading-none increment-btn">
                                <i class="ph-bold ph-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tw-mt-8">
                    <span class="text-body d-block tw-mb-2">Class</span>
                    <div class="d-flex tw-gap-3">
                        <div
                            class="form-check common-check common-radio d-flex align-items-center tw-gap-2 tw-ps-0 mb-0">
                            <input class="form-check-input border border-main-600 border-2" type="radio" name="class"
                                id="@@economyId">
                            <label class="form-check-label" for="@@economyId">
                                Economy
                            </label>
                        </div>
                        <div
                            class="form-check common-check common-radio d-flex align-items-center tw-gap-2 tw-ps-0 mb-0">
                            <input class="form-check-input border border-main-600 border-2" type="radio" name="class"
                                id="@@businessId">
                            <label class="form-check-label" for="@@businessId">
                                Business
                            </label>
                        </div>
                    </div>
                </div>
                <div class="text-end tw-mt-6">
                    <button type="submit"
                        class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-lg"
                        data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label">Done</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>