<!-- ======================== Header top start ======================== -->
<div class="py-4">
    <div class="container max-w-1400-px">
        <div class="d-flex align-items-center tw-gap-4 justify-content-between">
            <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                <span class="tw-text-4 text-green-700">
    
                </span>
                <span class="fw-medium tw-text-405 text-black"> 
                    Offer Price: Starting at $2.59/per pecel box for a limited time
                </span>
            </div>
            <ul class="d-flex align-items-center tw-gap-3 flex-wrap">
                <li>
                    <a href="javascript:void(0)" class="fw-medium tw-text-305 text-neutral-600 hover-text-black tw-duration-300">
                        Track Order
                    </a>
                </li>
                <li>
                    <a href="about-us.html" class="fw-medium tw-text-305 text-neutral-600 hover-text-black tw-duration-300">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="contact-us.html" class="fw-medium tw-text-305 text-neutral-600 hover-text-black tw-duration-300">
                        Contact
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="fw-medium tw-text-305 text-neutral-600 hover-text-black tw-duration-300">
                        Wishlist
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ======================== Header top end ======================== -->



<!-- ==================== Header Start Here ==================== -->
<header class="header tw-transition-all tw-z-99">
  <div class="container max-w-1400-px">
    <nav
      class="bg-white tw-py-4 tw-rounded-xl tw-px-5 d-flex align-items-center justify-content-between position-relative"
    >
      <!-- Logo Start -->
      <div class="logo">
        <a href="index.html" class="link">
          <img
            src="assets/images/logo/logo.png"
            alt="Logo"
            class="max-w-200-px"
          >
        </a>
      </div>
      <!-- Logo End  -->

      <!-- Menu Start  -->
      <div class="header-menu d-xl-block d-none">
        @@include('../partials/_nav-menu.html', { "class" : "tw-gap-6" })
      </div>
      <!-- Menu End  -->

      <!-- Header Right start -->
    <div class="d-sm-block d-none">
        <a href="contact-us.html" class="btn btn-main-two hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 rounded-pill" data-block="button">
            <span class="button__flair"></span>
            <span class="button__label">Sign in/register</span>
        </a>
    </div>
      <button
        type="button"
        class="toggle-mobileMenu leading-none d-xl-none ms-3 text-neutral-800 tw-text-9"
      >
        <i class="ph ph-list"></i>
      </button>
      <!-- Header Right End  -->
    </nav>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->
