<!-- ========================= student bisa section start ============================ -->
<section class="pt-90 pb-146 position-relative overflow-hidden">
    <img src="assets/images/shape/student-bisa-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-mt--180-px z-n1 animation-upDown d-xxl-block d-none">
    <div class="container">
        <div class="d-flex align-items-center tw-gap-2 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
            <span class="tw-text-9 text-green-600 fw-medium tw-text-405">
                <i class="ph-bold ph-paper-plane-tilt"></i>
            </span>
            <span class="fw-medium tw-text-405 text-black">
                Study, Work, or Settle Abroad with 100% Legal Support
            </span>
        </div>
        <h3 class="max-w-960-px fw-medium text-neutral-900 tw-mb-15" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
            we believe that every journey begins
            with the right guidance. For years,
            we have been helping individuals.
        </h3>
        <div class="row gy-4 align-items-center">
            <div class="col-lg-5" data-aos="zoom-in" data-aos-duration="1500">
                <span>
                    <img src="assets/images/thumbs/student-bisa-img1.png" alt="img">
                </span>
            </div>
            <div class="col-lg-7">
                <div class="d-flex align-items-center tw-gap-2 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-text-9 text-green-600 fw-medium tw-text-405">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-black">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h2 class="tw-text-110-px tw-mb-5 text-neutral-900" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    student visa
                </h2>
                <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="tw-py-3 tw-px-6 tw-border-pink-50 tw-rounded-md d-flex align-items-center tw-gap-5">
                        <span class="tw-w-15 tw-h-15 bg-green-50 rounded-circle d-flex align-items-center justify-content-center">
                            <img src="assets/images/icon/student-bisa-cion1.png" alt="icon">
                        </span>
                        <span class="fw-medium tw-text-405 text-black max-w-180-px">
                            100% Visa Success Guidance
                        </span>
                    </div>
                    <div class="tw-py-3 tw-px-6 tw-border-pink-50 tw-rounded-md d-flex align-items-center tw-gap-5">
                        <span class="tw-w-15 tw-h-15 bg-danger-50 rounded-circle d-flex align-items-center justify-content-center ">
                            <img src="assets/images/icon/student-bisa-cion2.png" alt="icon">
                        </span>
                        <span class="fw-medium tw-text-405 text-black max-w-180-px">
                            Fast & Hassle- Free Process
                        </span>
                    </div>
                </div>
                <div class="d-flex align-items-center tw-gap-5 flex-wrap" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <div class="tw-py-3 tw-px-6 tw-border-pink-50 tw-rounded-md d-flex align-items-center tw-gap-5">
                        <span class="tw-w-15 tw-h-15 bg-warning-50 rounded-circle d-flex align-items-center justify-content-center">
                            <img src="assets/images/icon/student-bisa-cion3.png" alt="icon">
                        </span>
                        <span class="fw-medium tw-text-405 text-black max-w-180-px">
                            Global Visa Solutions
                        </span>
                    </div>
                    <div class="tw-py-3 tw-px-6 tw-border-pink-50 tw-rounded-md d-flex align-items-center tw-gap-5">
                        <span class="tw-w-15 tw-h-15 bg-aesh-50 rounded-circle d-flex align-items-center justify-content-center ">
                            <img src="assets/images/icon/student-bisa-cion4.png" alt="icon">
                        </span>
                        <span class="fw-medium tw-text-405 text-black max-w-180-px">
                            Fast & Hassle- Free Process
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= student bisa section end ============================ -->