<!-- ======================= successfully two section start ====================== -->
<section class="py-120 position-relative">
    <img src="assets/images/shape/banner-two-shape1.png" alt="shape" class="position-absolute bottom-0 tw-start-0 tw-ms--90-px d-xxl-block d-none animation-upDown">
    <div class="container max-w-1500-px">
        <div class="row gy-4">
            <div class="col-xl-5">
                <div class="d-flex align-items-center tw-media-1399-px">
                    <span data-aos="fade-down" data-aos-duration="1000">
                        <img src="assets/images/thumbs/successfully-two-img1.png" alt="img" class="tw-ms--20-px">
                    </span>
                    <span data-aos="fade-up" data-aos-duration="1000">
                        <img src="assets/images/thumbs/successfully-two-img2.png" alt="img" class="tw-mt-10 tw-ms--20-px">
                    </span>
                    <span data-aos="fade-down" data-aos-duration="1000">
                        <img src="assets/images/thumbs/successfully-two-img3.png" alt="img" class="tw-ms--20-px">
                    </span>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="d-flex align-items-center tw-gap-2 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-text-2xl text-green-600 fw-medium d-flex">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-black">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h2 class="fw-normal text-neutral-950 max-w-870-px tw-mb-3" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    we started successfully for visa agency since 1999
                </h2>
                <p class="fw-medium tw-text-4 text-neutral-600 tw-mb-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    We specialize in providing high-quality plumbing solutions for your home or business. Our experienced team is committed to resolving
                </p>
                <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-12" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <div class="max-w-310-px w-100">
                        <div class="d-flex align-items-center tw-gap-3 tw-mb-3">
                            <img src="assets/images/icon/successfully-two-icon1.png" alt="icon">
                            <span class="fw-medium tw-text-405 text-neutral-800">
                                Professional consultant
                            </span>
                        </div>
                        <p class="fw-normal tw-text-4 text-paragraph-400">
                            We are excited and pleased to introduce you to the wonderful, passionate.
                        </p>
                    </div>
                    <div class="max-w-310-px w-100">
                        <div class="d-flex align-items-center tw-gap-3 tw-mb-3">
                            <img src="assets/images/icon/successfully-two-icon2.png" alt="icon">
                            <span class="fw-medium tw-text-405 text-neutral-800">
                                Qualified and Caring
                            </span>
                        </div>
                        <p class="fw-normal tw-text-4 text-paragraph-400">
                            We are excited and pleased to introduce you to the wonderful, passionate.
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-center tw-gap-4 flex-wrap" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                    <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 rounded-pill" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label">Book free Consultation</span>
                        <span class="text-white tw-text-xl group-hover-text-white tw-duration-500 position-relative">
                            <i class="ph-bold ph-caret-right"></i>
                        </span>
                    </a>
                    <div class="d-flex align-items-center tw-gap-2 ">
                        <span>
                            <img src="assets/images/icon/successfully-two-icon3.png" alt="icon">
                        </span>
                        <div>
                            <span class="fw-normal tw-text-4 text-black d-block tw-mb-2">
                                Call Now
                            </span>
                            <a href="tel:+29494999773" class="fw-semibold tw-text-6 text-green-800 hover-text-green-800 hover-underline tw-duration-300">
                                +29 494 999 773
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= successfully two section end ====================== -->