<!-- ============================= team page section start ============================= -->
<section class="pt-90 pb-146">
    <div class="container max-w-1400-px">
        <div class="text-center tw-mb-12">
            <h5 class="tw-text-24-px fw-bold text-black d-block tw-mb-3">
                Team member
            </h5>
            <h2 class="tw-text-60-px fw-medium text-black">
                our dedicated team
            </h2>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6">
                <div class="group-item group">
                    <div class="position-relative animation-item group-hover-bg-gradient-6 tw-duration-300 tw-rounded-2xl">
                        <span class="w-100 overflow-hidden tw-rounded-2xl z-n1 position-relative">
                            <img src="assets/images/thumbs/team-page-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        </span>
                        <div class="position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x w-100 max-w-250-px text-center tw-display-none group-hover-item-d-block tw-duration-300">
                            <h5 class="fw-medium text-white tw-mb-2">
                                Estamina Cordix
                            </h5>
                            <ul class="d-flex align-items-center tw-gap-3 justify-content-center flex-wrap tw-mb-10">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-text-405 text-white">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://vimeo.com/" class="tw-text-405 text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                            viewBox="0 0 256 256">
                                        <path d="M236.09,74.08c-1.17,25.91-19.31,61.44-54.42,106.57-36.28,46.63-66.9,69.94-91.86,69.94-15.53,0-28.67-14.33-39.42-43L24.3,122.89c-4.4-12.22-8.73-18.37-13-18.37-3.41,0-9.63,5.61-18.66,16.82L0,111.67C10.45,94.89,21.63,78.1,33.55,61.32,47,42.77,59,33,69.61,33c10.68,0,19.34,9.91,25.99,29.75,9.3,26.74,15.78,43.41,19.44,49.99,10.71,21.74,22.45,32.61,35.22,32.61,9.94,0,24.77-14.93,44.48-44.8C223.51,78.45,235.22,62.1,236.09,74.08Z"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="tw-text-405 text-white">
                                       <i class="ph-fill ph-twitter-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="tw-text-405 text-white">
                                       <i class="ph-fill ph-linkedin-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="group-item group">
                    <div class="position-relative animation-item group-hover-bg-gradient-6 tw-duration-300 tw-rounded-2xl">
                        <span class="w-100 overflow-hidden tw-rounded-2xl z-n1 position-relative">
                            <img src="assets/images/thumbs/team-page-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        </span>
                        <div class="position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x w-100 max-w-250-px text-center tw-display-none group-hover-item-d-block tw-duration-300">
                            <h5 class="fw-medium text-white tw-mb-2">
                                Estamina Cordix
                            </h5>
                            <ul class="d-flex align-items-center tw-gap-3 justify-content-center flex-wrap tw-mb-10">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-text-405 text-white">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://vimeo.com/" class="tw-text-405 text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                            viewBox="0 0 256 256">
                                        <path d="M236.09,74.08c-1.17,25.91-19.31,61.44-54.42,106.57-36.28,46.63-66.9,69.94-91.86,69.94-15.53,0-28.67-14.33-39.42-43L24.3,122.89c-4.4-12.22-8.73-18.37-13-18.37-3.41,0-9.63,5.61-18.66,16.82L0,111.67C10.45,94.89,21.63,78.1,33.55,61.32,47,42.77,59,33,69.61,33c10.68,0,19.34,9.91,25.99,29.75,9.3,26.74,15.78,43.41,19.44,49.99,10.71,21.74,22.45,32.61,35.22,32.61,9.94,0,24.77-14.93,44.48-44.8C223.51,78.45,235.22,62.1,236.09,74.08Z"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="tw-text-405 text-white">
                                       <i class="ph-fill ph-twitter-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="tw-text-405 text-white">
                                       <i class="ph-fill ph-linkedin-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="group-item group">
                    <div class="position-relative animation-item group-hover-bg-gradient-6 tw-duration-300 tw-rounded-2xl">
                        <span class="w-100 overflow-hidden tw-rounded-2xl z-n1 position-relative">
                            <img src="assets/images/thumbs/team-page-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        </span>
                        <div class="position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x w-100 max-w-250-px text-center tw-display-none group-hover-item-d-block tw-duration-300">
                            <h5 class="fw-medium text-white tw-mb-2">
                                Estamina Cordix
                            </h5>
                            <ul class="d-flex align-items-center tw-gap-3 justify-content-center flex-wrap tw-mb-10">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-text-405 text-white">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://vimeo.com/" class="tw-text-405 text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                            viewBox="0 0 256 256">
                                        <path d="M236.09,74.08c-1.17,25.91-19.31,61.44-54.42,106.57-36.28,46.63-66.9,69.94-91.86,69.94-15.53,0-28.67-14.33-39.42-43L24.3,122.89c-4.4-12.22-8.73-18.37-13-18.37-3.41,0-9.63,5.61-18.66,16.82L0,111.67C10.45,94.89,21.63,78.1,33.55,61.32,47,42.77,59,33,69.61,33c10.68,0,19.34,9.91,25.99,29.75,9.3,26.74,15.78,43.41,19.44,49.99,10.71,21.74,22.45,32.61,35.22,32.61,9.94,0,24.77-14.93,44.48-44.8C223.51,78.45,235.22,62.1,236.09,74.08Z"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="tw-text-405 text-white">
                                       <i class="ph-fill ph-twitter-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="tw-text-405 text-white">
                                       <i class="ph-fill ph-linkedin-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="group-item group">
                    <div class="position-relative animation-item group-hover-bg-gradient-6 tw-duration-300 tw-rounded-2xl">
                        <span class="w-100 overflow-hidden tw-rounded-2xl z-n1 position-relative">
                            <img src="assets/images/thumbs/team-page-img4.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        </span>
                        <div class="position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x w-100 max-w-250-px text-center tw-display-none group-hover-item-d-block tw-duration-300">
                            <h5 class="fw-medium text-white tw-mb-2">
                                Estamina Cordix
                            </h5>
                            <ul class="d-flex align-items-center tw-gap-3 justify-content-center flex-wrap tw-mb-10">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-text-405 text-white">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://vimeo.com/" class="tw-text-405 text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                            viewBox="0 0 256 256">
                                        <path d="M236.09,74.08c-1.17,25.91-19.31,61.44-54.42,106.57-36.28,46.63-66.9,69.94-91.86,69.94-15.53,0-28.67-14.33-39.42-43L24.3,122.89c-4.4-12.22-8.73-18.37-13-18.37-3.41,0-9.63,5.61-18.66,16.82L0,111.67C10.45,94.89,21.63,78.1,33.55,61.32,47,42.77,59,33,69.61,33c10.68,0,19.34,9.91,25.99,29.75,9.3,26.74,15.78,43.41,19.44,49.99,10.71,21.74,22.45,32.61,35.22,32.61,9.94,0,24.77-14.93,44.48-44.8C223.51,78.45,235.22,62.1,236.09,74.08Z"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="tw-text-405 text-white">
                                       <i class="ph-fill ph-twitter-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="tw-text-405 text-white">
                                       <i class="ph-fill ph-linkedin-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="group-item group">
                    <div class="position-relative animation-item group-hover-bg-gradient-6 tw-duration-300 tw-rounded-2xl">
                        <span class="w-100 h-100 overflow-hidden tw-rounded-2xl z-n1 position-relative">
                            <img src="assets/images/thumbs/team-page-img5.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        </span>
                        <div class="position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x w-100 max-w-250-px text-center tw-display-none group-hover-item-d-block tw-duration-300">
                            <h5 class="fw-medium text-white tw-mb-2">
                                Estamina Cordix
                            </h5>
                            <ul class="d-flex align-items-center tw-gap-3 justify-content-center flex-wrap tw-mb-10">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-text-405 text-white">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://vimeo.com/" class="tw-text-405 text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                            viewBox="0 0 256 256">
                                        <path d="M236.09,74.08c-1.17,25.91-19.31,61.44-54.42,106.57-36.28,46.63-66.9,69.94-91.86,69.94-15.53,0-28.67-14.33-39.42-43L24.3,122.89c-4.4-12.22-8.73-18.37-13-18.37-3.41,0-9.63,5.61-18.66,16.82L0,111.67C10.45,94.89,21.63,78.1,33.55,61.32,47,42.77,59,33,69.61,33c10.68,0,19.34,9.91,25.99,29.75,9.3,26.74,15.78,43.41,19.44,49.99,10.71,21.74,22.45,32.61,35.22,32.61,9.94,0,24.77-14.93,44.48-44.8C223.51,78.45,235.22,62.1,236.09,74.08Z"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="tw-text-405 text-white">
                                       <i class="ph-fill ph-twitter-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="tw-text-405 text-white">
                                       <i class="ph-fill ph-linkedin-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= team page section end ============================= -->