<!-- ============================== Team details section start ================================= -->
<section class="team-details py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="pe-lg-5 h-100">
                    <img src="assets/images/thumbs/team-details-img1.png" alt="Image"
                        class="tw-rounded-2xl w-100 h-100 object-fit-cover">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="">
                    <h2 class="h4 font-heading fw-medium">George Clooney</h2>
                    <span class="tw-text-lg text-neutral-500">Visa expert</span>
                    <div class="tw-my-6 d-flex align-items-center tw-gap-4">
                        <a href="https://www.facebook.com"
                            class="tw-w-10 tw-h-10 border border-neutral-200 rounded-circle d-flex justify-content-center align-items-center text-heading hover-bg-main-600 hover-text-white hover-border-main-600 tw-text-lg">
                            <i class="ph-fill ph-facebook-logo"></i>
                        </a>
                        <a href="https://www.twitter.com"
                            class="tw-w-10 tw-h-10 border border-neutral-200 rounded-circle d-flex justify-content-center align-items-center text-heading hover-bg-main-600 hover-text-white hover-border-main-600 tw-text-lg">
                            <i class="ph-fill ph-twitter-logo"></i>
                        </a>
                        <a href="https://www.linkedin.com"
                            class="tw-w-10 tw-h-10 border border-neutral-200 rounded-circle d-flex justify-content-center align-items-center text-heading hover-bg-main-600 hover-text-white hover-border-main-600 tw-text-lg">
                            <i class="ph-fill ph-linkedin-logo"></i>
                        </a>
                        <a href="https://www.instagram.com"
                            class="tw-w-10 tw-h-10 border border-neutral-200 rounded-circle d-flex justify-content-center align-items-center text-heading hover-bg-main-600 hover-text-white hover-border-main-600 tw-text-lg">
                            <i class="ph-fill ph-instagram-logo"></i>
                        </a>
                    </div>
                    <p class="tw-text-base text-neutral-500 fw-medium">Lorem ipsum dolor sit amet, con adipiscing elit
                        tiam convallis elit id impedie. Quisq commodo simply free ornare tortor. If you are going to use
                        a passage.</p>
                    <h2 class="h2 tw-mb-5 tw-mt-6 max-w-520-px fw-medium">I Help my Clients Stand out And They Help me
                        Grow.</h2>

                    <div class="d-flex flex-column tw-gap-4">
                        <div class="">
                            <span
                                class="text-lg fw-semibold tw-mb-3 d-block text-heading text-capitalize cursor-small">business
                                managment</span>
                            <div class="progress-container" data-percentage='70'>
                                <div class="progress active"></div>
                                <div class="percentage active cursor-small">0%</div>
                            </div>
                        </div>
                        <div class="">
                            <span
                                class="text-lg fw-semibold tw-mb-3 d-block text-heading text-capitalize cursor-small">Expert
                                Dentist</span>
                            <div class="progress-container" data-percentage='80'>
                                <div class="progress active"></div>
                                <div class="percentage active cursor-small">0%</div>
                            </div>
                        </div>
                    </div>
                    <div class="tw-mt-8">
                        <div class="row gy-4">
                            <div class="col-6">
                                <div class="d-flex align-items-center tw-gap-205">
                                    <img src="assets/images/icon/circle-check-round.png" alt="Icon">
                                    <h2 class="h6 tw-text-base fw-medium">Best Quality Services</h2>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center tw-gap-205">
                                    <img src="assets/images/icon/circle-check-round.png" alt="Icon">
                                    <h2 class="h6 tw-text-base fw-medium">Time Saving</h2>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center tw-gap-205">
                                    <img src="assets/images/icon/circle-check-round.png" alt="Icon">
                                    <h2 class="h6 tw-text-base fw-medium">Meet the Deadlines</h2>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center tw-gap-205">
                                    <img src="assets/images/icon/circle-check-round.png" alt="Icon">
                                    <h2 class="h6 tw-text-base fw-medium">24/7 Customer Support</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tw-mt-12">
                        <a href="about.html"
                            class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main hover-style-one button--stroke d-inline-flex align-items-center justify-content-center tw-gap-2 group tw-py-5 tw-px-9 fw-semibold tw-rounded-lg tw-text-sm tw-end-0 tw-duration-200 group-item text-capitalize tw-mt-7"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">About our Dental clinic</span>
                            <span
                                class="z-1 position-relative group-hover-item-text-invert-black tw-leading-none d-flex">
                                <i class="ph-bold ph-caret-right"></i>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="tw-mt-15">
            <div class="">
                <h2 class="h4 tw-mb-5 fw-medium">About Me</h2>
                <p class="tw-text-lg text-neutral-500">This category focuses on the design construction of buildings and
                    the This a category focuses on the design and construction of buildings This category a focuses on
                    the design construction of buildings and the This a category of thfocuses on the design This
                    category focuses on the design construction of buildings and the This a category focuses on the
                    design and construction of buildings This category a focuses on the design construction of buildings
                    and the This a category of thfocuses on the design</p>
            </div>
        </div>
    </div>
</section>
<!-- ============================== Team details section end ================================= -->