<!-- ======================== Header top start ======================== -->
<div class="py-4">
  <div class="container max-w-1400-px">
    <div class="d-flex align-items-center tw-gap-4 justify-content-between">
      <div class="d-flex align-items-center tw-gap-1 flex-wrap">
        <span class="tw-text-4 text-green-700">

        </span>
        <span class="fw-medium tw-text-405 text-black">
          Offer Price: Starting at $2.59/per pecel box for a limited time
        </span>
      </div>
      <ul class="d-flex align-items-center tw-gap-3 flex-wrap">
        <li>
          <a href="javascript:void(0)" class="fw-medium tw-text-305 text-neutral-600 hover-text-black tw-duration-300">
            Track Order
          </a>
        </li>
        <li>
          <a href="about-us.html" class="fw-medium tw-text-305 text-neutral-600 hover-text-black tw-duration-300">
            About Us
          </a>
        </li>
        <li>
          <a href="contact-us.html" class="fw-medium tw-text-305 text-neutral-600 hover-text-black tw-duration-300">
            Contact
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="fw-medium tw-text-305 text-neutral-600 hover-text-black tw-duration-300">
            Wishlist
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- ======================== Header top end ======================== -->
