 <!-- ======================= visa dashboard section statr ======================== -->
<div class="pt-120 tw-pb-134-px">
    <div class="container max-w-1400-px">
        <div class="row gy-4">
            <div class="col-xl-3">
                <div class="bg-white tw-rounded-lg border-neutral-300 border w-100">
                    <button type="reset" class="tw-pt-5 tw-ps-7 tw-pe-3">
                        Filters
                    </button>
                    <span class="w-100 tw-h-px bg-neutral-300 tw-mb-8 tw-mt-3"></span>
                    <div class="tw-ps-7 tw-pb-9 tw-pe-6">
                        <div class="tw-mb-7">
                            <h6 class="fw-medium tw-text-405 text-black tw-mb-6">
                                Airlines
                            </h6>
                            <div class="form-check d-flex align-items-center tw-gap-2 tw-mb-4 tw-ps-0">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="checkDefault4">
                                <label class="form-check-label d-flex align-items-center tw-gap-1" for="checkDefault4">
                                    <span>
                                        <img src="assets/images/thumbs/visa-dashboard-img1.png" alt="img">
                                    </span>
                                    Default checkbox
                                </label>
                            </div>
                            <div class="form-check d-flex align-items-center tw-gap-2 tw-mb-3 tw-ps-0">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="checkDefault5">
                                <label class="form-check-label d-flex align-items-center tw-gap-1" for="checkDefault5">
                                    <span>
                                        <img src="assets/images/thumbs/visa-dashboard-img2.png" alt="img">
                                    </span>
                                    Biman Bangladesh Airlines
                                </label>
                            </div>
                            <div class="form-check d-flex align-items-center tw-gap-2 tw-mb-1 tw-ps-0">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="checkDefault6">
                                <label class="form-check-label d-flex align-items-center tw-gap-1" for="checkDefault6">
                                    <span>
                                        <img src="assets/images/thumbs/visa-dashboard-img3.png" alt="img">
                                    </span>
                                    Americal airlines
                                </label>
                            </div>
                            <div class="form-check d-flex align-items-center tw-gap-2 tw-ps-0">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="checkDefault7">
                                <label class="form-check-label d-flex align-items-center tw-gap-1" for="checkDefault7">
                                    <span>
                                        <img src="assets/images/thumbs/visa-dashboard-img4.png" alt="img">
                                    </span>
                                    US bangla airlines
                                </label>
                            </div>
                        </div>
                        <div class="tw-mb-10">
                            <h6 class="fw-medium tw-text-405 text-black tw-mb-6">
                                Stops
                            </h6>
                            <div class="form-check d-flex align-items-center tw-gap-2 tw-ps-0 tw-mb-3">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="checkDefault8">
                                <label class="form-check-label d-flex align-items-center tw-gap-1" for="checkDefault8">
                                    Non- Stop
                                </label>
                            </div>
                            <div class="form-check d-flex align-items-center tw-gap-2 tw-ps-0 tw-mb-3">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="checkDefault9">
                                <label class="form-check-label d-flex align-items-center tw-gap-1" for="checkDefault9">
                                    1 stop
                                </label>
                            </div>
                            <div class="form-check d-flex align-items-center tw-gap-2 tw-ps-0 tw-mb-3">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="checkDefault10">
                                <label class="form-check-label d-flex align-items-center tw-gap-1" for="checkDefault10">
                                    2 stops or more
                                </label>
                            </div>
                            <div class="form-check d-flex align-items-center tw-gap-2 tw-ps-0">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="checkDefault11">
                                <label class="form-check-label d-flex align-items-center tw-gap-1" for="checkDefault11">
                                    US bangla airlines
                                </label>
                            </div>
                        </div>
                        <div class="tw-mb-11">
                            <h6 class="fw-medium tw-text-405 text-black tw-mb-6">
                                Stops
                            </h6>
                            <!-- Slider start -->
                                <div class="slider">
                                    <div class="progressbar"></div>
                                </div>
                                <div class="range-input">
                                    <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                                    <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                                </div>
                                <div class="tw-mt-6 d-flex align-items-center justify-content-between">
                                    <div class="price-input d-flex align-items-center tw-gap-1">
                                        <div class="field">
                                            <input type="number" class="border-0 focus-outline-0 tw-w-11 text-neutral-600 input-min" value="2500">
                                        </div>
                                        <span class="">-</span>
                                        <div class="field">
                                            <input type="number" class="border-0 focus-outline-0 tw-w-11 text-neutral-600 input-max" value="7500">
                                        </div>
                                    </div>
                                </div>
                                <!-- Slider End -->
                        </div>
                        <div class="tw-mb-11">
                            <h6 class="fw-medium tw-text-405 text-black tw-mb-6">
                                Departure time
                            </h6>
                            <button type="button" class="tw-py-3 tw-px-4 bg-neutral-100 w-100 tw-rounded-lg tw-mb-3">
                                <div class="d-flex align-items-center tw-gap-3 justify-content-center">
                                    <span class="tw-text-7">
        
                                    </span>
                                    <span class="fw-medium tw-text-405 text-neutral-500">
                                        before 06 am
                                    </span>
                                </div>
                            </button>
                            <button type="button" class="tw-py-3 tw-px-4 bg-neutral-100 w-100 tw-rounded-lg tw-mb-3">
                                <div class="d-flex align-items-center tw-gap-3 justify-content-center">
                                    <span class="tw-text-7">
        
                                    </span>
                                    <span class="fw-medium tw-text-405 text-neutral-500">
                                        06am - 12am
                                    </span>
                                </div>
                            </button>
                            <button type="button" class="tw-py-3 tw-px-4 bg-neutral-100 w-100 tw-rounded-lg tw-mb-3">
                                <div class="d-flex align-items-center tw-gap-3 justify-content-center">
                                    <span class="tw-text-7">
        
                                    </span>
                                    <span class="fw-medium tw-text-405 text-neutral-500">
                                        12pm - 06pm
                                    </span>
                                </div>
                            </button>
                            <button type="button" class="tw-py-3 tw-px-4 bg-neutral-100 w-100 tw-rounded-lg tw-mb-3">
                                <div class="d-flex align-items-center tw-gap-3 justify-content-center">
                                    <span class="tw-text-7">
        
                                    </span>
                                    <span class="fw-medium tw-text-405 text-neutral-500">
                                        After 6pm
                                    </span>
                                </div>
                            </button>
                        </div>
                        <div class="">
                            <h6 class="fw-medium tw-text-405 text-black tw-mb-6">
                                Layover Time
                            </h6>
                            <div class="form-check d-flex align-items-center tw-gap-2 tw-ps-0 tw-mb-3">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="checkDefault12">
                                <label class="form-check-label d-flex align-items-center tw-gap-1" for="checkDefault12">
                                   0h - 05h
                                </label>
                            </div>
                            <div class="form-check d-flex align-items-center tw-gap-2 tw-ps-0 tw-mb-3">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="checkDefault13">
                                <label class="form-check-label d-flex align-items-center tw-gap-1" for="checkDefault13">
                                    5h - 10h
                                </label>
                            </div>
                            <div class="form-check d-flex align-items-center tw-gap-2 tw-ps-0 tw-mb-3">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="checkDefault14">
                                <label class="form-check-label d-flex align-items-center tw-gap-1" for="checkDefault14">
                                    10h - 15h
                                </label>
                            </div>
                            <div class="form-check d-flex align-items-center tw-gap-2 tw-ps-0">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="checkDefault15">
                                <label class="form-check-label d-flex align-items-center tw-gap-1" for="checkDefault15">
                                    15h+
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9">
                <div class="overflow-x-auto">
                    <div class="min-w-max">
                        <div class="tw-py-4 tw-px-5 bg-neutral-100 d-flex align-items-center justify-content-between flex-wrap tw-gap-4 tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                                <span class="tw-w-11 tw-h-11 rounded-circle bg-green-600 d-flex justify-content-center align-items-center tw-text-705 text-white">
        
                                </span>
                                <div class="">
                                    <h6 class="fw-medium tw-text-405 text-black d-block tw-mb-1">
                                        Dubai (DXB)          New York (USA)
                                    </h6>
                                    <div class="d-flex align-items-center tw-gap-3 flex-wrap ">
                                        <span class="fw-medium tw-text-305 text-neutral-400">
                                            16 Jun 2022
                                        </span>
                                        <span class="fw-medium tw-text-305 text-neutral-400">
                                            09:45 PM
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="tw-py-3 tw-px-10 text-white bg-neutral-500 tw-rounded-lg">
                                Change
                            </button>
                        </div>
    
                        <div class="bg-white tw-py-4 tw-px-305 tw-rounded-xl d-flex align-items-center justify-content-between tw-gap-4 tw-mb-5">
                            <div>
                                <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md tw-mb-2">
                                    <img src="assets/images/thumbs/visa-dashboard-img5.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                                </div>
                                <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md">
                                    <img src="assets/images/thumbs/visa-dashboard-img6.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                                </div>
                            </div>
                            <div>
                                <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                    09:45 PM
                                </h5>
                                <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                    16 Jun 2022
                                </span>
                                <h6 class="tw-text-4 fw-medium text-black">
                                    Dubai (DXB)
                                </h6>
                            </div>
                            <div>
                                <div class="slider">
                                        <div class="progressbar"></div>
                                    </div>
                                    <div class="range-input">
                                        <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                                        <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                                    </div>
                                    <div class="tw-mt-6 d-flex align-items-center justify-content-between">
                                        <div class="price-input d-flex align-items-center tw-gap-1">
                                            <div class="field">
                                                <input type="number" class="border-0 focus-outline-0 tw-w-11 text-neutral-600 input-min" value="2500">
                                            </div>
                                            <span class="">-</span>
                                            <div class="field">
                                                <input type="number" class="border-0 focus-outline-0 tw-w-11 text-neutral-600 input-max" value="7500">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div>
                                <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                    09:45 PM
                                </h5>
                                <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                    16 Jun 2022
                                </span>
                                <h6 class="tw-text-4 fw-medium text-black">
                                    new york(NYC)
                                </h6>
                            </div>
                            <div>
                                <h4 class="fw-medium text-main-600 tw-mb-1">
                                    $195
                                </h4>
                                <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-lg" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">Booking now</span>
                                </a>
                            </div>
                        </div>
    
                        <div class="bg-white tw-py-4 tw-px-305 tw-rounded-xl d-flex align-items-center justify-content-between tw-gap-4 tw-mb-5">
                            <div>
                                <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md tw-mb-2">
                                    <img src="assets/images/thumbs/visa-dashboard-img5.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                                </div>
                                <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md">
                                    <img src="assets/images/thumbs/visa-dashboard-img6.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                                </div>
                            </div>
                            <div>
                                <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                    09:45 PM
                                </h5>
                                <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                    16 Jun 2022
                                </span>
                                <h6 class="tw-text-4 fw-medium text-black">
                                    Dubai (DXB)
                                </h6>
                            </div>
                            <div>
                                <div class="slider">
                                        <div class="progressbar"></div>
                                    </div>
                                    <div class="range-input">
                                        <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                                        <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                                    </div>
                                    <div class="tw-mt-6 d-flex align-items-center justify-content-between">
                                        <div class="price-input d-flex align-items-center tw-gap-1">
                                            <div class="field">
                                                <input type="number" class="border-0 focus-outline-0 tw-w-11 text-neutral-600 input-min" value="2500">
                                            </div>
                                            <span class="">-</span>
                                            <div class="field">
                                                <input type="number" class="border-0 focus-outline-0 tw-w-11 text-neutral-600 input-max" value="7500">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div>
                                <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                    09:45 PM
                                </h5>
                                <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                    16 Jun 2022
                                </span>
                                <h6 class="tw-text-4 fw-medium text-black">
                                    new york(NYC)
                                </h6>
                            </div>
                            <div>
                                <h4 class="fw-medium text-main-600 tw-mb-1">
                                    $195
                                </h4>
                                <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-lg" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">Booking now</span>
                                </a>
                            </div>
                        </div>
    
                        <div class="bg-white tw-py-4 tw-px-305 tw-rounded-xl d-flex align-items-center justify-content-between tw-gap-4 tw-mb-5">
                            <div>
                                <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md tw-mb-2">
                                    <img src="assets/images/thumbs/visa-dashboard-img5.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                                </div>
                                <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md">
                                    <img src="assets/images/thumbs/visa-dashboard-img6.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                                </div>
                            </div>
                            <div>
                                <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                    09:45 PM
                                </h5>
                                <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                    16 Jun 2022
                                </span>
                                <h6 class="tw-text-4 fw-medium text-black">
                                    Dubai (DXB)
                                </h6>
                            </div>
                            <div>
                                <div class="slider">
                                        <div class="progressbar"></div>
                                    </div>
                                    <div class="range-input">
                                        <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                                        <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                                    </div>
                                    <div class="tw-mt-6 d-flex align-items-center justify-content-between">
                                        <div class="price-input d-flex align-items-center tw-gap-1">
                                            <div class="field">
                                                <input type="number" class="border-0 focus-outline-0 tw-w-11 text-neutral-600 input-min" value="2500">
                                            </div>
                                            <span class="">-</span>
                                            <div class="field">
                                                <input type="number" class="border-0 focus-outline-0 tw-w-11 text-neutral-600 input-max" value="7500">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div>
                                <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                    09:45 PM
                                </h5>
                                <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                    16 Jun 2022
                                </span>
                                <h6 class="tw-text-4 fw-medium text-black">
                                    new york(NYC)
                                </h6>
                            </div>
                            <div>
                                <h4 class="fw-medium text-main-600 tw-mb-1">
                                    $195
                                </h4>
                                <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-lg" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">Booking now</span>
                                </a>
                            </div>
                        </div>
    
                        <div class="bg-white tw-py-4 tw-px-305 tw-rounded-xl d-flex align-items-center justify-content-between tw-gap-4 tw-mb-5">
                            <div>
                                <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md tw-mb-2">
                                    <img src="assets/images/thumbs/visa-dashboard-img5.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                                </div>
                                <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md">
                                    <img src="assets/images/thumbs/visa-dashboard-img6.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                                </div>
                            </div>
                            <div>
                                <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                    09:45 PM
                                </h5>
                                <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                    16 Jun 2022
                                </span>
                                <h6 class="tw-text-4 fw-medium text-black">
                                    Dubai (DXB)
                                </h6>
                            </div>
                            <div>
                                <div class="slider">
                                        <div class="progressbar"></div>
                                    </div>
                                    <div class="range-input">
                                        <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                                        <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                                    </div>
                                    <div class="tw-mt-6 d-flex align-items-center justify-content-between">
                                        <div class="price-input d-flex align-items-center tw-gap-1">
                                            <div class="field">
                                                <input type="number" class="border-0 focus-outline-0 tw-w-11 text-neutral-600 input-min" value="2500">
                                            </div>
                                            <span class="">-</span>
                                            <div class="field">
                                                <input type="number" class="border-0 focus-outline-0 tw-w-11 text-neutral-600 input-max" value="7500">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div>
                                <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                    09:45 PM
                                </h5>
                                <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                    16 Jun 2022
                                </span>
                                <h6 class="tw-text-4 fw-medium text-black">
                                    new york(NYC)
                                </h6>
                            </div>
                            <div>
                                <h4 class="fw-medium text-main-600 tw-mb-1">
                                    $195
                                </h4>
                                <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-lg" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">Booking now</span>
                                </a>
                            </div>
                        </div>
    
                        <div class="bg-white tw-py-4 tw-px-305 tw-rounded-xl d-flex align-items-center justify-content-between tw-gap-4 tw-mb-5">
                            <div>
                                <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md tw-mb-2">
                                    <img src="assets/images/thumbs/visa-dashboard-img5.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                                </div>
                                <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md">
                                    <img src="assets/images/thumbs/visa-dashboard-img6.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                                </div>
                            </div>
                            <div>
                                <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                    09:45 PM
                                </h5>
                                <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                    16 Jun 2022
                                </span>
                                <h6 class="tw-text-4 fw-medium text-black">
                                    Dubai (DXB)
                                </h6>
                            </div>
                            <div>
                                <div class="slider">
                                        <div class="progressbar"></div>
                                    </div>
                                    <div class="range-input">
                                        <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                                        <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                                    </div>
                                    <div class="tw-mt-6 d-flex align-items-center justify-content-between">
                                        <div class="price-input d-flex align-items-center tw-gap-1">
                                            <div class="field">
                                                <input type="number" class="border-0 focus-outline-0 tw-w-11 text-neutral-600 input-min" value="2500">
                                            </div>
                                            <span class="">-</span>
                                            <div class="field">
                                                <input type="number" class="border-0 focus-outline-0 tw-w-11 text-neutral-600 input-max" value="7500">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div>
                                <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                    09:45 PM
                                </h5>
                                <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                    16 Jun 2022
                                </span>
                                <h6 class="tw-text-4 fw-medium text-black">
                                    new york(NYC)
                                </h6>
                            </div>
                            <div>
                                <h4 class="fw-medium text-main-600 tw-mb-1">
                                    $195
                                </h4>
                                <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-lg" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">Booking now</span>
                                </a>
                            </div>
                        </div>
                        
                        <div class="bg-white tw-py-4 tw-px-305 tw-rounded-xl d-flex align-items-center justify-content-between tw-gap-4 tw-mb-5">
                            <div>
                                <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md tw-mb-2">
                                    <img src="assets/images/thumbs/visa-dashboard-img5.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                                </div>
                                <div class="tw-px-4 tw-py-2 border-neutral-300 border tw-rounded-md">
                                    <img src="assets/images/thumbs/visa-dashboard-img6.png" alt="img" class="tw-w-110-px tw-h-40-px object-fit-cover">
                                </div>
                            </div>
                            <div>
                                <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                    09:45 PM
                                </h5>
                                <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                    16 Jun 2022
                                </span>
                                <h6 class="tw-text-4 fw-medium text-black">
                                    Dubai (DXB)
                                </h6>
                            </div>
                            <div>
                                <div class="slider">
                                        <div class="progressbar"></div>
                                    </div>
                                    <div class="range-input">
                                        <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                                        <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                                    </div>
                                    <div class="tw-mt-6 d-flex align-items-center justify-content-between">
                                        <div class="price-input d-flex align-items-center tw-gap-1">
                                            <div class="field">
                                                <input type="number" class="border-0 focus-outline-0 tw-w-11 text-neutral-600 input-min" value="2500">
                                            </div>
                                            <span class="">-</span>
                                            <div class="field">
                                                <input type="number" class="border-0 focus-outline-0 tw-w-11 text-neutral-600 input-max" value="7500">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div>
                                <h5 class="fw-medium text-black d-block tw-mb-1"> 
                                    09:45 PM
                                </h5>
                                <span class="fw-medium tw-text-305 text-neutral-400 tw-mb-3">
                                    16 Jun 2022
                                </span>
                                <h6 class="tw-text-4 fw-medium text-black">
                                    new york(NYC)
                                </h6>
                            </div>
                            <div>
                                <h4 class="fw-medium text-main-600 tw-mb-1">
                                    $195
                                </h4>
                                <a href="booking.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group active--translate-y-2 tw-rounded-lg" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">Booking now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======================= visa dashboard section end ======================== -->