<!-- ========================= visa section  start ======================= -->
<section class="pt-90 pb-146">
    <div class="container max-w-1400-px">
        <div class="d-flex justify-content-center">
            <div class="max-w-840-px w-100 tw-mb-10">
                <div class="d-flex align-items-center tw-gap-2 tw-mb-4 justify-content-center flex-wrap text-center"
                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="text-green-600 tw-text-7">
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                    </span>
                    <span class="fw-medium tw-text-405 text-black">
                        Study, Work, or Settle Abroad with 100% Legal Support
                    </span>
                </div>
                <h2 class="fw-medium text-paragraph-950 tw-mb-6 text-center tw-mb-3" data-aos="fade-up"
                    data-aos-duration="800" data-aos-delay="200">
                    We Inclusive And Educational <span class="fw-lighter">Tabletop Games</span> That
                </h2>
                <p class="fw-medium tw-text-4 text-neutral-600 text-center" data-aos="fade-up" data-aos-duration="800"
                    data-aos-delay="300">
                    We specialize in providing high-quality plumbing solutions for your home or<br> business. Our
                    experienced team is committed to resolving
                </p>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="position-relative group animation-item">
                    <a href="visa-details.html" class="w-100 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/visa-three-img1.png" alt="img"
                            class="w-100 course-item__img tw-duration-300">
                    </span>
                    <a href="visa-details.html"
                        class="bg-white tw-py-205 tw-px-3 fw-medium tw-text-5 text-paragraph-950 position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb-10 group-hover-bg-green-600 group-hover-text-white tw-rounded-lg max-w-220-px w-100 text-center">
                        Student Visa
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="position-relative group animation-item">
                    <a href="visa-details.html" class="w-100 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/visa-three-img2.png" alt="img"
                            class="w-100 course-item__img tw-duration-300">
                    </span>
                    <a href="visa-details.html"
                        class="bg-white tw-py-205 tw-px-3 fw-medium tw-text-5 text-paragraph-950 position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb-10 group-hover-bg-green-600 group-hover-text-white tw-rounded-lg max-w-220-px w-100 text-center">
                        Tourist Visa
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="position-relative group animation-item">
                    <a href="visa-details.html" class="w-100 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/visa-three-img3.png" alt="img"
                            class="w-100 course-item__img tw-duration-300">
                    </span>
                    <a href="visa-details.html"
                        class="bg-white tw-py-205 tw-px-3 fw-medium tw-text-5 text-paragraph-950 position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb-10 group-hover-bg-green-600 group-hover-text-white tw-rounded-lg max-w-220-px w-100 text-center">
                        Sponshored Visa
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                <div class="position-relative group animation-item">
                    <a href="visa-details.html" class="w-100 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/visa-three-img4.png" alt="img"
                            class="w-100 course-item__img tw-duration-300">
                    </span>
                    <a href="visa-details.html"
                        class="bg-white tw-py-205 tw-px-3 fw-medium tw-text-5 text-paragraph-950 position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb-10 group-hover-bg-green-600 group-hover-text-white tw-rounded-lg max-w-220-px w-100 text-center">
                        Family Visa
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="position-relative group animation-item">
                    <a href="visa-details.html" class="w-100 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/visa-img1.png" alt="img"
                            class="w-100 course-item__img tw-duration-300">
                    </span>
                    <a href="visa-details.html"
                        class="bg-white tw-py-205 tw-px-3 fw-medium tw-text-5 text-paragraph-950 position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb-10 group-hover-bg-green-600 group-hover-text-white tw-rounded-lg max-w-220-px w-100 text-center">
                        Student Visa
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="position-relative group animation-item">
                    <a href="visa-details.html" class="w-100 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/visa-img2.png" alt="img"
                            class="w-100 course-item__img tw-duration-300">
                    </span>
                    <a href="visa-details.html"
                        class="bg-white tw-py-205 tw-px-3 fw-medium tw-text-5 text-paragraph-950 position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb-10 group-hover-bg-green-600 group-hover-text-white tw-rounded-lg max-w-220-px w-100 text-center">
                        Tourist Visa
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="position-relative group animation-item">
                    <a href="visa-details.html" class="w-100 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/visa-img3.png" alt="img"
                            class="w-100 course-item__img tw-duration-300">
                    </span>
                    <a href="visa-details.html"
                        class="bg-white tw-py-205 tw-px-3 fw-medium tw-text-5 text-paragraph-950 position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb-10 group-hover-bg-green-600 group-hover-text-white tw-rounded-lg max-w-220-px w-100 text-center">
                        Sponshored Visa
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="position-relative group animation-item">
                    <a href="visa-details.html" class="w-100 overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/visa-img4.png" alt="img"
                            class="w-100 course-item__img tw-duration-300">
                    </span>
                    <a href="visa-details.html"
                        class="bg-white tw-py-205 tw-px-3 fw-medium tw-text-5 text-paragraph-950 position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb-10 group-hover-bg-green-600 group-hover-text-white tw-rounded-lg max-w-220-px w-100 text-center">
                        Family Visa
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= visa section  end ======================= -->