<!-- ====================== visa consulting section start ======================= -->
<section class="mt-120 pb-120 position-relative z-2">
    <img src="assets/images/shape/visa-consulting-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 w-100 d-lg-block d-none z-n1 tw-mt-15">
    <div class="container max-w-1290-px">
        <div class="max-w-840-px mx-auto text-center tw-mb-13">
            <div class="d-flex align-items-center justify-content-center tw-gap-2 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <span class="tw-text-2xl text-green-600 fw-medium d-flex">
                    <i class="ph-bold ph-paper-plane-tilt"></i>
                </span>
                <span class="fw-medium tw-text-405 text-black">
                    Study, Work, or Settle Abroad with 100% Legal Support
                </span>
            </div>
            <h2 class="fw-medium text-neutral-900 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                real time working process of visa consulting
            </h2>
            <p class="fw-medium tw-text-4 text-neutral-600 max-w-600-px mx-auto" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                We specialize in providing high-quality plumbing solutions for your home or business. Our experienced team is committed to resolving
            </p>
        </div>

        <div class="row gy-4 work-process-wrapper">
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="tw-px-8 bg-white tw-rounded-xl tw-py-16 position-relative shadow-top">
                    <h2 class="h5">Discovery & Planning</h2>
                    <span class="d-inline-block tw-w-100-px tw-h-1 bg-green-600 tw-mt-8 tw-mb-4"></span>
                    <p class="fw-medium tw-line-height-30-px max-w-310-px">Startup consulting helps entrepreneurs launch their businesses by expert in areas like finance, strategy.</p>    
                    <h2 class="nunber-gradient text-main-600 fw-bold position-absolute bottom-0 end-0 tw-mb-2 tw-text-90-px position-relative tw-leading-none">01</h2>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 z-1" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="tw-px-8 bg-white tw-rounded-xl tw-py-16 position-relative shadow-top z-1">
                    <h2 class="h5">Discovery & Planning</h2>
                    <span class="d-inline-block tw-w-100-px tw-h-1 bg-green-600 tw-mt-8 tw-mb-4"></span>
                    <p class="fw-medium tw-line-height-30-px max-w-310-px">Startup consulting helps entrepreneurs launch their businesses by expert in areas like finance, strategy.</p>    
                    <h2 class="nunber-gradient text-main-600 fw-bold position-absolute bottom-0 end-0 tw-mb-2 tw-text-90-px position-relative tw-leading-none">02</h2>

                    <span class="tw-w-14 tw-h-14 bg-white rounded-circle d-flex justify-content-center align-items-center border border-5 border-neutral-200 position-absolute top-50 translate-middle-y end-0 tw--me-40-px">
                        <img src="assets/images/icon/arrow-long.png" alt="Icon Long">
                    </span> 
                    <span class="tw-w-14 tw-h-14 bg-white rounded-circle d-flex justify-content-center align-items-center border border-5 border-neutral-200 position-absolute top-50 translate-middle-y start-0 tw--ms-40-px">
                        <img src="assets/images/icon/arrow-long.png" alt="Icon Long">
                    </span> 
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="tw-px-8 bg-white tw-rounded-xl tw-py-16 position-relative shadow-top">
                    <h2 class="h5">Discovery & Planning</h2>
                    <span class="d-inline-block tw-w-100-px tw-h-1 bg-green-600 tw-mt-8 tw-mb-4"></span>
                    <p class="fw-medium tw-line-height-30-px max-w-310-px">Startup consulting helps entrepreneurs launch their businesses by expert in areas like finance, strategy.</p>    
                    <h2 class="nunber-gradient text-main-600 fw-bold position-absolute bottom-0 end-0 tw-mb-2 tw-text-90-px position-relative tw-leading-none">03</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== visa consulting section end ======================= -->