
/* Colors class start */
@each $color, $shades in $colors {
    @each $shade, $value in $shades {
      .text-#{$color}-#{$shade} {
        color: var(--#{$color}-#{$shade});
      }
    }
  }
  
.text {
    &--white {
      color: hsl(var(--white));
    }
    &-heading {
      color: hsl(var(--heading-color));
    }
    &-body {
      color: hsl(var(--body-color));
    }
    &-main {
      color: var(--main-600);
    }
}
.text-white-72-persent {
  color: #FFFFFFB8;
}
/* Colors class End */