.tw-focus-visival-border-none:focus-visible {
    border: none !important;
    outline: 0;
}
.tw-focus-visival-border-main-600:focus-visible {
    border: 1px solid #3D66F8 !important;
    outline: 0;
}
.tw-focus-visival-border-bottom-main-600:focus-visible {
    border-bottom: 1px solid #3D66F8 !important;
    outline: 0;
}