/* Font Size Class Start */
.text {
  &-inherit {
      font-size: inherit;
  }
}

@each $property, $value in $font-sizes {
  .tw-text-#{$property} {
    font-size: $value;
  }
}  
/* Font Size Class End */


@each $property, $value in $spaces {
    .tw-text-#{$property} {
      font-size: $value;
    }
}  
.tw-text-110-px {
  font-size: clamp(2.5rem, -0.759rem + 6.7895vw, 6.875rem);
}
.tw-text-100-px {
  font-size: clamp(2rem, -1.5021rem + 7.2961vw, 6.25rem);
}
.tw-text-24-px {
  font-size: clamp(1.25rem, 0.8045rem + 0.9281vw, 1.5rem);
}
.tw-text-42-px {
  font-size: clamp(1.375rem, -0.1464rem + 3.1696vw, 2.625rem);
}
.tw-text-90-px {
  font-size: clamp(2.375rem, -1.5806rem + 8.2409vw, 5.625rem);
}
.tw-text-60-px {
  font-size: clamp(2rem, -0.13rem + 4.4374vw, 3.75rem);
}
/* Font Size Class End */