/* ======================== Group Css Start =============================== */
.text-invert-white {
  filter: brightness(0) invert(1);
}

.group {
  &:hover {
    .group-hover-text {
      &-white {
        color: hsl(var(--white)) !important;
      }

      &-main-600 {
        color: var(--main-600) !important;
      }

      &-purple-600 {
        color: var(--purple-600) !important;
      }

      &-green-600 {
        color: var(--green-600) !important;
      }

      &-black {
        color: #000000 !important;
      }
    }

    .group-hover-bg {
      &-white {
        background-color: hsl(var(--white)) !important;
      }

      &-white-8-persent {
        background-color: #FFFFFF14 !important;
      }

      &-main-600 {
        background-color: var(--main-600) !important;
      }

      &-green-600 {
        background-color: var(--green-600) !important;
      }

      &-whit-140 {
        background-color: #FFFFFF24 !important;
      }

      &-gradient-6 {
        background: linear-gradient(179.7deg, rgba(16, 49, 83, 0) -4.32%, rgba(16, 49, 83, 0) 14.2%, rgba(16, 49, 83, 0) 37.72%, rgba(16, 49, 83, 0.22) 53.77%, rgba(16, 49, 83, 0.82232) 67.68%, #103153 78.41%) !important;
      }

      &-gradient-flight {
        background: linear-gradient(180deg, rgba(0, 47, 95, 0.59) 0%, #000000 100%);
      }
    }

    .group-hover-border {
      &-none {
        border: none !important;
      }

      &-bottom-green-600 {
        box-shadow: 0px 12px #00CC99;
      }
    }

    .group-hover-shadow {
      &-black-9-persent {
        box-shadow: 0px 4px 53px 0px #00000017;
      }
    }
  }

  &-hover-text-transition {
    transition: inherit;
  }
}

.tw-invisible {
  visibility: hidden;
}

.tw-opacity-1 {
  opacity: 1;
}

.tw-display-none {
  display: none;
}

.tw-display-block {
  display: block;
}

.group-item {
  &:hover {
    .group-hover-item-visible {
      visibility: visible;
    }

    .group-hover-item-opacity-1 {
      opacity: 1 !important;
    }

    .group-hover-item-mt-0 {
      margin-top: 0;
    }

    .group-hover-item-scale-12 {
      transform: scale(1.2);
    }

    .group-hover-item-scale-1 {
      transform: scale(1);
    }

    .group-hover-item-translate-x-0 {
      transform: translateX(0);
    }

    .group-hover-item-d-block {
      display: block !important;
    }

    .group-hover-item-d-none {
      display: none !important;
    }

    .group-hover-item-text-invert-white {
      filter: brightness(0) invert(1);
    }

    .group-hover-item-text-invert-black {
      filter: brightness(0) invert(0);
    }
  }
}

/* ======================== Group Css End =============================== */