/* Max width Css Class Start */
.max-w {
    &-85-px {
        max-width: 85px;
    }

    &-200-px {
        max-width: 200px;
    }

    &-180-px {
        max-width: 180px;
    }

    &-210-px {
        max-width: 210px;

        @media (max-width: 574px) {
            max-width: 100%;
        }
    }

    &-209-px {
        max-width: 209px;
    }

    &-220-px {
        max-width: 220px;
    }

    &-240-px {
        max-width: 240px;
    }

    &-250-px {
        max-width: 250px;
    }

    &-270-px {
        max-width: 276px;

        @media (max-width: 1199px) {
            max-width: 400px;
        }

        @media (max-width: 1075px) {
            max-width: 350px;
        }

        @media (max-width: 975px) {
            max-width: 300px;
        }

        @media (max-width: 866px) {
            max-width: 260px;
        }

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }

    &-310-px {
        max-width: 310px;
    }

    &-330-px {
        max-width: 330px;
    }

    &-400-px {
        max-width: 400px;

        @media (max-width: 1199px) {
            max-width: 100%;
        }
    }

    &-436-px {
        max-width: 436px;
    }

    &-460-px {
        max-width: 460px;
    }

    &-500-px {
        max-width: 500px;

        @media (max-width: 992px) {
            max-width: 100%;
        }
    }

    &-530-px {
        max-width: 530px;
    }

    &-580-px {
        max-width: 580px;
    }

    &-560-px {
        max-width: 560px;
    }

    &-600-px {
        max-width: 600px;
    }

    &-630-px {
        max-width: 630px;
    }

    &-650-px {
        max-width: 650px;
    }

    &-690-px {
        max-width: 690px;
    }

    &-700-px {
        max-width: 700px;
    }

    &-730-px {
        max-width: 730px;
    }

    &-770-px {
        max-width: 770px;
    }

    &-820-px {
        max-width: 820px;
    }

    &-840-px {
        max-width: 840px;
    }

    &-850-px {
        max-width: 850px;
    }

    &-870-px {
        max-width: 870px;
    }

    &-900-px {
        max-width: 900px;
    }

    &-950-px {
        max-width: 950px;
    }

    &-960-px {
        max-width: 960px;
    }

    &-940-px {
        max-width: 940px;

        @media (max-width: 1258px) {
            max-width: 100%;
        }
    }

    &-1000-px {
        max-width: 1000px;
    }

    &-1140-px {
        max-width: 1140px;
    }

    &-1290-px {
        max-width: 1290px;
    }

    &-1400-px {
        max-width: 1400px;
    }

    &-1450-px {
        max-width: 1450px;
    }

    &-1500-px {
        max-width: 1500px;
    }

    &-1550-px {
        max-width: 1550px;
    }

    &-1650-px {
        max-width: 1650px;
    }

    &-1760-px {
        max-width: 1760px;
    }

    &-1800-px {
        max-width: 1800px;
    }

    &-2020-px {
        max-width: 2020px;
    }
}

/* Max width Css Class End */
.media-flex-warp-1258-px {
    @media (max-width: 1258px) {
        flex-wrap: wrap;
    }
}
.media-max-w-100-persent {
    max-width: 125px;
    @media (max-width: 404px) {
        max-width: 100%;
    }
}
.media-sm-max-w-100-persent {
    @media (max-width: 575px) {
        max-width: 100%;
    }
}