
/* Box shadow start */
.common-shadow {
  box-shadow: 0 6px 30px 0px #0000000a;  
}
.tw-hover-shadow-appy-now-bottom:hover {
  box-shadow: 0px 14px 22px 0px #00000017;
}
.tw-shadow-neutral-4-persent {
  box-shadow: 0px 4px 4px 0px #00000012 !important;
}
.tw-shadow-about-two {
  background-color: linear-gradient(180deg, rgba(16, 49, 83, 0) 1.29%, rgba(16, 49, 83, 0.116669) 72.54%, #103153 100%);
}
.tw-interact-three-shadow {
  background: linear-gradient(180deg, #FFFFFF 0%, #DADAE7 100%);
}
.tw-shadow-features-two {
  background: linear-gradient(89.5deg, #F1F1F3 1.56%, rgba(241, 241, 243, 0) 14.36%, rgba(241, 241, 243, 0) 89.08%, #F1F1F3 99.91%);
}
.shadow-black-5-persent {
  box-shadow: 0px 4px 8px 0px #0000000D;
}
.shadow-black-6-persent {
  box-shadow: 0px 6px 20px 0px #0000000F;
}
.contaict-sahdow {
  box-shadow: 0px 15px 10px 0px #BCC2C62E;
}
.tw-visa-banner-shadow {
  box-shadow: 0px 4px 28px 0px #00000014;
}
.tw-shadow-dicount {
  box-shadow: 0px 4px 4px 0px #00000012;
}
/* Box shadow End */
