/* ======================== brand section start ======================== */
.banner-three-img {
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
    height: calc(100% - 60px);
    margin: 30px;
    max-width: 40%;
}
.banner-three-content {
    @media (min-width: 992px) {
        max-width: 56%;
    }
}


.brand-grid-wrapper {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #ddd;
        inset-block-start: 50%;
        transform: translateY(-50%);
        inset-inline-start: 0;
    }
}

.brand-grid__item {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-inline-end: 1px solid #ddd;

    &:nth-child(6n) {
        border-inline-end: 0;
    }

    @media (min-width: 1200px) {
        height: 200px;
    }
}

/* ======================== brand section end ======================== */