.play-button::before {
    position: absolute;
    content: "";
    width: inherit;
    height: inherit;
    background: inherit;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: animate 2.3s ease-out infinite;
    animation: animate 2.3s ease-out infinite;
}