.play-button::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background: #FFFFFF4D;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: animate 2.3s ease-out infinite;
    animation: animate 2.3s ease-out infinite;
}