.round-shape {
    position: relative;

    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        box-shadow: 10px 10px #ebebef;
        border-radius: 50%;
        left: 62px;
        transform: rotate(90deg);
        bottom: 12px;
    }

    &::after {
        left: auto;
        right: 60px;
        transform: rotate(0deg);
    }
}